# Camera configuration file for MegaCam: describes the camera

# File formats that we know about
FORMATS         METADATA
	MEF	STR	suprime/format_mef.config
        RAW     STR     suprime/format_raw.config
        SPLIT   STR     suprime/format_split.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
	XY01	 STR	Cell
	XY11	 STR	Cell
	XY21	 STR	Cell
	XY00	 STR	Cell
	XY10	 STR	Cell
	XY20	 STR	Cell
	XY41	 STR	Cell
	XY31	 STR	Cell
	XY40	 STR	Cell
	XY30	 STR	Cell
	XY01_raw STR	ch1 ch2 ch3 ch4
	XY11_raw STR	ch1 ch2 ch3 ch4
	XY21_raw STR	ch1 ch2 ch3 ch4
	XY00_raw STR	ch1 ch2 ch3 ch4
	XY10_raw STR	ch1 ch2 ch3 ch4
	XY20_raw STR	ch1 ch2 ch3 ch4
	XY41_raw STR	ch1 ch2 ch3 ch4
	XY31_raw STR	ch1 ch2 ch3 ch4
	XY40_raw STR	ch1 ch2 ch3 ch4
	XY30_raw STR	ch1 ch2 ch3 ch4
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
  Rc        STR   W-C-RC
  Vr	    STR	  W-J-VR

  B	    STR	  W-J-B
  V	    STR	  W-J-V
  R	    STR	  W-C-RC
  I	    STR	  W-C-IC
  g	    STR	  W-S-G+
  r	    STR	  W-S-R+
  i	    STR	  W-S-I+
  z	    STR	  W-S-Z+
  
  Y	    STR	  W-J-Y
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID         METADATA
        FPA     STR     fpa
        CHIP    STR     {CHIP.NAME}
        CELL    STR     {CHIP.NAME}:{CELL.NAME}
        fpa     STR     fpa
        chip    STR     {CHIP.NAME}
        cell    STR     {CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	suprime		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias     STR BIAS
  zero     STR BIAS
  dark     STR DARK
  flat     STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
        # Other recipes
        PSPHOT          STR     suprime/psphot.config           # psphot details
        PSASTRO         STR     suprime/psastro.config          # psastro details
	PSWARP		STR	suprime/pswarp.config		# pswarp details
        PPIMAGE         STR     suprime/ppImage.config          # ppImage recipe
	REJECTIONS      STR     suprime/rejections.config       # rejection recipe
	PPMERGE		STR	suprime/ppMerge.config		# ppMerge recipe
	PPSTACK		STR	suprime/ppStack.config          # ppStack recipe
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-split.mdc		# File rules appropriate for MEF format

EXTNAME.RULES METADATA
  CMF.HEAD   STR {CHIP.NAME}.hdr
  CMF.DATA   STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD   STR {CHIP.NAME}.hdr
  PSF.TABLE  STR {CHIP.NAME}.psf_model
  PSF.RESID  STR {CHIP.NAME}.psf_resid

  REF.ASTROM STR {CHIP.NAME}.ref_astrom
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXP-ID
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode

BURNTOOL.STATE.GOOD        S16  0  # Value for burntool_state with the most recent bt version.
BURNTOOL.STATE.GOOD.UPDATE S16  0  # for upddate processing accept earlier version

FOV_REF                     F32     0   # Field of view of unvignetted region in FPA pixels.
FOV_MAX			    F32	    0
NPIX_REF 		    S32	    0
NPIX_MAX		    S32	    0
NPIX_INTERCHIP              S32     0

# This sets the maximum size for the fwhm_major.  This is roughly 3", and 98.67% of all exposures in the database are less than this.
MAX_ALLOWED_FWHM          F32         25

# don't censor any masked pixels
MASK.NO.CENSOR          U32 4294967295

METADATA.COMPRESSION         STR      7f # compression mode (nM): n = 1-9, M = f (filtered), h (Huffman), R (run-length)
