# The spliced MecaCam data is stored in single extensions for each chip

# How to recognise this type
RULE	METADATA
	TELESCOP	STR	Subaru
#	DETECTOR	STR	MegaCam
	INSTRUME	STR	SuprimeCam
#	NAXIS           S32     2
	EXTEND		BOOL	T
	PSMOSIAC	STR	CHIP
#       HISTORY         STR     imsplice: Splicing results in all detectors as if read from A amplifier
END

FILE	METADATA
	# How to read this data
	PHU		STR	FPA	# The FITS file represents an entire FPA
	EXTENSIONS	STR	CHIP	# The extensions represent chips
	FPA.OBS		STR	EXP-ID	# A PHU keyword for unique identifier
#	CONTENT		STR	DETECTOR	# Key to the CONTENTS menu
#	CHIP.NAME	STR	DETECTOR
#	CONTENT.RULE	STR	{CHIP.NAME} # How to derive the CONTENT when writing
END

# What's in the FITS file?
CONTENTS	METADATA
	# Extension name, chipName:chipType
        nausicaa  STR   XY01:spcam20080721
        kiki      STR   XY11:spcam20080721
        fio       STR   XY21:spcam20080721
        sophie    STR   XY00:spcam20080721
        sheeta    STR   XY10:spcam20080721
        satsuki   STR   XY20:spcam20080721
        chihiro   STR   XY41:spcam20080721
        clarisse  STR   XY31:spcam20080721
        ponyo     STR   XY40:spcam20080721
        san       STR   XY30:spcam20080721

	XY01	STR	XY01:spcam20080721
	XY11	STR	XY11:spcam20080721
	XY21	STR	XY21:spcam20080721
	XY00	STR	XY00:spcam20080721
	XY10	STR	XY10:spcam20080721
	XY20	STR	XY20:spcam20080721
	XY41	STR	XY41:spcam20080721
	XY31	STR	XY31:spcam20080721
	XY40	STR	XY40:spcam20080721
	XY30	STR	XY30:spcam20080721

END

# Specify the chips
CHIPS		METADATA
	# Chip type, cellName:cellType
        spcam20080721  STR    cell:cell
END


# Specify the cells
CELLS		METADATA
	# Cell type, concepts to use
        cell   METADATA
               CELL.BIASSEC.SOURCE      STR     VALUE
               CELL.TRIMSEC.SOURCE      STR     VALUE
               CELL.BIASSEC             STR     [521:568,1:48]
               CELL.TRIMSEC             STR     [520:2264,49:4225]
               CELL.X0                  S32     0
               CELL.GAIN.SOURCE         STR     HEADER
               CELL.GAIN                STR     GAIN
        END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	FPA.OBS		STR	EXP-ID
        FPA.AIRMASS     STR     AIRMASS
        FPA.FILTERID    STR     FILTER01
        FPA.FILTER      STR     FILTER01
	FPA.OBSTYPE	STR	DATA-TYP
	FPA.OBJECT	STR	OBJECT
	FPA.TIME	STR	MJD
        FPA.RA          STR     RA
        FPA.DEC         STR     DEC
        FPA.RADECSYS    STR     RADECSYS
        FPA.POSANGLE    STR     INST-PA
	FPA.FOCUS	STR	TELFOCUS # added at start of 03Am04
	FPA.ALT		STR	ALTITUDE
	FPA.AZ		STR	AZIMUTH
	FPA.TEMP	STR	DET-TMP
	FPA.EXPOSURE	STR	EXPTIME
	FPA.ZP		STR	ZPT_OBS
	CHIP.TEMP	STR	DET-TMP
        CELL.EXPOSURE   STR     EXPTIME
        CELL.DARKTIME   STR     DARKTIME
        CELL.READNOISE  STR     RDNOISE
	CELL.TIME	STR	MJD
        CELL.XBIN       STR     BIN-FCT1
        CELL.YBIN       STR     BIN-FCT2
END

# Default PS concepts that may be specified by value
DEFAULTS        METADATA
	FPA.TELESCOPE		STR	Subaru
	FPA.INSTRUMENT		STR	SuprimeCam
	FPA.DETECTOR	        STR	kiki
#	FPA.TIMESYS		STR	
	CHIP.XSIZE		S32	2048
	CHIP.YSIZE		S32	4224
	CELL.XSIZE		S32	2048
	CELL.YSIZE		S32	4224
	CELL.XWINDOW		S32	0
	CELL.YWINDOW		S32	0
	CELL.READDIR		S32	1		# Cell is read in x direction
        CELL.SATURATION		F32	50000.0
        CELL.BAD                F32     0
	CELL.XPARITY		S32	1
	CELL.YPARITY		S32	1
	CELL.Y0			S32	0
#	CELL.TIMESYS		STR	UTC
               CELL.TRIMSEC             STR     [1:2264,49:4225]
	CHIP.X0.DEPEND		STR	CHIP.NAME
	CHIP.X0		METADATA
                XY01    S32     23
                XY11    S32     2121
                XY21    S32     4221
                XY00    S32     0
                XY10    S32     2095
                XY20    S32     4208
                XY41    S32     8429
                XY31    S32     6337
                XY40    S32     8405
                XY30    S32     6315
	END

	CHIP.Y0.DEPEND		STR	CHIP.NAME
	CHIP.Y0		METADATA
                XY01    S32     3
                XY11    S32     2
                XY21    S32     0
                XY00    S32     4207
                XY10    S32     4229
                XY20    S32     4254
                XY41    S32     65
                XY31    S32     26
                XY40    S32     4253
                XY30    S32     4252
	END

	CHIP.XPARITY.DEPEND	STR	CHIP.NAME
	CHIP.XPARITY	METADATA
                XY01    S32     -1
                XY11    S32     -1
                XY21    S32     -1
                XY00    S32     -1
                XY10    S32     -1
                XY20    S32     -1
                XY41    S32     -1
                XY31    S32     -1
                XY40    S32     -1
                XY30    S32     -1
	END

	CHIP.YPARITY.DEPEND	STR	CHIP.NAME
	CHIP.YPARITY	METADATA
                XY01    S32     1
                XY11    S32     1
                XY21    S32     1
                XY00    S32     1
                XY10    S32     1
                XY20    S32     1
                XY41    S32     1
                XY31    S32     1
                XY40    S32     1
                XY30    S32     1
	END
END


# How to translation PS concepts into database lookups
DATABASE	METADATA
#	CELL.GAIN	STR	SELECT gain FROM camera WHERE chip_id = '{CHIP.NAME}' AND cell_id = '{CELL.NAME}'
END		

# Where there might be some ambiguity, specify the format
FORMATS		METADATA
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
	FPA.TIME	STR	MJD
	CELL.TIME	STR	MJD
END
 
