# The split MecaCam data is stored as single files for each chip, each a simple fits image

# How to recognise this type
RULE	METADATA
	TELESCOP	STR	Subaru
	INSTRUME	STR	SuprimeCam
	NAXIS           S32     2
        NAXIS1          S32     2272
        NAXIS2          S32     4273
END

FILE	METADATA
	# How to read this data
	PHU		STR	CHIP	# The FITS file represents a chip
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	EXP-ID	# A PHU keyword for unique identifier
	CONTENT		STR	DETECTOR	# Key to the CONTENTS menu
	CONTENT.RULE	STR	{CHIP.NAME} # How to derive the CONTENT when writing
END

# What's in the FITS file?
CONTENTS	METADATA
	# Content name, chipType
	nausicaa  STR	XY01_raw:spcam20080721
	kiki	  STR	XY11_raw:spcam20080721
	fio	  STR	XY21_raw:spcam20080721
	sophie	  STR	XY00_raw:spcam20080721
	sheeta	  STR	XY10_raw:spcam20080721
	satsuki	  STR	XY20_raw:spcam20080721
	chihiro	  STR	XY41_raw:spcam20080721
	clarisse  STR	XY31_raw:spcam20080721
	ponyo	  STR	XY40_raw:spcam20080721
	san	  STR	XY30_raw:spcam20080721
END

# Specify the chips
CHIPS		METADATA
	# Chip type, cellName:cellType
	spcam20080721 METADATA
	  ch1 STR ch1:ch1
	  ch2 STR ch2:ch2
	  ch3 STR ch4:ch3
	  ch4 STR ch4:ch4
	END
END


# Specify the cells
CELLS		METADATA
	# Cell type, concepts for this type
	ch1   METADATA
	       CELL.BIASSEC.SOURCE	STR	VALUE
	       CELL.TRIMSEC.SOURCE	STR	VALUE
	       CELL.BIASSEC		STR	[521:568,1:48]
	       CELL.TRIMSEC		STR	[9:520:49,4225]
	       CELL.X0 			S32	0
	       CELL.GAIN.SOURCE 	STR 	HEADER
	       CELL.GAIN	 	STR	GAIN
	END
	# Cell type, concepts for this type
	ch2   METADATA
	       CELL.BIASSEC.SOURCE	STR	VALUE
	       CELL.TRIMSEC.SOURCE	STR	VALUE
	       CELL.BIASSEC		STR	[569:616,1:48]
	       CELL.TRIMSEC		STR	[617:1128,49:4225]
	       CELL.X0 			S32	0
	       CELL.GAIN.SOURCE 	STR 	HEADER
	       CELL.GAIN	 	STR	GAIN
	END
	# Cell type, concepts for this type
	ch3   METADATA
	       CELL.BIASSEC.SOURCE	STR	VALUE
	       CELL.TRIMSEC.SOURCE	STR	VALUE
	       CELL.BIASSEC		STR	[1657:1704,1:48]
	       CELL.TRIMSEC		STR	[1145:1656,49:4225]
	       CELL.X0 			S32	0
	       CELL.GAIN.SOURCE 	STR 	HEADER
	       CELL.GAIN	 	STR	GAIN
	END
	# Cell type, concepts for this type
	ch4   METADATA
	       CELL.BIASSEC.SOURCE	STR	VALUE
	       CELL.TRIMSEC.SOURCE	STR	VALUE
	       CELL.BIASSEC		STR	[1705:1752,1:48]
	       CELL.TRIMSEC		STR	[1753:2264,49:4225]
	       CELL.X0 			S32	0
	       CELL.GAIN.SOURCE 	STR 	HEADER
	       CELL.GAIN	 	STR	GAIN
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
        FPA.OBS         STR     EXP-ID
	FPA.DETECTOR    STR	DETECTOR
        FPA.AIRMASS     STR     AIRMASS
        FPA.FILTER      STR     FILTER01
        FPA.FILTERID    STR     FILTER01
        FPA.POSANGLE    STR     INST-PA
        FPA.RA          STR     RA
        FPA.DEC         STR     DEC
        FPA.RADECSYS    STR     RADECSYS
	FPA.OBSTYPE	STR	DATA-TYP
	FPA.OBJECT	STR	OBJECT
	FPA.FOCUS	STR	FOC-VAL
	FPA.TIME	STR	MJD
	FPA.TIMESYS	STR	TIMESYS
	FPA.ALT		STR	ALTITUDE
	FPA.AZ		STR	AZIMUTH
	FPA.TEMP	STR	DET-TMP
	FPA.EXPOSURE	STR	EXPTIME
	CHIP.TEMP	STR	DET-TMP
        CELL.EXPOSURE   STR     EXPTIME
        CELL.DARKTIME   STR     DARKTIME
#       CELL.READNOISE  STR     RDNOISE
	CELL.TIME	STR	MJD
	CELL.TIMESYS	STR	TIMESYS
        CELL.XBIN       STR     BIN-FCT1
        CELL.YBIN       STR     BIN-FCT2

        # FPA.TELTEMP.M1     STR  TELTEMM1 # Primary mirror temps (C) 
        # FPA.TELTEMP.M1CELL STR  TELTEMMS # Primary mirror support temps (C)   
        # FPA.TELTEMP.M2     STR  TELTEMM2 # Secondary mirror temps (C
        # FPA.TELTEMP.SPIDER STR  TELTEMSP # Spider temperatures (C)  
        FPA.TELTEMP.TRUSS  STR  DOM-TMP # Mid truss temperatures (C
        FPA.TELTEMP.EXTRA  STR  OUT-TMP # Miscellaneous temperatures (C)     
END

# Default PS concepts that may be specified by value
DEFAULTS        METADATA
	FPA.TELESCOPE		STR	Subaru
	FPA.INSTRUMENT		STR	SuprimeCam
	CHIP.XSIZE		S32	2048
	CHIP.YSIZE		S32	4224
	CELL.XSIZE		S32	2048
	CELL.YSIZE		S32	4224
	CELL.XWINDOW		S32	0
	CELL.YWINDOW		S32	0
        CELL.SATURATION         S32     60000
	CELL.READDIR		S32	1		# Cell is read in x direction
        CELL.SATURATION		F32	50000.0
        CELL.READNOISE          F32     5.0  # XXX wild guess
        CELL.BAD                F32     0
	CELL.XPARITY		S32	1
	CELL.YPARITY		S32	1
	CELL.Y0			S32	0
	CHIP.X0.DEPEND		STR	CHIP.NAME

	CHIP.X0		METADATA
		XY01	S32	23
		XY11	S32	2121
		XY21	S32	4221
		XY00	S32	0
		XY10	S32	2095
		XY20	S32	4208
		XY41	S32	8429
		XY31	S32	6337
		XY40	S32	8405
		XY30	S32	6315
	END
	CHIP.Y0.DEPEND		STR	CHIP.NAME
	CHIP.Y0		METADATA
		XY01	S32	3
		XY11	S32	2
		XY21	S32	0
		XY00	S32	4207
		XY10	S32	4229
		XY20	S32	4254
		XY41	S32	65
		XY31	S32	26
		XY40	S32	4253
		XY30	S32	4252		
	END

	CHIP.XPARITY.DEPEND	STR	CHIP.NAME
	CHIP.XPARITY	METADATA
		XY01	S32	-1
		XY11	S32	-1
		XY21	S32	-1
		XY00	S32 	-1
		XY10	S32	-1
		XY20	S32	-1
		XY41	S32	-1
		XY31	S32	-1
		XY40	S32	-1
		XY30	S32	-1
	END
	CHIP.YPARITY.DEPEND	STR	CHIP.NAME
	CHIP.YPARITY	METADATA
		XY01	S32	1
		XY11	S32	1
		XY21	S32	1
		XY00	S32 	1
		XY10	S32	1
		XY20	S32	1
		XY41	S32	1
		XY31	S32	1
		XY40	S32	1
		XY30	S32	1
	END
END


# How to translation PS concepts into database lookups
DATABASE	METADATA
	TYPE		dbEntry		TABLE		COLUMN		GIVENDBCOL	GIVENPS
#	CELL.GAIN	dbEntry		Camera		gain		chipId,cellId	CHIP.NAME,CELL.NAME
#	CELL.READNOISE	dbEntry		Camera		readNoise	chipId,cellId	CHIP.NAME,CELL.NAME

# A database entry refers to a particular column (COLUMN) in a
# particular table (TABLE), given certain PS concepts (GIVENPS) that
# match certain database columns (GIVENDBCOL).
END		


# Where there might be some ambiguity, specify the format
FORMATS		METADATA
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
	FPA.TIME	STR	MJD
	CELL.TIME	STR	MJD
END
 
