# "mcshort" is a MegaCam camera with only the central six chips --- it's faster than the entire FPA.
# Camera configuration file for MegaCam: describes the camera

# File formats that we know about
FORMATS		METADATA
	RAW	STR	mcshort/format_raw.config
	SPLICED	STR	mcshort/format_spliced.config
	SPLIT	STR	mcshort/format_split.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA	METADATA
#	ccd00	STR	LeftAmp RightAmp
#	ccd01	STR	LeftAmp RightAmp
#	ccd02	STR	LeftAmp RightAmp
#	ccd03	STR	LeftAmp RightAmp
#	ccd04	STR	LeftAmp RightAmp
#	ccd05	STR	LeftAmp RightAmp
#	ccd06	STR	LeftAmp RightAmp
#	ccd07	STR	LeftAmp RightAmp
#	ccd08	STR	LeftAmp RightAmp
#	ccd09	STR	LeftAmp RightAmp
#	ccd10	STR	LeftAmp RightAmp
#	ccd11	STR	LeftAmp RightAmp
	ccd12	STR	LeftAmp RightAmp
	ccd13	STR	LeftAmp RightAmp
	ccd14	STR	LeftAmp RightAmp
#	ccd15	STR	LeftAmp RightAmp
#	ccd16	STR	LeftAmp RightAmp
#	ccd17	STR	LeftAmp RightAmp
#	ccd18	STR	LeftAmp RightAmp
#	ccd19	STR	LeftAmp RightAmp
#	ccd20	STR	LeftAmp RightAmp
	ccd21	STR	LeftAmp RightAmp
	ccd22	STR	LeftAmp RightAmp
	ccd23	STR	LeftAmp RightAmp
#	ccd24	STR	LeftAmp RightAmp
#	ccd25	STR	LeftAmp RightAmp
#	ccd26	STR	LeftAmp RightAmp
#	ccd27	STR	LeftAmp RightAmp
#	ccd28	STR	LeftAmp RightAmp
#	ccd29	STR	LeftAmp RightAmp
#	ccd30	STR	LeftAmp RightAmp
#	ccd31	STR	LeftAmp RightAmp
#	ccd32	STR	LeftAmp RightAmp
#	ccd33	STR	LeftAmp RightAmp
#	ccd34	STR	LeftAmp RightAmp
#	ccd35	STR	LeftAmp RightAmp
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
   u        STR   u.MP9301     
   g        STR   g.MP9401     
   r        STR   r.MP9601     
   i        STR   i.MP9701     
   z        MULTI
   z        STR   z.MP9801     
   z        STR   Zp           
   z        STR   Zprime       

   Ha       MULTI
   Ha       STR   Ha.MP7605    
   Ha       STR   Halpha       
   Ha       STR   Haalpha.on   
   HaOff    STR   HaOFF.MP7604 
   	              		
   CN       MULTI
   CN       STR   CN.MP780     
   CN       STR   cn.MP7803    
   CN       STR   CN.MP7803    
   	              		
   TiO      MULTI
   TiO      STR   TiO.MP77     
   TiO      STR   tio.MP7701   
   TiO      STR   TiO.MP7701   
   NB920    STR   NB920        
   	              		
   B2F      STR   B2F          
   Bj       STR   Bj           
   Vj       STR   Vj           
   Rj       STR   Rj           
   Ij       STR   Ij           
   Hb       STR   Hb           
   HbOff    STR   HbOff        
END

# Recipe options
RECIPES		METADATA
	# Other recipes
        PSPHOT          STR     megacam/psphot.config           # psphot details
        PSASTRO         STR     megacam/psastro.config          # psastro details
	PPSTATS		STR	megacam/ppStats.config		# ppStats recipe
	PPIMAGE         STR     megacam/ppImage.config		# ppImage recipe
END


# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc
FILERULES       STR     recipes/filerules-mef.mdc

