### Example ppStats recipe

MULTI	HEADERS		# May specify multiple HEADERS
HEADER		STR	HEADER1,HEADER2			# Read these headers
HEADER		STR	HEADER3				# Read these headers too

MULTI	STATS		# May specify multiple STATS
STAT		STR	SAMPLE_MEAN,SAMPLE_STDEV	# Calculate these statistics
STAT		STR	ROBUST_MEDIAN			# Calculate these statistics too

MULTI   ANALYSIS        # metadata blocks to search in chip/cell/readout->analysis
ANALYSIS        STR     PSPHOT.HEADER
ANALYSIS        STR     PSASTRO.HEADER

SAMPLE		F32	0.1				# Fraction of cell to sample

MULTI	CHIPS		# May specify multiple CHIPS
CHIPS		STR	chip00, chip01			# Look at these chips
CHIPS		STR	chip22				# Look at this chip too

MULTI	CELLS		# May specify multiple CELLS
CELLS		STR	LeftCell,RightCell		# Look at these cells
CELLS		STR	UpsideDownCell			# Look at this cell too

MASKVAL		U8	0xff
