# Camera configuration file for MegaCam: describes the camera

# File formats that we know about
FORMATS         METADATA
        MEF     STR     hsc/format_mef.config  # for output cmfs from, e.g., camera
        RAW     STR     hsc/format_raw.config
        CMF     STR     hsc/format_cmf.config  # chip output cmfs
#       SPLIT   STR     hsc/format_split.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        x000   STR     CH1 CH2 CH3 CH4
        x001   STR     CH1 CH2 CH3 CH4
        x002   STR     CH1 CH2 CH3 CH4
        x003   STR     CH1 CH2 CH3 CH4
        x004   STR     CH1 CH2 CH3 CH4
        x005   STR     CH1 CH2 CH3 CH4
        x006   STR     CH1 CH2 CH3 CH4
        x007   STR     CH1 CH2 CH3 CH4
        x008   STR     CH1 CH2 CH3 CH4
        x009   STR     CH1 CH2 CH3 CH4
        x010   STR     CH1 CH2 CH3 CH4
        x011   STR     CH1 CH2 CH3 CH4
        x012   STR     CH1 CH2 CH3 CH4
        x013   STR     CH1 CH2 CH3 CH4
        x014   STR     CH1 CH2 CH3 CH4
        x015   STR     CH1 CH2 CH3 CH4
        x016   STR     CH1 CH2 CH3 CH4
        x017   STR     CH1 CH2 CH3 CH4
        x018   STR     CH1 CH2 CH3 CH4
        x019   STR     CH1 CH2 CH3 CH4
        x020   STR     CH1 CH2 CH3 CH4
        x021   STR     CH1 CH2 CH3 CH4
        x022   STR     CH1 CH2 CH3 CH4
        x023   STR     CH1 CH2 CH3 CH4
        x024   STR     CH1 CH2 CH3 CH4
        x025   STR     CH1 CH2 CH3 CH4
        x026   STR     CH1 CH2 CH3 CH4
        x027   STR     CH1 CH2 CH3 CH4
        x028   STR     CH1 CH2 CH3 CH4
        x029   STR     CH1 CH2 CH3 CH4
        x030   STR     CH1 CH2 CH3 CH4
        x031   STR     CH1 CH2 CH3 CH4
        x032   STR     CH1 CH2 CH3 CH4
        x033   STR     CH1 CH2 CH3 CH4
        x034   STR     CH1 CH2 CH3 CH4
        x035   STR     CH1 CH2 CH3 CH4
        x036   STR     CH1 CH2 CH3 CH4
        x037   STR     CH1 CH2 CH3 CH4
        x038   STR     CH1 CH2 CH3 CH4
        x039   STR     CH1 CH2 CH3 CH4
        x040   STR     CH1 CH2 CH3 CH4
        x041   STR     CH1 CH2 CH3 CH4
        x042   STR     CH1 CH2 CH3 CH4
        x043   STR     CH1 CH2 CH3 CH4
        x044   STR     CH1 CH2 CH3 CH4
        x045   STR     CH1 CH2 CH3 CH4
        x046   STR     CH1 CH2 CH3 CH4
        x047   STR     CH1 CH2 CH3 CH4
        x048   STR     CH1 CH2 CH3 CH4
        x049   STR     CH1 CH2 CH3 CH4
        x050   STR     CH1 CH2 CH3 CH4
        x051   STR     CH1 CH2 CH3 CH4
        x052   STR     CH1 CH2 CH3 CH4
        x053   STR     CH1 CH2 CH3 CH4
        x054   STR     CH1 CH2 CH3 CH4
        x055   STR     CH1 CH2 CH3 CH4
        x056   STR     CH1 CH2 CH3 CH4
        x057   STR     CH1 CH2 CH3 CH4
        x058   STR     CH1 CH2 CH3 CH4
        x059   STR     CH1 CH2 CH3 CH4
        x060   STR     CH1 CH2 CH3 CH4
        x061   STR     CH1 CH2 CH3 CH4
        x062   STR     CH1 CH2 CH3 CH4
        x063   STR     CH1 CH2 CH3 CH4
        x064   STR     CH1 CH2 CH3 CH4
        x065   STR     CH1 CH2 CH3 CH4
        x066   STR     CH1 CH2 CH3 CH4
        x067   STR     CH1 CH2 CH3 CH4
        x068   STR     CH1 CH2 CH3 CH4
        x069   STR     CH1 CH2 CH3 CH4
        x070   STR     CH1 CH2 CH3 CH4
        x071   STR     CH1 CH2 CH3 CH4
        x072   STR     CH1 CH2 CH3 CH4
        x073   STR     CH1 CH2 CH3 CH4
        x074   STR     CH1 CH2 CH3 CH4
        x075   STR     CH1 CH2 CH3 CH4
        x076   STR     CH1 CH2 CH3 CH4
        x077   STR     CH1 CH2 CH3 CH4
        x078   STR     CH1 CH2 CH3 CH4
        x079   STR     CH1 CH2 CH3 CH4
        x080   STR     CH1 CH2 CH3 CH4
        x081   STR     CH1 CH2 CH3 CH4
        x082   STR     CH1 CH2 CH3 CH4
        x083   STR     CH1 CH2 CH3 CH4
        x084   STR     CH1 CH2 CH3 CH4
        x085   STR     CH1 CH2 CH3 CH4
        x086   STR     CH1 CH2 CH3 CH4
        x087   STR     CH1 CH2 CH3 CH4
        x088   STR     CH1 CH2 CH3 CH4
        x089   STR     CH1 CH2 CH3 CH4
        x090   STR     CH1 CH2 CH3 CH4
        x091   STR     CH1 CH2 CH3 CH4
        x092   STR     CH1 CH2 CH3 CH4
        x093   STR     CH1 CH2 CH3 CH4
        x094   STR     CH1 CH2 CH3 CH4
        x095   STR     CH1 CH2 CH3 CH4
        x096   STR     CH1 CH2 CH3 CH4
        x097   STR     CH1 CH2 CH3 CH4
        x098   STR     CH1 CH2 CH3 CH4
        x099   STR     CH1 CH2 CH3 CH4
        x100   STR     CH1 CH2 CH3 CH4
        x101   STR     CH1 CH2 CH3 CH4
        x102   STR     CH1 CH2 CH3 CH4
        x103   STR     CH1 CH2 CH3 CH4
        x104   STR     CH1 CH2 CH3 CH4
        x105   STR     CH1 CH2 CH3 CH4
        x106   STR     CH1 CH2 CH3 CH4
        x107   STR     CH1 CH2 CH3 CH4
        x108   STR     CH1 CH2 CH3 CH4
        x109   STR     CH1 CH2 CH3 CH4
        x110   STR     CH1 CH2 CH3 CH4
        x111   STR     CH1 CH2 CH3 CH4
#       ccd112   STR     LeftAmp RightAmp # guide ccds are not saved
#       ccd113   STR     LeftAmp RightAmp # guide ccds are not saved
#       ccd114   STR     LeftAmp RightAmp # guide ccds are not saved
#       ccd115   STR     LeftAmp RightAmp # guide ccds are not saved
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
   g        STR   HSC-g
   r	    MULTI
   r        STR   HSC-r
   r        STR   HSC-r2
   i        MULTI
   i        STR   HSC-i
   i        STR   HSC-i2
   z        STR   HSC-z
   y	    STR   HSC-Y
   NB816    STR   NB0816
   NB921    MULTI
   NB921    STR   NB0921
   NB921    STR   NB0926
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID         METADATA
        FPA     STR     fpa
        CHIP    STR     {CHIP.NAME}
        CELL    STR     {CHIP.NAME}:{CELL.NAME}
        fpa     STR     fpa
        chip    STR     {CHIP.NAME}
        cell    STR     {CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	hsc		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias     STR BIAS
  zero     STR BIAS
  dark     STR DARK
  flat     STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
        # Other recipes
        PSPHOT          STR     hsc/psphot.config           # psphot details
        PSASTRO         STR     hsc/psastro.config          # psastro details
#	PSWARP		STR	hsc/pswarp.config		# pswarp details
        PPIMAGE         STR     hsc/ppImage.config          # ppImage recipe
#	REJECTIONS      STR     hsc/rejections.config       # rejection recipe
	PPMERGE		STR	hsc/ppMerge.config		# ppMerge recipe
#	PPSTACK		STR	hsc/ppStack.config          # ppStack recipe
        PPSTATS         STR     hsc/ppStats.config
	PPSTACK         STR     hsc/ppStack.config
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-split.mdc		# File rules appropriate for MEF format

EXTNAME.RULES METADATA
  CMF.HEAD   STR {CHIP.NAME}.hdr
  CMF.DATA   STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD   STR {CHIP.NAME}.hdr
  PSF.TABLE  STR {CHIP.NAME}.psf_model
  PSF.RESID  STR {CHIP.NAME}.psf_resid

  REF.ASTROM STR {CHIP.NAME}.ref_astrom
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXPNUM
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode

BURNTOOL.STATE.GOOD        S16  0  # Value for burntool_state with the most recent bt version.
BURNTOOL.STATE.GOOD.UPDATE S16  0  # for upddate processing accept earlier version

FOV_REF                     F32     0   # Field of view of unvignetted region in FPA pixels.
FOV_MAX			    F32	    0
NPIX_REF 		    S32	    0
NPIX_MAX		    S32	    0
NPIX_INTERCHIP              S32     0

# This sets the maximum size for the fwhm_major.  This is roughly 3", and 98.67% of all exposures in the database are less than this.
MAX_ALLOWED_FWHM          F32         25

# don't censor any masked pixels
MASK.NO.CENSOR          U32 4294967295

METADATA.COMPRESSION         STR      7f # compression mode (nM): n = 1-9, M = f (filtered), h (Huffman), R (run-length)
