
# binned output image options
BIN1.XBIN               S32      16
BIN1.YBIN               S32      16
BIN2.XBIN               S32     256
BIN2.YBIN               S32     256

# Normalization class
NORM.CLASS              STR     CHIP             # How to find the per-class normalizations

DETREND.CONSTRAINTS  METADATA
  FLAT METADATA
    DETTYPE STR FLAT
    FILTER  STR FPA.FILTERID
  END

  FRINGE METADATA
    FILTER  STR FPA.FILTERID
  END
END   

FRINGE.FILTERS MULTI
FRINGE.FILTERS STR HSC-Y

# Standard chip processing
CHIP	METADATA
  BASE.FITS          BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS     BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS          BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    TRUE            # Overscan subtraction
  NONLIN             BOOL    FALSE           # Non-linearity correction; not implemented
  BIAS               BOOL    TRUE            # Bias subtraction
  DARK               BOOL    FALSE           # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    TRUE            # Flat-field normalisation
  MASK               BOOL    TRUE            # Mask bad pixels
  FRINGE             BOOL    TRUE            # Fringe subtraction
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM             BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BACKGROUND         BOOL    TRUE            # Subtract background?
  MASK.STATS         BOOL    TRUE            # Calculate Mask statistics.
END

# No operation except rebinning and potential normalisation
# used by the detrend normalization stage, the background should not be subtracted
PPIMAGE_N          METADATA
  BASE.FITS          BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS     BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS          BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    FALSE           # Overscan subtraction
  NONLIN             BOOL    FALSE           # Non-linearity correction; not implemented
  BIAS               BOOL    FALSE           # Bias subtraction
  DARK               BOOL    FALSE           # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    FALSE           # Flat-field normalisation
  MASK               BOOL    FALSE           # Mask bad pixels
  MASK.BUILD	     BOOL    FALSE           # Build internal mask?
  FRINGE             BOOL    FALSE           # Fringe subtraction
  PHOTOM             BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?
  BACKGROUND         BOOL    FALSE           # Subtract background?
END

# Overscan, bias, dark, shutter
PPIMAGE_OBDS       METADATA
  BASE.FITS          BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS     BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS          BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    TRUE            # Overscan subtraction
  NONLIN             BOOL    FALSE           # Non-linearity correction; not implemented
  BIAS               BOOL    TRUE            # Bias subtraction
  DARK               BOOL    FALSE           # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    FALSE           # Flat-field normalisation
  MASK               BOOL    FALSE           # Mask bad pixels
  MASK.BUILD         BOOL    FALSE	     # Build internal mask?
  FRINGE             BOOL    FALSE           # Fringe subtraction
  PHOTOM             BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?
END

# This is the processing recipe for fringes
PPIMAGE_OBDSF       METADATA
  BASE.FITS          BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS     BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS          BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    TRUE            # Overscan subtraction
  NONLIN             BOOL    FALSE           # Non-linearity correction; not implemented
  BIAS               BOOL    TRUE            # Bias subtraction
  DARK               BOOL    FALSE           # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    TRUE            # Flat-field normalisation
  MASK               BOOL    TRUE            # Mask bad pixels
  MASK.BUILD         BOOL    FALSE	     # Build internal mask?
  FRINGE             BOOL    FALSE           # Fringe subtraction
  PHOTOM             BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?
END

# Overscan, bias, dark, shutter, flat-field -- use FLAT_PREMASK
PPIMAGE_FLATMASK_PROCESS      METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL  TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL  FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  NONLIN           BOOL    FALSE           # Non-linearity correction; not implemented
  BIAS             BOOL    TRUE            # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  MASK.BUILD       BOOL    FALSE	   # Build internal mask?
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?

  DETREND.CONSTRAINTS  METADATA
    FLAT METADATA
      DETTYPE STR FLAT
      FILTER  STR FPA.FILTERID
    END
  END   
END

