
FRINGE.NUM              S32     6250     # number of fringe regions per cell
FRINGE.SIZE             S32     5        # Half-size of fringe regions
FRINGE.XSMOOTH          S32     3        # Number of smoothing regions per cell in x
FRINGE.YSMOOTH          S32     3        # Number of smoothing regions per cell in y
FRINGE.SMOOTH           BOOL    T        # Smooth the output image?
FRINGE.SMOOTH.SIGMA     F32     2.0      # Sigma of smoothing Gaussian


# Bias combination --- don't want min/max rejection
PPMERGE_BIAS    METADATA
        REJ             F32     3.0             # Rejection threshold (sigma)
        ITER            S32     2               # Number of rejection iterations
        FRACHIGH        F32     0.0             # Fraction of high pixels to reject immediately
        FRACLOW         F32     0.0             # Fraction of low pixels to reject immediately
        VARIANCES       BOOL    FALSE           # Use image variances?
#       COMBINE         STR     CLIPPED         # Statistic to use for combination: 
        COMBINE         STR     SAMPLE_MEDIAN   # Statistic to use for combination
        MEAN            STR     SAMPLE_MEDIAN   # Statistic to use to measure the mean
        STDEV           STR     ROBUST_STDEV    # Statistic to use to measure the stdev
END


