PSF.MODEL       STR     PS_MODEL_QGAUSS # Model for PSF generation
BACKGROUND.MODEL BOOL   F

ZP.AIRMASS      METADATA                # Airmass terms by filter
        HSC-g       F32     0.0
        HSC-r       F32     0.0
	HSC-r2	    F32	    0.0
	HSC-i	    F32	    0.0
	HSC-i2	    F32	    0.0
	HSC-z	    F32	    0.0
	HSC-Y	    F32	    0.0
	NB0921	    F32	    0.0
	NB0816	    F32	    0.0
END

ZP.TARGET       METADATA                # Target zero point by filter
        HSC-g       F32     30.0
        HSC-r       F32     30.0
	HSC-r2	    F32	    30.0
	HSC-i	    F32	    30.0
	HSC-i2	    F32	    30.0
	HSC-z	    F32	    30.0
	HSC-Y	    F32	    30.0
	NB0921	    F32	    30.0
	NB0816	    F32	    30.0
END

STACK_DEEP    METADATA                  # N>>20 inputs, typically MD fields
    OUTPUT.NOCOMP           BOOL  TRUE
    OUTPUT.LOGFLUX          BOOL  FALSE
#    OUTPUT.REPLICATE        BOOL  TRUE
    PSF.INPUT.MAX           F32   10.0
    PSF.INPUT.CLIP.NSIGMA   F32   1.5
    PSF.INPUT.THRESH        F32   5.0
    PSF.INPUT.ASYMMETRY     F32   0.2
END

STACK_THREEPI  METADATA
    OUTPUT.NOCOMP           BOOL  FALSE
    OUTPUT.LOGFLUX          BOOL  TRUE
    PSF.INPUT.MAX           F32   10.0  # input cut more restrictive now 12->10 pix, limit target PSF in convolved stacks 
    PSF.INPUT.CLIP.NSIGMA   F32   1.5   # additional cut if majority of inputs much smaller than INPUT.MAX
    PSF.INPUT.THRESH        F32   10.0
    PSF.INPUT.ASYMMETRY     F32   0.2
    PSF.TARGET.AS.MAX       BOOL  TRUE
   MATCH.REJ        F32    4.0
   SAFE          BOOL   F
END
