
# with the external model, this has no effect (it is ignored)
# XXX not quite true: this is used by the ghost & glint model
PSASTRO.PIXEL.SCALE    F32     1.0

# these values are in FP coordinates
# these are appropriate for hsc.20200221.asm (1 FP pixel = 1 chip pixel)
PSASTRO.GRID.OFFSET         F32 100.
PSASTRO.GRID.SCALE          F32 5.
PSASTRO.TWEAK.RANGE         F32 5.
PSASTRO.REFSTAR.CLUMP.SCALE S32 10

# these are appropriate for hsc.20161020.asm (13.4 FP pixel = 1 chip pixels)
# PSASTRO.GRID.OFFSET         F32 1000.
# PSASTRO.GRID.SCALE          F32 50.
# PSASTRO.TWEAK.RANGE         F32 10
# PSASTRO.REFSTAR.CLUMP.SCALE S32 150

PSASTRO.SAVE.REFMATCH         BOOL     T  # save refstars in a separate FITS table
PSASTRO.SAVE.REFSTARS         BOOL     F  # save refstars in a separate FITS file (broken!)

#PSASTRO.CATDIR                STR      PS1.REF.20140713
PSASTRO.CATDIR 		       STR     PS1.REF.20170919
DVO.GETSTAR                   STR      getstar
DVO.GETSTAR.OUTFORMAT         STR      PS1_DEV_0
DVO.GETSTAR.PHOTCODE          STR      i

## these were allowing much too dense of a reference catalog
DVO.GETSTAR.MAX.RHO           F32      30000.0
DVO.GETSTAR.MIN.MAG           F32      15.0
DVO.GETSTAR.MIN.MAG.INST      F32     -15.0

PSASTRO.IGNORE         STR    CRLIMIT,SATURATED,DEFECT,SATSTAR,BLEND,FAIL

PSASTRO.USE.MODEL            BOOL TRUE

# extra field for ref stars:
PSASTRO.PHOTOM.WINDOW.SIGMA  F32 0.0

PSASTRO.GRID.MIN.ANGLE F32 -2.0 # start angle (degrees)
PSASTRO.GRID.MAX.ANGLE F32 +2.0
PSASTRO.GRID.DEL.ANGLE F32  1.0

PSASTRO.GRID.NREF.MAX  S32   5000 # max stars accepted for fitting
PSASTRO.GRID.NRAW.MAX  S32   5000 # max stars accepted for fitting

PSASTRO.MIN.INST.MAG.RAW            F32      -15   # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW            F32      -11   # max instrumental magnitude for stars accepted for fitting
PSASTRO.GRID.MIN.INST.MAG.RAW       F32      -15
PSASTRO.GRID.MAX.INST.MAG.RAW       F32      -11

## PSASTRO.GRID.MAX.INST.MAG.RAW -11 is OK for the 30 sec exp but may be too many for 300 sec.

# pmAstromMatchFit
PSASTRO.CHIP.ORDER     S32      1  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas

# single-chip radius match in FP pixels
# These are appropriate for hsc.20161020.asm (13.4 FP pixel = 1 chip pixels)
# PSASTRO.MATCH.RADIUS.N0 F32    30
# PSASTRO.MATCH.RADIUS.N1 F32    30
# PSASTRO.MATCH.RADIUS.N2 F32    20
# PSASTRO.MATCH.RADIUS.N3 F32    20
# PSASTRO.MATCH.RADIUS.N4 F32    10
# PSASTRO.MATCH.RADIUS.N5 F32    10 # was 5
# PSASTRO.MATCH.RADIUS.N6 F32     8
# PSASTRO.MATCH.RADIUS.N7 F32     8
# PSASTRO.MATCH.FIT.NITER S32     7 # was 7

# these are appropriate for hsc.20200221.asm (1 FP pixel = 1 chip pixel)
# EAM NOTE: test this recipe for field images (non-M31)
PSASTRO.MATCH.RADIUS.N0 F32    6.0
PSASTRO.MATCH.RADIUS.N1 F32    6.0
PSASTRO.MATCH.RADIUS.N2 F32    4.0
PSASTRO.MATCH.RADIUS.N3 F32    4.0
PSASTRO.MATCH.RADIUS.N4 F32    2.0
PSASTRO.MATCH.RADIUS.N5 F32    2.0
PSASTRO.MATCH.RADIUS.N6 F32    1.5
PSASTRO.MATCH.RADIUS.N7 F32    1.5
PSASTRO.MATCH.FIT.NITER S32     7 # was 7

# single-chip radius match in pixels
PSASTRO.ONE.CHIP.ORDER.N0 F32    1
PSASTRO.ONE.CHIP.ORDER.N1 F32    1 
PSASTRO.ONE.CHIP.ORDER.N2 F32    2
PSASTRO.ONE.CHIP.ORDER.N3 F32    2
PSASTRO.ONE.CHIP.ORDER.N4 F32    3
PSASTRO.ONE.CHIP.ORDER.N5 F32    3
PSASTRO.ONE.CHIP.ORDER.N6 F32    3
PSASTRO.ONE.CHIP.ORDER.N7 F32    3

# Mosaic Astrometry options
PSASTRO.MOSAIC.MODE         BOOL   TRUE

# for iterations >= N, require a single match per reference
PSASTRO.MOSAIC.CHIP.NITER     S32      5  # fit clipping iterations (NOTE: last iteration is NITER, not NITER - 1)
PSASTRO.MOSAIC.CHIP.NSIGMA    F32      3  # fit clipping sigmas
PSASTRO.MOSAIC.UNIQ.ITER      S32      3  # for iterations >= N, require a single match per reference

PSASTRO.MOSAIC.MAX.ERROR.N0 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N1 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N4 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N5 F32    0.30 # max allow error for valid solution (arcsec)

# mosaic radius match in Chip pixels (do these make sense?)
# the smallest one-chip radius (8) should roughly match the 
# largest mosaic radius x plate scale
PSASTRO.MOSAIC.RADIUS.N0    F32    3
PSASTRO.MOSAIC.RADIUS.N1    F32    3
PSASTRO.MOSAIC.RADIUS.N2    F32    2
PSASTRO.MOSAIC.RADIUS.N3    F32    2
PSASTRO.MOSAIC.RADIUS.N4    F32    2
PSASTRO.MOSAIC.RADIUS.N5    F32    2

# use 3rd order all the way.
PSASTRO.MOSAIC.CHIP.ORDER     S32      3  # limit chip-fit order to 1
PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      3 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      3 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      3 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      3 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      3 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N5  S32      3 # fit order (-1 means use default)

# mosaic radius match in Chip pixels (do these make sense?)
# EAM : values pre 2020.02.09
# PSASTRO.MOSAIC.RADIUS.N0    F32    15
# PSASTRO.MOSAIC.RADIUS.N1    F32    10
# PSASTRO.MOSAIC.RADIUS.N2    F32    10
# PSASTRO.MOSAIC.RADIUS.N3    F32    5
# PSASTRO.MOSAIC.RADIUS.N4    F32    5
# PSASTRO.MOSAIC.RADIUS.N5    F32    3

# EAM : values pre 2020.02.09
# PSASTRO.MOSAIC.CHIP.ORDER     S32      1  # limit chip-fit order to 1
# PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
# PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      0 # fit order (-1 means use default)
# PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
# PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      1 # fit order (-1 means use default)
# PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      3 # fit order (-1 means use default)
# PSASTRO.MOSAIC.CHIP.ORDER.N5  S32      3 # fit order (-1 means use default)

PSASTRO.MODEL.REF.CHIP        STR      x050
PSASTRO.MODEL.REF.CHIP.ANGLE  F32      90.0
PSASTRO.MODEL.ROT.PARITY      S32      -1

# Masking parameters
REFSTAR_MASK			BOOL TRUE
REFSTAR_MASK_MAX_MAG		F32  -15.0
REFSTAR_MASK_SATSTAR_MAG_MAX    F32  -15.0
REFSTAR_MASK_SATSTAR_MAG_SLOPE  F32   4.45 # Was 10.15
REFSTAR_MASK_SATSTAR_POS_ZERO   F32   -15.0

REFSTAR_MASK_SATSPIKE_MAG_SLOPE F32 0.35
REFSTAR_MASK_SATSPIKE_MAG_MAX   F32 -14.5
REFSTAR_MASK_SATSPIKE_OFFSET    F32 0.0
REFSTAR_MASK_SATSPIKE_WIDTH     F32 6.0
REFSTAR_MASK_SATSPIKE_L0        F32 0
REFSTAR_MASK_SATSPIKE_WIDTH_SLOPE  F32 0.0106

REFSTAR_MASK_BLEED		BOOL TRUE

REFSTAR_MASK_BLEED_MAG_MAX      F32 -14.5
REFSTAR_MASK_BLEED_MAG_SLOPE    F32   2.0

REFSTAR_MASK_BLEED_ORIENTATION_X BOOL FALSE
REFSTAR_MASK_BLEED_MAG_MAX_X    F32 -15.0
REFSTAR_MASK_BLEED_MAG_SLOPE_X  F32   5.0

REFSTAR_MASK_BLEED_ORIENTATION_Y BOOL TRUE
REFSTAR_MASK_BLEED_MAG_MAX_Y    F32 -14.5
REFSTAR_MASK_BLEED_MAG_SLOPE_Y  F32   0.425

REFSTAR_COUNT_GHOSTS            BOOL TRUE
#REFSTAR_MASK_GHOST              BOOL TRUE
REFSTAR_MASK_GHOST		 BOOL FALSE
GHOST_MODEL                     STR  hsc/ghost.model.mdc

#REFSTAR_MASK_GLINTS		BOOL TRUE
REFSTAR_MASK_GLINTS		BOOL FALSE
GLINT_MAX_MAG			F32  -19
GLINT_LENGTH_MAG_SLOPE		F32  0.0
GLINT_LENGTH_MAG_ZERO		F32  0.0
GLINT_WIDTH			F32  80.0

# HSC glint model terms:
# FILTER : allows model to have different terms for different filters
# FACTOR : scaling factor for glint model in mm for each filter
# LIMIT  : instrumental magnitude limit (only brighter stars are used)
#          example, for g-band 30 sec exposures, limit of -23 -> 7.5 mag
#
# to find the glint:
#  R_FPA = hypot(TP_x, TP_y) --> note calculation is done in TPA units, not FPA units
#  theta0 = datan2 (TP_y, TP_x)
#  R (star_radius_deg) = GLINT.PIXEL.SCALE * R_FPA
#  C_star = C_terms[0] + C_terms[1] * R + C_terms[2] * R^2
#  R_star = R_terms[0] + R_terms[1] * R + R_terms[2] * R^2

# C_star and R_star are in millimeter units; R is in degrees.

# The slopes and radii and region below are all in FPA units, 1/13.5 of a regular pixel.
# these need to be adjusted to use 1 FPA pix = 1 CHIP pix (hsc.20200221.asm)

# recipe values which need to be adjusted for 1 FPA pix = 1 CHIP pix:
# GLINT.PIXEL.SCALE (multiply by 13.4)
# REGION (divide by 13.4)
# GLINT.RADIUS.INNER (divide by 13.4)
# GLINT.RADIUS.OUTER (divide by 13.4)

# NOTE: The code contains the 13.5 factor hard-wired in the HSC model

GLINT.REGION			MULTI
GLINT.REGION			METADATA
  GLINT.TYPE                    STR  HSC
  GLINT.PIXEL.SCALE		F32  3.49794238e-06
  REGION			STR  [-350000:350000,-350000:350000]
  GLINT.RADIUS.INNER            F32  252435  # 0.883 degrees
  GLINT.RADIUS.OUTER		F32  283025  # 0.990 degrees
  
  GLINT.FILTER.TERM		MULTI
  GLINT.FILTER.TERM		METADATA
    FILTER			STR	g
    @C_TERMS			F32	-4467.9759580157  10022.1277915657  -5156.3556611527 # a comment
    @R_TERMS			F32	-4375.9715493905  9717.6993803237   -5203.2424778605 # a comment
    FACTOR			F32	1.002
    LIMIT			F32	-23.0
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      r
    @C_TERMS			F32	 -4354.2575893763  9762.9766653532  -5011.1243975288 # a comment
    @R_TERMS			F32	 -4263.2230039887  9457.4516871365  -5057.2762518308 # a comment
    FACTOR			F32	 1.0015
    LIMIT			F32	 -23.5
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      i
    @C_TERMS			F32	 -4243.1837126908  9517.3512135240  -4876.3237965836 # a comment
    @R_TERMS			F32	 -4154.5095389959  9215.4140278639  -4924.2923196315 # a comment
    FACTOR			F32	1.001
    LIMIT			F32	-23.5
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      z
    @C_TERMS			F32	 -3966.2315539829  8920.7199277389  -4555.9567436784 # a comment
    @R_TERMS			F32	 -3878.4529585585  8619.7241050446  -4604.3603386145 # a comment
    FACTOR			F32	0.9995
    LIMIT			F32	13.0
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      y
    @C_TERMS			F32	 -3723.5919271089  8403.7641770854  -4281.0159171765 # a comment
    @R_TERMS			F32	 -3637.0352789862  8104.8245491120  -4330.4583627761 # a comment
    FACTOR			F32	1.000
    LIMIT			F32	-23.0
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      NB816
    @C_TERMS			F32	 -4243.1837126908  9517.3512135240  -4876.3237965836 # a comment
    @R_TERMS			F32	 -4154.5095389959  9215.4140278639  -4924.2923196315 # a comment
    FACTOR			F32	1.001
    LIMIT			F32	-24.0
  END
  GLINT.FILTER.TERM		METADATA
    FILTER			STR      NB921
    @C_TERMS			F32	 -3966.2315539829  8920.7199277389  -4555.9567436784 # a comment
    @R_TERMS			F32	 -3878.4529585585  8619.7241050446  -4604.3603386145 # a comment
    FACTOR			F32	1.0005
    LIMIT			F32	-24.0
  END

END

#  GLINT.RADIUS.INNER		F32  245000
#  GLINT.RADIUS.OUTER		F32  260000

#  GLINT.ANGLE.INNER_SLOPE       F32  -0.0059259
#  GLINT.ANGLE.INNER_ZERO	F32  72

#  GLINT.ANGLE.OUTER_SLOPE	F32 0.0088889 
#  GLINT.ANGLE.OUTER_ZERO	F32 -41

#  GLINT.ANGLE.INNER_SLOPE      F32  0.0
#  GLINT.ANGLE.INNER_ZERO       F32  1.5
#  GLINT.ANGLE.OUTER_SLOPE      F32  0.0
#  GLINT.ANGLE.OUTER_ZERO       F32 22.0

# REFSTAR_MASK_GLINTS             BOOL  TRUE
# GLINT_MAX_MAG                   F32   xxxx

# GLINT.REGION                    MULTI
# GLINT.REGION                    METADATA
#   REGIONS                       STR [-:,-:]
#   GLINT.TYPE                    STR HSC
# END

GLINT_TEST METADATA
   REFSTAR_MASK_GLINTS   BOOL TRUE
   REFSTAR_MASK_GHOST    BOOL TRUE
END

STATICSKY_CAL   METADATA
    REFSTAR_MASK                BOOL FALSE
    PSASTRO.SAVE.REFMATCH       BOOL FALSE
    PSASTRO.FIX.CHIPS           BOOL FALSE
    PSASTRO.USE.MODEL           BOOL FALSE
    PSASTRO.MOSAIC.MODE         BOOL FALSE
    DVO.GETSTAR.FIXED.ZEROPT    F32   30.0
    DVO.GETSTAR.MIN.MAG.INST    F32   -27.0
     PSASTRO.CATDIR 		       STR     PS1.REF.20170919
    ZERO.POINT.USE.MEAN                  BOOL    TRUE
    PSASTRO.MATCH.RADIUS.N0 F32    30
    PSASTRO.MATCH.RADIUS.N1 F32    20
    PSASTRO.MATCH.RADIUS.N2 F32    20
    PSASTRO.MATCH.RADIUS.N3 F32    10
    PSASTRO.MATCH.RADIUS.N4 F32    5
    PSASTRO.MATCH.FIT.NITER S32    5

    PSASTRO.MAX.ERROR      F32      0.2  # in arcsec units, if larger than 0.2" on skycell then a problem..

    TRANSFORM.GALAXY.SHAPE.ERRORS  BOOL T

    PSASTRO.FIELD.PADDING   F32 0.1
    PSASTRO.GRID.SEARCH    BOOL  FALSE

END

M31_SHALLOW METADATA 
  PSASTRO.MOSAIC.MODE         BOOL   FALSE

  PSASTRO.MAX.INST.MAG.RAW            F32      -10
  PSASTRO.GRID.MAX.INST.MAG.RAW       F32      -10

  # single-chip radius match in pixels
  PSASTRO.MATCH.RADIUS.N0 F32    6.0
  PSASTRO.MATCH.RADIUS.N1 F32    6.0
  PSASTRO.MATCH.RADIUS.N2 F32    4.0
  PSASTRO.MATCH.RADIUS.N3 F32    4.0
  PSASTRO.MATCH.RADIUS.N4 F32    2.0
  PSASTRO.MATCH.RADIUS.N5 F32    2.0
  PSASTRO.MATCH.RADIUS.N6 F32    1.5
  PSASTRO.MATCH.RADIUS.N7 F32    1.5
  PSASTRO.MATCH.FIT.NITER S32     7 # was 7

  # single-chip radius match in pixels
  PSASTRO.ONE.CHIP.ORDER.N0 F32    1
  PSASTRO.ONE.CHIP.ORDER.N1 F32    1 
  PSASTRO.ONE.CHIP.ORDER.N2 F32    2
  PSASTRO.ONE.CHIP.ORDER.N3 F32    2
  PSASTRO.ONE.CHIP.ORDER.N4 F32    3
  PSASTRO.ONE.CHIP.ORDER.N5 F32    3
  PSASTRO.ONE.CHIP.ORDER.N6 F32    3
  PSASTRO.ONE.CHIP.ORDER.N7 F32    3
END

M31_DEEP METADATA 
  PSASTRO.CATDIR STR M31.DEEP

  PSASTRO.MOSAIC.MODE         BOOL   FALSE

  PSASTRO.MAX.INST.MAG.RAW            F32      -10.5
  PSASTRO.GRID.MAX.INST.MAG.RAW       F32      -10.5
  
  # single-chip radius match in pixels
  PSASTRO.MATCH.RADIUS.N0 F32    6.0
  PSASTRO.MATCH.RADIUS.N1 F32    6.0
  PSASTRO.MATCH.RADIUS.N2 F32    4.0
  PSASTRO.MATCH.RADIUS.N3 F32    4.0
  PSASTRO.MATCH.RADIUS.N4 F32    2.0
  PSASTRO.MATCH.RADIUS.N5 F32    2.0
  PSASTRO.MATCH.RADIUS.N6 F32    1.5
  PSASTRO.MATCH.RADIUS.N7 F32    1.5
  PSASTRO.MATCH.FIT.NITER S32     7 # was 7

  # single-chip radius match in pixels
  PSASTRO.ONE.CHIP.ORDER.N0 F32    1
  PSASTRO.ONE.CHIP.ORDER.N1 F32    1 
  PSASTRO.ONE.CHIP.ORDER.N2 F32    2
  PSASTRO.ONE.CHIP.ORDER.N3 F32    2
  PSASTRO.ONE.CHIP.ORDER.N4 F32    3
  PSASTRO.ONE.CHIP.ORDER.N5 F32    3
  PSASTRO.ONE.CHIP.ORDER.N6 F32    3
  PSASTRO.ONE.CHIP.ORDER.N7 F32    3
END

PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
  FILTER   STR g
#  ZEROPT   F32 26.75
  ZEROPT   F32 26.70
  PHOTCODE STR g
  GHOST_MAX_MAG                   F32 -22.0
END
PHOTCODE.DATA METADATA
  FILTER   STR r
#  ZEROPT   F32 27.1
  ZEROPT   F32 27.05
  PHOTCODE STR r
  GHOST_MAX_MAG                   F32 -22.5
END
PHOTCODE.DATA METADATA
  FILTER   STR i
#  ZEROPT   F32 27.0
  ZEROPT   F32 26.8
  PHOTCODE STR i
  GHOST_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR z
#  ZEROPT   F32 26.2
  ZEROPT   F32 26.0
  PHOTCODE STR z
  GHOST_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR y
#  ZEROPT   F32 25.1
  ZEROPT   F32 25.55
  PHOTCODE STR y
  GHOST_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR NB816
#  ZEROPT   F32 26.0
  ZEROPT   F32 23.75
  PHOTCODE STR i
  GHOST_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR NB921
#  ZEROPT   F32 25.4
  ZEROPT   F32 23.95
  PHOTCODE STR z
  GHOST_MAX_MAG                   F32 -23.0
END

