
BACKGROUND.XBIN                     S32   600             # size of background superpixels
BACKGROUND.YBIN                     S32   600             # size of background superpixels
BACKGROUND.XSAMPLE                  F32   2.0             # size of background superpixels
BACKGROUND.YSAMPLE                  F32   2.0             # size of background superpixels

PSF_MODEL	STR	  PS_MODEL_HSC_V1

STACKPHOT	METADATA
 SAVE.RESID     BOOL      TRUE

 PSF_MODEL	STR	  PS_MODEL_HSC_V1
  EXTENDED_SOURCE_FITS                BOOL  FALSE  # perform any of the aperture-like measurements?
  EXTENDED_SOURCE_GALAXY_PARAMS       BOOL  FALSE  # measure additional paramters for "galaxies"
  EXTENDED_SOURCE_SN_LIM              F32   10.0
  EXTENDED_SOURCE_PETROSIAN           BOOL  FALSE
  EXTENDED_SOURCE_ANNULI              BOOL  TRUE
  EXT.NSIGMA.LIMIT.USE                BOOL  FALSE
  EXT.FIT.MIN.GAL.LIMIT.USE           BOOL  TRUE  # limit extended source fits by galactic coordinates

  PSPHOT.STACK.MATCH.PSF.SOURCE       STR   AUTO # which inputs to convolve? (RAW, CNV, AUTO)
  PSPHOT.STACK.TARGET.PSF.AUTO        BOOL  F    # automatically determine target PSF size?
  # NOTE: if PSPHOT.STACK.USE.RAW is set to False, KRON.SMOOTH should be
  # set to false as well in order to get the best MOMENTS_R1 measurement
  PSPHOT.STACK.USE.RAW                BOOL  T    # perform photometry & morphology analysis on the raw image
  KRON_SMOOTH                         BOOL  T    # smooth before kron radius measurement
  @PSPHOT.STACK.TARGET.PSF.FWHM       F32   6.0 8.0 # FWHM of target PSF (if NOT AUTO sized; pixels)
  RADIAL_APERTURES                    BOOL  T    # calculate flux in circular radial apertures?
  RADIAL_APERTURES_SN_LIM             F32   0.0  # S/N limit for radial aperture calculation
  OUTPUT.FORMAT                       STR   PS1_SV4

  # subtract radial profiles for extremely bright stars?
  SUBTRACT_SATSTAR_PROFILE            BOOL  T
  
  CONSTANT_PHOTOMETRIC_WEIGHTS        BOOL  TRUE 
  POISSON.ERRORS.PHOT.LMM             BOOL  TRUE

  LMM_FIT_CHISQ_CONVERGENCE           BOOL  FALSE           # use the (old) chisq convergence or the new parameter one 
  LMM_FIT_GAIN_FACTOR_MODE            S32   2               # there are 3 options to determine the gain factor (0,1,2)
  EXT_FIT_MIN_TOL                     F32   0.1             # Fit tolerance for EXT

  EXT_FIT_MAX_RADIUS                  F32   50.0
  PEAKS_NMAX_TOTAL                    S32   0 # set this to limit the allowed number of peaks - Yields fault instead of avoid memory explosion

  REPAIR.PETROSIAN.MAG.ERRORS         BOOL  FALSE # write PETRO_MAG_ERR as dFlux / Flux when writing


 # PSPHOT.STACK.MATCH.FILTER
 # list of metadata to control how source matching is performed for each band
 #  FILTER.ID is used to match to the FPA's concept value FPA.FILTERID
 # ORDER controls the order in which the bands are processed. Lower numbers are processed first.
 #       The intent is to process in order of sensitivity
 # MATCH.ALL if true causes forced photometry sources for objects detected in that band but don't meet 
 #       the minimum number of detections cut
 # TYPE is used in the recipe bookkeeping and has no semantic (but must be unique)
 # Note: if an input has a filter not in this list it will be processed after all of the others with MATCH.ALL = FALSE
 PSPHOT.STACK.MATCH.FILTERS   METADATA
    TYPE        PSPHOT_STACK.MATCH.FILTER FILTER.ID ORDER MATCH.ALL Y.RATIO.MAX
    gband       PSPHOT_STACK.MATCH.FILTER   HSC-g        4       TRUE      0
    rband       PSPHOT_STACK.MATCH.FILTER   HSC-r2       2       TRUE      0
    iband       PSPHOT_STACK.MATCH.FILTER   HSC-i2       1       TRUE      0
    zband       PSPHOT_STACK.MATCH.FILTER   HSC-z        3       TRUE      0
    yband       PSPHOT_STACK.MATCH.FILTER   HSC-Y        5       TRUE      0
    NB9		PSPHOT_STACK.MATCH.FILTER   NB0921	 6       TRUE      0
    NB8		PSPHOT_STACK.MATCH.FILTER   NB0816	 7	 TRUE 	   0
 END

 EXT.ANALYSIS.MAG.LIMITS METADATA
    TYPE  DATA FILTER.ID MAG.LIMIT.PETRO    MAG.LIMIT.EXTFIT
    gband DATA g         28                 25.5
    rband DATA r         28                 25.5
    iband DATA i         27                 24.5
    zband DATA z         26.5               23
    yband DATA y         26                 22.5
    NB9   DATA NB0921    26                 22.5
    NB8   DATA NB0816    26                 22.5
    other DATA any       25                 21.5

#     gband DATA g         25                 21.5
#     rband DATA r         25                 21.5 
#     iband DATA i         25                 21.5
#     zband DATA z         25                 20.5
#     yband DATA y         25                 19.5
#     NB    DATA NB0921    25                 20.5
#     other DATA any       25                 21.5
 END
END

M31_DEEP METADATA 
  BACKGROUND.XBIN         S32   64             # size of background superpixels
  BACKGROUND.YBIN         S32   58             # size of background superpixels
  BACKGROUND.XSAMPLE      F32   2.0            # size of background superpixels
  BACKGROUND.YSAMPLE      F32   2.0            # size of background superpixels

  FOOTPRINT_GROW_RADIUS   S32   0
  PSF_SN_LIM              F32   250.0
  IMSTATS_NPIX            S32   100000
  SKY_STAT                STR   ROBUST_MEDIAN

  PSF.TREND.MODE                      STR   MAP
  PSF.TREND.NX                        S32   2
  PSF.TREND.NY                        S32   3

  APTREND.ORDER.MAX                   S32   1
END
