# Camera configuration file for the CTIO MOSAIC2 : describes the camera

# File formats that we know about
FORMATS		METADATA
    MEF		STR	mosaic2/format.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA	METADATA
	ccd00	STR	LeftAmp RightAmp
	ccd01	STR	LeftAmp RightAmp
	ccd02	STR	LeftAmp RightAmp
	ccd03	STR	LeftAmp RightAmp
	ccd04	STR	LeftAmp RightAmp
	ccd05	STR	LeftAmp RightAmp
	ccd06	STR	LeftAmp RightAmp
	ccd07	STR	LeftAmp RightAmp
END

# menu of possible filter names:  internal  STR  external name
FILTER.ID       METADATA
   VR MULTI
   VR STR VR.Supermacho.c6027 
   VR STR VR Supermacho c6027 
   VR STR VR SuperMacho c6027 
   R  STR R Harris c6004      
   I  STR I c6028             
   U  STR U c6001
   B  STR B Harris c6002
   V  STR V Harris c6026
   # Minor filters 
   g  MULTI
   g  STR g SDSS c6017
   g  STR SDSS g c6017
   r  MULTI
   r  STR SDSS r c6018
   r  STR r SDSS c6018
   i  MULTI
   i  STR i SDSS c6019
   i  STR SDSS i c6019
   # Unused filters (only used in zeros, and therefore irrelevent)
   NULL MULTI
   NULL STR z SDSS c6020
   NULL STR SDSS z c6020
   NULL STR ha8 H-alpha+8nm c6011
   NULL STR M Washington c6007
   NULL STR u SDSS c6021
   NULL STR VRr Supermacho c6027 
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	FPA	STR	fpa
END

DVO.CAMERADIR	STR	mosaic2		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES		METADATA
	# Recipes for ppImage
        PPIMAGE         STR     mosaic2/ppImage.config
	PPMERGE		STR	mosaic2/ppMerge.config
        PSPHOT          STR     mosaic2/psphot.config
	REJECTIONS	STR	mosaic2/rejections.config	# Detrend rejection limits
END

# Reduction classes
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

# Set file rules appropriate for mef format (common to all mef cameras)
FILERULES   STR   recipes/filerules-mef.mdc 

EXTNAME.RULES METADATA
  CMF.HEAD STR {CHIP.NAME}.hdr
  CMF.DATA STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD  STR {CHIP.NAME}.hdr
  PSF.TABLE STR {CHIP.NAME}.psf_model
  PSF.RESID STR {CHIP.NAME}.psf_resid
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode
