
# astrometry matching parameters

# nominal plate scale (mm / pixel)
PSASTRO.PIXEL.SCALE    F32  1.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32   1000.0
PSASTRO.GRID.SCALE     F32     50.0

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32     75
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# single-chip radius match in pixels
PSASTRO.MATCH.FIT.NITER S32   3
PSASTRO.MATCH.RADIUS    F32   12.0
PSASTRO.MATCH.RADIUS.N0 F32   15.0
PSASTRO.MATCH.RADIUS.N1 F32   10.0
PSASTRO.MATCH.RADIUS.N2 F32    5.0

PSASTRO.MAX.NRAW       S32      1500   # max stars accepted for fitting (0 for all)
PSASTRO.MAX.NREF       S32      1500   # max stars accepted for fitting (0 for all)

PSASTRO.MIN.INST.MAG.RAW       F32      -17.0  # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW       F32       -8.0  # max instrumental magnitude for stars accepted for fitting

PSASTRO.MAX.ERROR      F32      10.0 # max error in pixels
PSASTRO.MIN.NSTAR      S32      10   # min fitted stars in solution

PSASTRO.MOSAIC.MAX.ERROR.N0 F32    1.50 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N1 F32    1.50 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.90 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.90 # max allow error for valid solution (arcsec)

PSASTRO.MOSAIC.RADIUS.N0    F32   10.0 # initial match (after chip astrom)
PSASTRO.MOSAIC.RADIUS.N1    F32    8.0 # (after first mosaic pass)
PSASTRO.MOSAIC.RADIUS.N2    F32    8.0 # do not refine the match
PSASTRO.MOSAIC.RADIUS.N3    F32    4.0 # 

PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      3 # fit order (-1 means use default)

PSASTRO.MOSAIC.GRADIENT.NX    S32     2   # number of x-dir cells per chip
PSASTRO.MOSAIC.GRADIENT.NY    S32     4   # number of y-dir cells per chip

PSASTRO.MOSAIC.MODE           BOOL     FALSE

# use this recipe to set a tight constraint
PSASTRO.FINE METADATA
  PSASTRO.MOSAIC.MAX.ERROR.N0 F32    1.50 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N1 F32    1.50 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.90 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.90 # max allow error for valid solution (arcsec)

  PSASTRO.MOSAIC.RADIUS.N0    F32    8.0
  PSASTRO.MOSAIC.RADIUS.N1    F32    0.0
  PSASTRO.MOSAIC.RADIUS.N2    F32    4.0
  PSASTRO.MOSAIC.RADIUS.N3    F32    4.0

  PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      3 # fit order (-1 means use default)
END

PSASTRO.GRID.MIN.SCALE F32  0.98
PSASTRO.GRID.MAX.SCALE F32  1.04
PSASTRO.GRID.DEL.SCALE F32  0.02
PSASTRO.GRID.MIN.SIGMA F32  5.0
