	
IMSTATS_NPIX                         S32   10000    	 # number of pixels to use for sky estimate boxes:

# robust vs fitted??  gpc1 uses fitted...  robust median gives better background stdev --> test with flat-field photometry
SKY_STAT                             STR   ROBUST_MEDIAN    # statistic used to measure background

PSF_MODEL                            STR   PS_MODEL_QGAUSS
PSF_MAX_NSTARS                       S32   300              # limit number of stars used for PSF model

# Mosaic 2 has substantial IQ variations in the y-direction
PSF_CLUMP_NX                         S32   1               # subdivide image in to NX x NY regions for 
PSF_CLUMP_NY                         S32   3               # selecting PSF stars

# Mosaic 2 has substantial IQ variations in the y-direction
PSF.TREND.NX                         S32   1
PSF.TREND.NY                         S32   3

PEAKS_NSIGMA_LIMIT                   F32   15.0            # peak significance threshold
FOOTPRINT_NSIGMA_LIMIT               F32   14.0      	  # threshold for bright pmFootprint detection

PSF_SN_LIM                           F32   20.0            # minimum S/N for stars used for PSF model
FULL_FIT_SN_LIM                      F32   10.0
EXT_MIN_SN                           F32   10.0           # fit galaxies above this S/N limit

EXT_MODEL                            STR   PS_MODEL_QGAUSS

EXTENDED_SOURCE_SN_LIM               F32   3.0
#EXTENDED_SOURCE_ANALYSIS            BOOL  TRUE  # perform any of the aperture-like measurements?
#EXTENDED_SOURCE_PETROSIAN           BOOL  TRUE

# 3 to match PSF and Moments 2D variations
APTREND.ORDER.MAX                    S32   3
