
BIAS METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  2.0
  IMFILE.STDEV       F32 10.0
  IMFILE.MEANSTDEV   F32  1.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.5
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  1.0
  EXP.STDEV          F32 10.0
  EXP.MEANSTDEV      F32  0.5
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  3.0
  ENSEMBLE.STDEV     F32  3.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

DARK METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  2.0
  IMFILE.STDEV       F32 10.0
  IMFILE.MEANSTDEV   F32  1.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  1.0
  EXP.STDEV          F32 10.0
  EXP.MEANSTDEV      F32  0.5
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  3.0
  ENSEMBLE.STDEV     F32  3.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

SHUTTER METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SNR            F32 20.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  0.0
END


FLAT METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  3.0
END


FRINGE METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

DARKMASK METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

FLATMASK METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SKEWNESS    F32  0.0
  IMFILE.KURTOSIS    F32  0.0
  IMFILE.SNR         F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SNR     F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SNR            F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SNR        F32  0.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

# FILTER is an additional qualifier, and may be "*" (or absent!), in which case it matches everything
# EXPECTED is the expected mean value
# IMFILE.MEAN is the maximum permitted mean value for an imfile, relative to the standard deviation
# IMFILE.STDEV is the maximum permitted standard deviation for an imfile
# EXP.MEAN is the maximum permitted mean value for an exposure, relative to the standard deviation
# EXP.STDEV is the maximum permitted standard deviation for an exposure
# EXP.MEANSTDEV is the maximum permitted mean standard deviation for an exposure relative to the mean
# ENSEMBLE.MEAN is the maximum permitted mean for an ensemble of exposures
# ENSEMBLE.STDEV is the maximum permitted standard deviation for an ensemble of exposures
# ENSEMBLE.MEANSTDEV is the maximum permitted mean standard deviation for an ensemble of exposures
# IMFILE.SNR is the minimum permitted signal-to-noise for an imfile
# EXP.SNR is the minimum permitted signal-to-noise for an exposure
# These values (all except FILTER) may be zero, in which case no clipping is applied.
