# Refurbished GPC1
# Change effective from 22 January 2010 (TJD=5219): new CCD temperature keywords

# How to identify this type
RULE    METADATA
	ORIGIN		STR	PS2
        TELESCOP        STR     PS2
	INSTRUME	STR	gpc2
        CONTROLR        STR     STARGRASP
        NAMPS           S32     64
END

# How to read this data
FILE    METADATA
        PHU             STR     CHIP       # The FITS file represents a single chip
        EXTENSIONS      STR     CELL       # The extensions represent cells
        FPA.OBS         STR     FILENAME   # A PHU keyword for unique identifier within the hierarchy level
        CONTENT         STR     DETECTOR   # How to determine content of FITS file
        CONTENT.RULE    STR     {CHIP.ID}  # How to derive the CONTENT when writing
END

# What's in the FITS file?
CONTENTS        METADATA
        # CONTENT      =    chip name : type
        CCID71-2-03-1  STR  XY02:GPCChip
        CCID71-2-07-2  STR  XY03:GPCChip
        CCID71-3-08-1  STR  XY04:GPCChip
        CCID71-1-05-1  STR  XY05:GPCChip
        CCID71-3-11-3  STR  XY11:GPCChip
        CCID71-1-10-1  STR  XY12:GPCChip
        CCID71-3-06-3  STR  XY13:GPCChip
        CCID71-2-03-2  STR  XY14:GPCChip
        CCID71-2-08-1  STR  XY15:GPCChip
        CCID71-2-11-1  STR  XY16:GPCChip
        CCID71-1-08-4  STR  XY21:GPCChip
        CCID71-3-03-3  STR  XY22:GPCChip
        CCID71-3-06-1  STR  XY23:GPCChip
        CCID71-3-06-2  STR  XY24:GPCChip
        CCID71-3-06-4  STR  XY25:GPCChip
        CCID71-1-06-1  STR  XY26:GPCChip
        CCID71-1-08-2  STR  XY30:GPCChip
        CCID71-1-05-4  STR  XY31:GPCChip
        CCID71-1-03-3  STR  XY32:GPCChip
        CCID71-1-03-2  STR  XY33:GPCChip
        CCID71-1-06-2  STR  XY34:GPCChip
        CCID71-1-07-4  STR  XY35:GPCChip
        CCID71-3-11-2  STR  XY36:GPCChip
        CCID71-2-12-1  STR  XY37:GPCChip
        CCID71-1-11-3  STR  XY40:GPCChip
        CCID71-1-11-2  STR  XY41:GPCChip
        CCID71-1-09-2  STR  XY42:GPCChip
        CCID71-2-05-4  STR  XY43:GPCChip
        CCID71-2-06-2  STR  XY44:GPCChip
        CCID71-3-03-2  STR  XY45:GPCChip
        CCID71-2-06-1  STR  XY46:GPCChip
        CCID71-3-02-1  STR  XY47:GPCChip
        CCID71-2-10-1  STR  XY51:GPCChip
        CCID71-2-08-2  STR  XY52:GPCChip
        CCID71-2-10-2  STR  XY53:GPCChip
        CCID71-2-11-4  STR  XY54:GPCChip
        CCID71-3-09-2  STR  XY55:GPCChip
        CCID71-3-09-1  STR  XY56:GPCChip
        CCID71-2-03-3  STR  XY61:GPCChip
        CCID71-1-01-2  STR  XY62:GPCChip
        CCID71-1-10-2  STR  XY63:GPCChip
        CCID71-1-05-2  STR  XY64:GPCChip
        CCID71-1-05-3  STR  XY65:GPCChip
        CCID71-1-01-4  STR  XY66:GPCChip
        CCID71-1-03-4  STR  XY72:GPCChip
        CCID71-2-11-2  STR  XY73:GPCChip
        CCID71-3-08-2  STR  XY74:GPCChip
        CCID71-3-11-4  STR  XY75:GPCChip

END

CHIPS   METADATA
        GPCChip         METADATA
                # Extension name, cellName:cellType
                xy00   STR  xy00:GPCCell
                xy10   STR  xy10:GPCCell
                xy20   STR  xy20:GPCCell
                xy30   STR  xy30:GPCCell
                xy40   STR  xy40:GPCCell
                xy50   STR  xy50:GPCCell
                xy60   STR  xy60:GPCCell
                xy70   STR  xy70:GPCCell
                xy01   STR  xy01:GPCCell
                xy11   STR  xy11:GPCCell
                xy21   STR  xy21:GPCCell
                xy31   STR  xy31:GPCCell
                xy41   STR  xy41:GPCCell
                xy51   STR  xy51:GPCCell
                xy61   STR  xy61:GPCCell
                xy71   STR  xy71:GPCCell
                xy02   STR  xy02:GPCCell
                xy12   STR  xy12:GPCCell
                xy22   STR  xy22:GPCCell
                xy32   STR  xy32:GPCCell
                xy42   STR  xy42:GPCCell
                xy52   STR  xy52:GPCCell
                xy62   STR  xy62:GPCCell
                xy72   STR  xy72:GPCCell
                xy03   STR  xy03:GPCCell
                xy13   STR  xy13:GPCCell
                xy23   STR  xy23:GPCCell
                xy33   STR  xy33:GPCCell
                xy43   STR  xy43:GPCCell
                xy53   STR  xy53:GPCCell
                xy63   STR  xy63:GPCCell
                xy73   STR  xy73:GPCCell
                xy04   STR  xy04:GPCCell
                xy14   STR  xy14:GPCCell
                xy24   STR  xy24:GPCCell
                xy34   STR  xy34:GPCCell
                xy44   STR  xy44:GPCCell
                xy54   STR  xy54:GPCCell
                xy64   STR  xy64:GPCCell
                xy74   STR  xy74:GPCCell
                xy05   STR  xy05:GPCCell
                xy15   STR  xy15:GPCCell
                xy25   STR  xy25:GPCCell
                xy35   STR  xy35:GPCCell
                xy45   STR  xy45:GPCCell
                xy55   STR  xy55:GPCCell
                xy65   STR  xy65:GPCCell
                xy75   STR  xy75:GPCCell
                xy06   STR  xy06:GPCCell
                xy16   STR  xy16:GPCCell
                xy26   STR  xy26:GPCCell
                xy36   STR  xy36:GPCCell
                xy46   STR  xy46:GPCCell
                xy56   STR  xy56:GPCCell
                xy66   STR  xy66:GPCCell
                xy76   STR  xy76:GPCCell
                xy07   STR  xy07:GPCCell
                xy17   STR  xy17:GPCCell
                xy27   STR  xy27:GPCCell
                xy37   STR  xy37:GPCCell
                xy47   STR  xy47:GPCCell
                xy57   STR  xy57:GPCCell
                xy67   STR  xy67:GPCCell
                xy77   STR  xy77:GPCCell
        END
END

# Specify the cell data
CELLS   METADATA
        GPCCell         METADATA
                CELL.TRIMSEC.SOURCE     STR     HEADER
                CELL.TRIMSEC            STR     DATASEC
                CELL.BIASSEC.SOURCE     STR     HEADER
                CELL.BIASSEC            STR     BIASSEC
        END
END


# How to translate PS concepts into FITS headers
TRANSLATION     METADATA
        FPA.FILTERID    STR     FILTERID
        FPA.FILTER      STR     FILTERID
        FPA.RA          STR     RA
        FPA.DEC         STR     DEC
        FPA.RADECSYS    STR     EQUINOX
        FPA.OBSTYPE     STR     OBSTYPE
        FPA.OBJECT      STR     OBJECT
        FPA.OBS.MODE    STR     OBS_MODE
        FPA.COMMENT     STR     CMMTOBS
        FPA.AIRMASS     STR     AIRMASS
        FPA.POSANGLE    STR     POSANGLE
	FPA.ROTANGLE	STR	ROT
        FPA.FOCUS       STR     M2Z
        FPA.TIME        STR     SHUTOUTC
        FPA.ALT         STR     ALT
        FPA.AZ          STR     AZ
        FPA.TEMP        STR     DETTEM
        FPA.M1X         STR     M1X
        FPA.M1Y         STR     M1Y   
        FPA.M1Z         STR     M1Z   
        FPA.M1TIP       STR     M1TIP 
        FPA.M1TILT      STR     M1TILT
        FPA.M2X         STR     M2X
        FPA.M2Y         STR     M2Y   
        FPA.M2Z         STR     M2Z   
        FPA.M2TIP       STR     M2TIP 
        FPA.M2TILT      STR     M2TILT
        FPA.ENV.TEMP    STR     ENVTEM
        FPA.ENV.HUMID   STR     ENVHUM
        FPA.ENV.WIND    STR     ENVWIN
        FPA.ENV.DIR     STR     ENVDIR

        FPA.TELTEMP.M1     STR  TELTEMM1 # Primary mirror temps (C) 
        FPA.TELTEMP.M1CELL STR  TELTEMMS # Primary mirror support temps (C)   
        FPA.TELTEMP.M2     STR  TELTEMM2 # Secondary mirror temps (C
        FPA.TELTEMP.SPIDER STR  TELTEMSP # Spider temperatures (C)  
        FPA.TELTEMP.TRUSS  STR  TELTEMTR # Mid truss temperatures (C
        FPA.TELTEMP.EXTRA  STR  TELTEMEX # Miscellaneous temperatures (C)     

        FPA.BURNTOOL.APPLIED STR BTOOLAPP
	CHIP.VIDEOCELL  STR     CELLMODE

        FPA.PON.TIME    STR     PONTIME

        CHIP.ID         STR     DETECTOR
        CELL.XBIN       STR     CCDSUM
        CELL.YBIN       STR     CCDSUM
        CELL.X0         STR     IMNPIX1
        CELL.Y0         STR     IMNPIX2
        CELL.XPARITY    STR     ATM1_1
        CELL.YPARITY    STR     ATM2_2
	CHIP.TEMP	STR	CDETTEM
	CHIP.TEMPERATURE STR	DETTEM
        FPA.EXPOSURE    STR     EXPREQ          # Requested exposure time, presumably camera exposure time
        CELL.EXPOSURE   STR     EXPTIME         # Exposure time measured by shutter
        CELL.DARKTIME   STR     DARKTIME        # Exposure time for camera
        CELL.TIME       STR     SHUTOUTC	# Observation time
        CELL.GAIN       STR     GAIN		# Cell gain (e/ADU)
        CELL.READNOISE  STR     RDNOISE		# Cell read noise (ADU)
#       CELL.SATURATION STR     MAXLIN		# Saturation point (ADU)
END

# Default PS concepts that may be specified by value
DEFAULTS        METADATA
        FPA.TELESCOPE   STR     PS2
        FPA.INSTRUMENT  STR     GPC2
        FPA.LONGITUDE   STR     10:25:01.417 # West Longitude in Hours 10.4170608521
        FPA.LATITUDE    STR     20:42:26.21 # North Latitude in Degrees 20.7070999146
        FPA.ELEVATION   F32     3048.0 # altitude in meters
        FPA.DETECTOR    STR     GPC2
        FPA.TIMESYS     STR     UTC
	CHIP.XSIZE	S32	4846
	CHIP.YSIZE	S32	4868
        CHIP.XPARITY    S32     1
        CHIP.YPARITY    S32     1
        CHIP.X0.DEPEND          STR     CHIP.NAME
        CHIP.X0         METADATA
          XY01  S32     4971
          XY02  S32     4971
          XY03  S32     4971
          XY04  S32     4971
          XY05  S32     4971
          XY06  S32     4971
          XY10  S32     9942
          XY11  S32     9942
          XY12  S32     9942
          XY13  S32     9942
          XY14  S32     9942
          XY15  S32     9942
          XY16  S32     9942
          XY17  S32     9942
          XY20  S32     14913
          XY21  S32     14913
          XY22  S32     14913
          XY23  S32     14913
          XY24  S32     14913
          XY25  S32     14913
          XY26  S32     14913
          XY27  S32     14913
          XY30  S32     19884
          XY31  S32     19884
          XY32  S32     19884
          XY33  S32     19884 # should be 19872
          XY34  S32     19884
          XY35  S32     19884
          XY36  S32     19884
          XY37  S32     19884
          XY40  S32     20041
          XY41  S32     20041
          XY42  S32     20041
          XY43  S32     20041 # should be 20029
          XY44  S32     20041
          XY45  S32     20041
          XY46  S32     20041
          XY47  S32     20041
          XY50  S32     25012
          XY51  S32     25012
          XY52  S32     25012
          XY53  S32     25012
          XY54  S32     25012
          XY55  S32     25012
          XY56  S32     25012
          XY57  S32     25012
          XY60  S32     29983
          XY61  S32     29983
          XY62  S32     29983
          XY63  S32     29983
          XY64  S32     29983
          XY65  S32     29983
          XY66  S32     29983
          XY67  S32     29983
          XY71  S32     34954
          XY72  S32     34954
          XY73  S32     34954
          XY74  S32     34954
          XY75  S32     34954
          XY76  S32     34954
        END
        CHIP.Y0.DEPEND          STR     CHIP.NAME
        CHIP.Y0         METADATA
          XY01  S32     10286
          XY02  S32     15429
          XY03  S32     20572
          XY04  S32     25715
          XY05  S32     30858
          XY06  S32     36001
          XY10  S32     5143
          XY11  S32     10286
          XY12  S32     15429
          XY13  S32     20572
          XY14  S32     25715
          XY15  S32     30858
          XY16  S32     36001
          XY17  S32     41144
          XY20  S32     5143
          XY21  S32     10286
          XY22  S32     15429
          XY23  S32     20572
          XY24  S32     25715
          XY25  S32     30858
          XY26  S32     36001
          XY27  S32     41144
          XY30  S32     5143
          XY31  S32     10286
          XY32  S32     15429
          XY33  S32     20572
          XY34  S32     25715 # should be 25755
          XY35  S32     30858
          XY36  S32     36001
          XY37  S32     41144
          XY40  S32     306
          XY41  S32     5449
          XY42  S32     10592
          XY43  S32     15735 # should be 15707
          XY44  S32     20878 # should be 20890
          XY45  S32     26021
          XY46  S32     31164
          XY47  S32     36307
          XY50  S32     306
          XY51  S32     5449
          XY52  S32     10592
          XY53  S32     15735
          XY54  S32     20878
          XY55  S32     26021
          XY56  S32     31164
          XY57  S32     36307
          XY60  S32     306
          XY61  S32     5449
          XY62  S32     10592
          XY63  S32     15735
          XY64  S32     20878
          XY65  S32     26021
          XY66  S32     31164
          XY67  S32     36307
          XY71  S32     5449
          XY72  S32     10592
          XY73  S32     15735
          XY74  S32     20878
          XY75  S32     26021
          XY76  S32     31164
        END
        CHIP.XPARITY.DEPEND     STR     CHIP.NAME
        CHIP.XPARITY    METADATA
          XY01  S32     -1
          XY02  S32     -1
          XY03  S32     -1
          XY04  S32     -1
          XY05  S32     -1
          XY06  S32     -1
          XY10  S32     -1
          XY11  S32     -1
          XY12  S32     -1
          XY13  S32     -1
          XY14  S32     -1
          XY15  S32     -1
          XY16  S32     -1
          XY17  S32     -1
          XY20  S32     -1
          XY21  S32     -1
          XY22  S32     -1
          XY23  S32     -1
          XY24  S32     -1
          XY25  S32     -1
          XY26  S32     -1
          XY27  S32     -1
          XY30  S32     -1
          XY31  S32     -1
          XY32  S32     -1
          XY33  S32     -1
          XY34  S32     -1
          XY35  S32     -1
          XY36  S32     -1
          XY37  S32     -1
          XY40  S32     1
          XY41  S32     1
          XY42  S32     1
          XY43  S32     1
          XY44  S32     1
          XY45  S32     1
          XY46  S32     1
          XY47  S32     1
          XY50  S32     1
          XY51  S32     1
          XY52  S32     1
          XY53  S32     1
          XY54  S32     1
          XY55  S32     1
          XY56  S32     1
          XY57  S32     1
          XY60  S32     1
          XY61  S32     1
          XY62  S32     1
          XY63  S32     1
          XY64  S32     1
          XY65  S32     1
          XY66  S32     1
          XY67  S32     1
          XY71  S32     1
          XY72  S32     1
          XY73  S32     1
          XY74  S32     1
          XY75  S32     1
          XY76  S32     1
        END
        CHIP.YPARITY.DEPEND     STR     CHIP.NAME
        CHIP.YPARITY    METADATA
          XY01  S32     -1
          XY02  S32     -1
          XY03  S32     -1
          XY04  S32     -1
          XY05  S32     -1
          XY06  S32     -1
          XY10  S32     -1
          XY11  S32     -1
          XY12  S32     -1
          XY13  S32     -1
          XY14  S32     -1
          XY15  S32     -1
          XY16  S32     -1
          XY17  S32     -1
          XY20  S32     -1
          XY21  S32     -1
          XY22  S32     -1
          XY23  S32     -1
          XY24  S32     -1
          XY25  S32     -1
          XY26  S32     -1
          XY27  S32     -1
          XY30  S32     -1
          XY31  S32     -1
          XY32  S32     -1
          XY33  S32     -1
          XY34  S32     -1
          XY35  S32     -1
          XY36  S32     -1
          XY37  S32     -1
          XY40  S32     1
          XY41  S32     1
          XY42  S32     1
          XY43  S32     1
          XY44  S32     1
          XY45  S32     1
          XY46  S32     1
          XY47  S32     1
          XY50  S32     1
          XY51  S32     1
          XY52  S32     1
          XY53  S32     1
          XY54  S32     1
          XY55  S32     1
          XY56  S32     1
          XY57  S32     1
          XY60  S32     1
          XY61  S32     1
          XY62  S32     1
          XY63  S32     1
          XY64  S32     1
          XY65  S32     1
          XY66  S32     1
          XY67  S32     1
          XY71  S32     1
          XY72  S32     1
          XY73  S32     1
          XY74  S32     1
          XY75  S32     1
          XY76  S32     1
        END
        CELL.READDIR    S32     1
        CELL.BAD        S32     0
	CELL.XSIZE	S32	590
	CELL.YSIZE	S32	598
        CELL.TIMESYS    STR     UTC
        CELL.SATURATION F32     60000		# Saturation point (ADU)
END

# How to translation PS concepts into database lookups
DATABASE        METADATA
	# this rule is fragile : does not match the camera
#        FPA.TEMP        STR     SELECT ccd_temp FROM rawExp WHERE dateobs >= '{FPA.DATE}' and abs(timediff(dateobs, cast('{FPA.TIME}' as datetime))) < 2
END


# Where there might be some ambiguity, specify the format
FORMATS         METADATA
        FPA.RA          STR     DEGREES
        FPA.DEC         STR     DEGREES
	FPA.LONGITUDE	STR	HOURS
	FPA.LATITUDE	STR	DEGREES
        FPA.TIME        STR     YEAR.FIRST
        CELL.TIME       STR     YEAR.FIRST
        CELL.BINNING    STR     TOGETHER
        # CELL.X0         STR     FORTRAN
        # CELL.Y0         STR     FORTRAN
	CELL.READNOISE	STR	ADU
END

# Pattern correction information:

# PATTERN.ROW		BOOL 	TRUE	# Do any row pattern correction at all?
PATTERN.ROW.SUBSET	METADATA	# List of chips and whether to do row pattern correction
#	XY02	STR     0000000000000000000000000000000000000000000000000000000000000001 # xy77
#	XY02	BOOL	FALSE
END

PATTERN.CONTINUITY BOOL TRUE
# PATTERN.CELL	BOOL 	FALSE		# by default, do not do any cell pattern correction
# PATTERN.CELL.SUBSET	METADATA	# List of chips and whether to do cell pattern correction
#	XY06    STR     0101000000010000000110000100000000000000000000000000000000000000
# 	XY06	BOOL	FALSE
# END
