# Mask generation --- already included in default, above
PPMERGE_DARKMASK METADATA
  ITER               S32    1
  MASK.SUSPECT.SIGMA F32	8.0		# Threshold for suspect pixels (sigma)
  MASK.BAD	     F32	0.1		# Threshold for bad pixels 
  MASK.MODE	     STR	FRACTION	# Meaning of threshold : value, sigma
  SAMPLE             S32    100000          # Sampling factor for measuring the background
END

PPMERGE_FLATMASK METADATA
  ITER           S32    1
  MASK.SUSPECT.SIGMA F32	3.0		# Threshold for suspect pixels (sigma)
  MASK.BAD	 F32	0.1		# Threshold for bad pixels (sigma)
  MASK.MODE	 STR	FRACTION	# Threshold for bad pixels (sigma)
  SAMPLE         S32    100000          # Sampling factor for measuring the background
END

ROWS		S32	32		# Number of rows to read at once

FRINGE.NUM          S32     1000        # Number of fringe regions per cell
FRINGE.SIZE         S32     5           # Half-size of fringe regions
FRINGE.XSMOOTH      S32     3           # Number of smoothing regions per cell in x
FRINGE.YSMOOTH      S32     3           # Number of smoothing regions per cell in y
FRINGE.SMOOTH       BOOL    TRUE        # Smooth the output image?
FRINGE.SMOOTH.SIGMA F32     2.0         # Sigma of smoothing Gaussian

# Ordinates for fitting dark current
# example for linear in darktime only
#DARK.ORDINATES	METADATA
#	CELL.EXPOSURE	S32	1
#END

DARK.ORDINATES   METADATA
       CELL.EXPOSURE      S32    1
       TEMP    METADATA
               ORDER      S32    1
               RULE       STR    CHIP.TEMPERATURE * CELL.EXPOSURE
       END
END        

## Dark for 2010-07-02 with new temp concept.
## DARK.ORDINATES	METADATA
## 	CELL.EXPOSURE	S32	1
##   	TEMP	METADATA
##   		ORDER	S32	1
##  		RULE	STR	CHIP.TEMPERATURE * CELL.EXPOSURE
##   	END
##   	TEMP2	METADATA
##   		ORDER	S32	1
##  		RULE	STR	CHIP.TEMPERATURE * CHIP.TEMPERATURE * CELL.EXPOSURE
##   	END
## END


