	
# save matched stars?
PSASTRO.SAVE.REFMATCH      BOOL TRUE  # save refstar matches as table in output smf file

# astrometry matching parameters

# nominal plate scale (units / pixel)
# XXX we are using pixels here because of the limited dynamic range for 
# NAXIS1,2 when loaded by addstar.  
PSASTRO.PIXEL.SCALE    F32  1.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32    5000.
PSASTRO.GRID.SCALE     F32      50
PSASTRO.GRID.NSTAR.MAX S32     800 # deprecated 
PSASTRO.GRID.NREF.MAX  S32     800 # max stars accepted for grid search from ref catalog
PSASTRO.GRID.NRAW.MAX  S32    1200 # max stars accepted for grid search from raw image

PSASTRO.MAX.NRAW      S32      1000   # max stars accepted for fitting (0 for all)
PSASTRO.MAX.NREF      S32      5000   # max stars accepted for fitting (0 for all)

# extra field for ref stars:
PSASTRO.FIELD.PADDING  F32     0.25   # pad by this fraction of the full mosaic (may need to be larger for single chips)

# 
PSASTRO.MIN.INST.MAG.RAW       F32     -15.0   # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW       F32      -8.0   # max instrumental magnitude for stars accepted for fitting
PSASTRO.GRID.MIN.INST.MAG.RAW  F32     -15.0   # min instrumental magnitude for stars accepted for grid search
PSASTRO.GRID.MAX.INST.MAG.RAW  F32      -8.0   # max instrumental magnitude for stars accepted for grid search

# PSASTRO.GRID.MIN.ANGLE F32 -1.0 # start angle (degrees)
# PSASTRO.GRID.MAX.ANGLE F32 +0.5
PSASTRO.GRID.DEL.ANGLE F32  0.5

# for some period before 2018.07.25, there was a substantial pointing offset
# PSASTRO.GRID.MIN.ANGLE F32 -10.0 # start angle (degrees)
# PSASTRO.GRID.MAX.ANGLE F32  -6.0

PSASTRO.GRID.MIN.ANGLE F32 -3.0
PSASTRO.GRID.MAX.ANGLE F32 +3.0

#
PSASTRO.GRID.MIN.SCALE F32  1.00
PSASTRO.GRID.MAX.SCALE F32  1.00
PSASTRO.GRID.DEL.SCALE F32  0.01

# single-chip radius match in pixels
PSASTRO.MATCH.RADIUS.N0 F32    90
PSASTRO.MATCH.RADIUS.N1 F32    60
PSASTRO.MATCH.RADIUS.N2 F32    30
PSASTRO.MATCH.RADIUS.N3 F32    20
PSASTRO.MATCH.RADIUS.N4 F32    20
PSASTRO.MATCH.RADIUS.N5 F32    10
PSASTRO.MATCH.RADIUS.N6 F32    10
PSASTRO.MATCH.RADIUS.N7 F32    5
PSASTRO.MATCH.FIT.NITER S32    8

# for iterations >= N, require a single match per reference
PSASTRO.MATCH.UNIQ.ITER S32     4 

# XXX Test for taurus
PSASTRO.GRID.MIN.SIGMA  F32  1.0
PSASTRO.IGNORE          STR  SATURATED,CRLIMIT,DEFECT,BLEND,FAIL

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32    150
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

PSASTRO.USE.MODEL             BOOL     TRUE

# PSASTRO.FIX.CHIPS             BOOL     TRUE
PSASTRO.PIXEL.TOLERANCE       F32      3.0
PSASTRO.ANGLE.TOLERANCE       F32      1.0

# Mosaic Astrometry options
PSASTRO.MOSAIC.MODE         BOOL   TRUE

# for iterations >= N, require a single match per reference
PSASTRO.MOSAIC.CHIP.NITER     S32      5  # fit clipping iterations (NOTE: last iteration is NITER, not NITER - 1)
PSASTRO.MOSAIC.CHIP.NSIGMA    F32      3  # fit clipping sigmas
PSASTRO.MOSAIC.UNIQ.ITER      S32      3  # for iterations >= N, require a single match per reference

PSASTRO.MOSAIC.MAX.ERROR.N0 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N1 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N4 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N5 F32    5.00 # max allow error for valid solution (arcsec)

# mosaic radius match in pixels (do these make sense?)
PSASTRO.MOSAIC.RADIUS.N0    F32    5
PSASTRO.MOSAIC.RADIUS.N1    F32    10
PSASTRO.MOSAIC.RADIUS.N2    F32    10
PSASTRO.MOSAIC.RADIUS.N3    F32    5
PSASTRO.MOSAIC.RADIUS.N4    F32    3
PSASTRO.MOSAIC.RADIUS.N5    F32    3

PSASTRO.MOSAIC.CHIP.ORDER     S32      1  # limit chip-fit order to 1
PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      0 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N5  S32      3 # fit order (-1 means use default)

# we need to allow a loose fit if we are fitting to 2mass (50mas internal error -> 100mas limit?)
# if we are fitting against quality digital data, we can require tighter constraints

PSASTRO.MODEL.REF.CHIP        STR      XY33

PSASTRO.MODEL.SET.BORESITE    BOOL     FALSE
PSASTRO.MODEL.BORESITE.X      F32      -62.0
PSASTRO.MODEL.BORESITE.Y      F32     -139.0
#PSASTRO.MODEL.BORESITE.X      F32      -200.0
#PSASTRO.MODEL.BORESITE.Y      F32     -300.0

# maximum accepted fwhm_major (moved from camera.config
PSASTRO.MAX.ALLOWED.FWHM              F32       100

# *** make sure the choice of CATDIR (dvo database) contains the photcodes desired below
# PSASTRO.CATDIR              STR      SYNTH.GRIZY 
# PSASTRO.CATDIR		STR	PS1.REF.20120503
PSASTRO.CATDIR               STR     PS1.REF.20170919


DVO.GETSTAR.PHOTCODE        STR      i
# EAM 2021.11.11: return to 10k (was 3k on processing tag since July swap)
DVO.GETSTAR.MAX.RHO         F32      10000.0
DVO.GETSTAR.MIN.MAG         F32     -10.0
DVO.GETSTAR.MIN.MAG.INST    F32     -45.0

# rather than mean, use specified EDGE:
ZERO.POINT.USE.MEAN	      	BOOL     TRUE
ZERO.POINT.EDGE.FRACTION      	F32      0.9
ZERO.POINT.EDGE.SAMPLE        	S32      25
ZERO.POINT.EDGE.SAMPLE.FRACTION F32      0.1

PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
  FILTER   STR g
  ZEROPT   F32 25.013
  PHOTCODE STR g
  GHOST_MAX_MAG                   F32 -16.5
  GLINT_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR r
  ZEROPT   F32 24.840
  PHOTCODE STR r
  GHOST_MAX_MAG                   F32 -20.0
  GLINT_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR i
  ZEROPT   F32 24.711
  PHOTCODE STR i
  GHOST_MAX_MAG                   F32 -23.5
  GLINT_MAX_MAG                   F32 -21.0
END
PHOTCODE.DATA METADATA
  FILTER   STR z
  ZEROPT   F32 24.300
  PHOTCODE STR z
  GHOST_MAX_MAG                   F32 -25.0
  GLINT_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR y
  ZEROPT   F32 23.570
  PHOTCODE STR y
  GHOST_MAX_MAG                   F32 -25.0
  GLINT_MAX_MAG                   F32 -23.0
END
PHOTCODE.DATA METADATA
  FILTER   STR w
  ZEROPT   F32 26.000
  PHOTCODE STR r
  GHOST_MAX_MAG                   F32 -23.5
  GLINT_MAX_MAG                   F32 -21.0
END

REFSTAR_MASK                    BOOL TRUE
REFSTAR_MASK_MAX_MAG            F32 -16.5

#TdB20200214: Position of gpc2 spikes determined on image
REFSTAR_MASK_SATSTAR_POS_ZERO   F32  -0.7892
#TdB20200225: The rotator angle for gpc2 goes the other way around as gpc1
PSASTRO.MODEL.ROT.PARITY      S32      -1

#TdB20200229: The size of saturated star circles should be an exponential for gpc2
#rad(mag) = REFSTAR_MASK_SATSTAR_RAD_OFFSET + REFSTAR_MASK_SATSTAR_EXP**(REFSTAR_MASK_SATSTAR_MAG_MAX-mag)
REFSTAR_MASK_SATSTAR_MAG_MAX    F32 -11.363
REFSTAR_MASK_SATSTAR_RAD_OFFSET F32  17.631
REFSTAR_MASK_SATSTAR_EXP        F32   1.493

REFSTAR_MASK_SATSPIKE_MAG_SLOPE F32  0.096
REFSTAR_MASK_SATSPIKE_MAG_MAX   F32  7.35
REFSTAR_MASK_SATSPIKE_OFFSET    F32 200.0
REFSTAR_MASK_SATSPIKE_WIDTH     F32   8.00
# Width control. if L > L0, W = W0 + (L - L0) * slope
REFSTAR_MASK_SATSPIKE_L0        F32  200.0
REFSTAR_MASK_SATSPIKE_WIDTH_SLOPE F32 0.01

# pair 1 (longer)
# REFSTAR_MASK_SATSPIKE_MAG_MAX1  F32 -16.20

# pair 2 (shorter)
# REFSTAR_MASK_SATSPIKE_MAG_MAX2  F32 -17.70


REFSTAR_MASK_BLEED              BOOL FALSE
REFSTAR_MASK_BLEED_MAG_MAX      F32 -15.0
REFSTAR_MASK_BLEED_MAG_SLOPE    F32   5.0

PSASTRO.EXTRACT METADATA
 EXTRACT_MAX_MAG                F32  -19.0
 DVO.GETSTAR.MAX.RHO            F32  300.0
END

# ghost model file is relative to PATH (eg, ippconfig directory)
GHOST_MODEL                     STR  gpc2/ghost.model.mdc
# GHOST_MAX_MAG                   F32 -20.0

REFSTAR_COUNT_GHOSTS            BOOL TRUE
REFSTAR_MASK_GHOST              BOOL TRUE
PSASTRO.SAVE.GHOSTS             BOOL TRUE  # save ghost positions as table in output smf file

#TdB20200305: The length of glints as function of mag is recomputed for gpc2
#glint_length(mag) = GLINT_LENGTH_MAG_SLOPE*(GLINT_LENGTH_MAG_ZERO-mag)
GLINT_LENGTH_MAG_SLOPE          F32 1901.0
GLINT_LENGTH_MAG_ZERO           F32 -16.8
#TdB20200308: The length of glints also depends on position off the focal plane (perpendicular to pixel FPA), out to GLINT_LENGTH_POS_CUT
#glint_length(pos) = GLINT_LENGTH_POS_SLOPE*(GLINT_LENGTH_POS_REF-pos)
GLINT_LENGTH_POS_SLOPE          F32 0.00019
GLINT_LENGTH_POS_REF            F32 33821.
GLINT_LENGTH_POS_CUT            F32 30000.
GLINT_LENGTH_MIN_FPA            F32 1500.0
#TdB20200312: The angle that glints have depends on position along the focal plane (parallel to pixel FPA)
#glint_angle(pos) = GLINT_ANGLE_SLOPE*(GLINT_ANGLE_POS_REF-(pos/1000))
#GLINT_ANGLE_POS_SLOPE           F32  0.07903  
GLINT_ANGLE_POS_SLOPE           F32  0.0  
GLINT_ANGLE_POS_REF             F32 -575.5
GLINT_WIDTH                     F32  60.0

# save glint positions?
PSASTRO.SAVE.GLINTS             BOOL TRUE  # save glint positions as table in output smf file

PR_RECIPE METADATA
  REFSTAR_MASK                    BOOL FALSE
END

REFSTAR_MASK_GLINTS		BOOL  TRUE
GLINT_MAX_MAG                   F32 -21.0
GLINT.REGION			MULTI

GLINT.REGION			METADATA
  REGION			STR  [-38000:-25000,-20000:+20000]
  GLINT.TYPE                    STR  LEFT
END

GLINT.REGION			METADATA
  REGION			STR  [+25000:+38000,-20000:+20000]
  GLINT.TYPE                    STR  RIGHT
END

GLINT.REGION			METADATA
  REGION			STR  [-20000:+20000,+25000:+38000:]
  GLINT.TYPE                    STR  TOP
END

GLINT.REGION			METADATA
  REGION			STR  [-20000:+20000,-38000:-25000]
  GLINT.TYPE                    STR  BOTTOM
END

REFSTAR_MASK_CROSSTALK_MAG_SLOPE F32   3.44
REFSTAR_MASK_CROSSTALK_MAG_MAX   F32 -14.47
CROSSTALK_MAX_MAG                F32  20.0
CROSSTALK_MASK                   BOOL TRUE

# crosstal rules file is relative to PATH (eg, ippconfig directory)
CROSSTALK_FILE                     STR  gpc2/crosstalk_rules.mdc

PS1_REFERENCE METADATA
  PSASTRO.CATDIR              STR      PS1.GRIZY
#   PSASTRO.CATDIR	       STR	PS1.REF.20120325
  ## PHOTCODE.DATA MULTI UPDATE
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR g
  ##   ZEROPT   F32 24.541
  ##   PHOTCODE STR g
  ##   GHOST_MAX_MAG                   F32 -20.0
  ## END
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR r
  ##   ZEROPT   F32 24.705.1
  ##   PHOTCODE STR r
  ##   GHOST_MAX_MAG                   F32 -20.0
  ## END
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR i
  ##   ZEROPT   F32 24.580
  ##   PHOTCODE STR i
  ##   GHOST_MAX_MAG                   F32 -25.0
  ## END
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR z
  ##   ZEROPT   F32 24.201
  ##   PHOTCODE STR z
  ##   GHOST_MAX_MAG                   F32 -25.0
  ## END
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR y
  ##   ZEROPT   F32 23.260
  ##   PHOTCODE STR y
  ##   GHOST_MAX_MAG                   F32 -25.0
  ## END
  ## PHOTCODE.DATA METADATA
  ##   FILTER   STR w
  ##   ZEROPT   F32 26.0
  ##   PHOTCODE STR r
  ##   GHOST_MAX_MAG                   F32 -20.0
  ## END
END

### MOPS wants dynamic masking turned off
MOPS.TEST	METADATA
	REFSTAR_MASK	BOOL	FALSE
END

SAS_REFERENCE METADATA
    PSASTRO.CATDIR              STR      SAS.REF.V1
END

# these values worked to get solutions for the STS observations from 2009 & 2010
# these field has damage from excessive persistence and the impact of burntool
STS_DATASET  METADATA

  # need to boost the total number of stars available for the fit:
  # allow more stars per chip and boost the density to which we query
  # from the reference database.
  PSASTRO.MAX.NRAW               S32      2000   # 
  PSASTRO.MAX.NREF               S32      8000   # max stars accepted for fitting (0 for all)
  # use wider range of magnitudes for grid search
  PSASTRO.GRID.MIN.INST.MAG.RAW  F32     -15.0   # min instrumental magnitude for stars accepted for fitting
  PSASTRO.GRID.MAX.INST.MAG.RAW  F32     -11.0   # max instrumental magnitude for stars accepted for fitting

  # reduce the magnitude range to avoid the bright stars have bad astrometry problem
  PSASTRO.MIN.INST.MAG.RAW       F32     -12.0   # min instrumental magnitude for stars accepted for fitting
  PSASTRO.MAX.INST.MAG.RAW       F32     -11.0   # min instrumental magnitude for stars accepted for fitting

  DVO.GETSTAR.MIN.MAG.INST   F32     -15.0
  DVO.GETSTAR.MAX.RHO        F32      60000.0
  
  # the crowding is high, so unless we restrict somewhat tightly early
  # on, we get very noisy (and wrong) fits.  These values are probably
  # too restrictive for the general observation: we would risk missing
  # matches.

  # single-chip radius match in pixels
  PSASTRO.MATCH.RADIUS.N0 F32   10
  PSASTRO.MATCH.RADIUS.N1 F32    5
  PSASTRO.MATCH.RADIUS.N2 F32    5
  PSASTRO.MATCH.RADIUS.N3 F32    5
  PSASTRO.MATCH.RADIUS.N4 F32    3
  PSASTRO.MATCH.RADIUS.N5 F32    3
  PSASTRO.MATCH.RADIUS.N6 F32    5
  PSASTRO.MATCH.RADIUS.N7 F32    5
  PSASTRO.MATCH.FIT.NITER S32    5

  # CATDIR with PS1 astrometry from PP5 pointing. Only works for that field
  # PSASTRO.CATDIR    	STR 	STS.PP5.REFCAT
END

DEFAULT_RECIPE METADATA
#   PSASTRO.CATDIR               STR     PS1.REF.20120503
   PSASTRO.CATDIR		STR	PS1.REF.20170919
   ZERO.POINT.USE.MEAN		BOOL	TRUE  
END

CNP_DATASET METADATA
    ZERO.POINT.USE.MEAN         BOOL    TRUE
    PSASTRO.MAX.ALLOWED.FWHM    F32     25
END

LAP_ASTRO METADATA
#  PSASTRO.CATDIR                STR      3PI.20110505.REFCAT
#   PSASTRO.CATDIR		 STR	  SYNTH.GRIZY
#   PSASTRO.CATDIR		 STR     PS1.REF.20120503
   PSASTRO.CATDIR               STR     PS1.REF.20120524
   ZERO.POINT.USE.MEAN		BOOL	TRUE  
END

QUB_ASTRO METADATA
   ZERO.POINT.USE.MEAN         BOOL  TRUE
   PSASTRO.MAX.ALLOWED.FWHM    F32   24
   PSASTRO.CATDIR               STR     PS1.REF.20170919
END

YSE_ASTRO METADATA
   ZERO.POINT.USE.MEAN         BOOL  TRUE
   PSASTRO.MAX.ALLOWED.FWHM    F32   24 
   PSASTRO.CATDIR               STR     PS1.REF.20170919
END

#Recipe for processing engineering exposures
ENGI_ASTRO METADATA
   ZERO.POINT.USE.MEAN         BOOL  TRUE
   PSASTRO.MAX.ALLOWED.FWHM    F32   30
   PSASTRO.CATDIR               STR     PS1.REF.20170919
END

SYNTH_CAT METADATA
   PSASTRO.CATDIR		STR SYNTH.GRIZY
END

POLE_REFCAT METADATA
   PSASTRO.CATDIR		STR  SYNTH.GRIZY
   ZERO.POINT.USE.MEAN		     BOOL TRUE  
   PSASTRO.GRID.MIN.ANGLE       F32  -20
   PSASTRO.GRID.MAX.ANGLE       F32  +20
   PSASTRO.GRID.DEL.ANGLE       F32   0.5
   PSASTRO.FIELD.PADDING        F32   0.5
END

TEST_REFCAT METADATA
   PSASTRO.CATDIR		STR /data/ipp064.0/ipp/ippRefs/catdir.refcat.20120524.v0
END

STATICSKY_TESTCAL   METADATA
   REFSTAR_MASK                BOOL FALSE
   PSASTRO.SAVE.REFMATCH       BOOL FALSE
   PSASTRO.FIX.CHIPS           BOOL FALSE
   PSASTRO.USE.MODEL           BOOL FALSE
   PSASTRO.MOSAIC.MODE         BOOL FALSE
   DVO.GETSTAR.FIXED.ZEROPT    F32   25.0

   PSASTRO.CATDIR               	STR     PS1.REF.20120524
   ZERO.POINT.USE.MEAN          	BOOL    TRUE
   PSASTRO.MAX.NRAW 			S32	0 
   PSASTRO.GRID.NRAW.MAX 		S32	50000 
   PSASTRO.MIN.INST.MAG.RAW 		F32	-21.0
   PSASTRO.MAX.INST.MAG.RAW 		F32	-15.0 
   PSASTRO.GRID.MIN.INST.MAG.RAW 	F32	-21.0 
   PSASTRO.GRID.MAX.INST.MAG.RAW 	F32	-15.0  
   DVO.GETSTAR.MIN.MAG.INST 		F32	-14.0
END

STATICSKY_CAL   METADATA
    REFSTAR_MASK                BOOL FALSE
    PSASTRO.SAVE.REFMATCH       BOOL FALSE
    PSASTRO.FIX.CHIPS           BOOL FALSE
    PSASTRO.USE.MODEL           BOOL FALSE
    PSASTRO.MOSAIC.MODE         BOOL FALSE
    DVO.GETSTAR.FIXED.ZEROPT    F32   25.0
    DVO.GETSTAR.MIN.MAG.INST	F32   -15.0
    PSASTRO.CATDIR                       STR     PS1.REF.20120524
    ZERO.POINT.USE.MEAN                  BOOL    TRUE

    ## for skycell, radius shouldn't need to be as large as 90 pixel default. deeper stacks, crowded fields can be problems
    PSASTRO.MATCH.RADIUS.N0 F32    15
    PSASTRO.MATCH.RADIUS.N1 F32    10
    PSASTRO.MATCH.RADIUS.N2 F32    5
    PSASTRO.MATCH.RADIUS.N3 F32    1
    PSASTRO.MATCH.RADIUS.N4 F32    0.5
    PSASTRO.MATCH.FIT.NITER S32    5

    PSASTRO.MAX.ERROR      F32      0.2  # in arcsec units, if larger than 0.2" on skycell then a problem..

END


# revised setup for MD nightly stack inputs, should work for case of N~2-30
# - similar to DEEPCAL except for MIN.NSTAR 5 to attemp more edge skycells if poorer
STATICSKY_NIGHTCAL   METADATA
   PSASTRO.CATDIR                  STR   PS1.REF.20120524  # reset here to ensure same catalog is used when reprocessing set uniformly
   REFSTAR_MASK                    BOOL  FALSE
   PSASTRO.SAVE.REFMATCH           BOOL  FALSE
   PSASTRO.FIX.CHIPS               BOOL  FALSE
   PSASTRO.USE.MODEL               BOOL  FALSE
   PSASTRO.MOSAIC.MODE             BOOL  FALSE
   ZERO.POINT.USE.MEAN             BOOL  TRUE
   PSASTRO.FIELD.PADDING           F32   0.01   # skycells are well defined, don't need large padding. 1% of 6400 is 64 pixels
   PSASTRO.MAX.NRAW                S32   1000   # include more than MAX.NREF to account for extras like false-positives
   PSASTRO.MAX.NREF            	   S32   500   # if edge skycell ~5% then want >50 to match (hit ~40% in normal field matches)
   PSASTRO.MIN.INST.MAG.RAW        F32   -25.0  # 
   PSASTRO.MAX.INST.MAG.RAW        F32   -5.0
   PSASTRO.GRID.SEARCH 		   BOOL  FALSE  # skycell/stack and astrom well known, when used could cause problems and not help
   #PSASTRO.GRID.NRAW.MAX           S32   2000
   #PSASTRO.GRID.NREF.MAX 	    S32   2000
   #PSASTRO.GRID.MIN.INST.MAG.RAW   F32   -21.0
   #PSASTRO.GRID.MAX.INST.MAG.RAW   F32   -14.0
   DVO.GETSTAR.MAX.RHO		   F32	 6000.0  # slightly larger than MAX.NREF 
   DVO.GETSTAR.MIN.MAG.INST        F32   -25.0   # set absurd range to cover large range of exptime, then clamp...
   DVO.GETSTAR.MIN.MAG		   F32	 15.0    # only used if keyword problem
   REFSTAR_CLAMP_MAG_MIN 	   F32	 15.0    # saturation in MD ~14 even in y-band, so toss out brighter in the list
   DVO.GETSTAR.FIXED.ZEROPT        F32   0.0     # not really needed, exptime overly dominates
  
   ## for skycell/stack astrom well known, radius shouldn't need to be as large as 90 pixel default. in deeper stacks can be problems
   PSASTRO.MATCH.RADIUS.N0         F32   5 
   PSASTRO.MATCH.RADIUS.N1 	   F32   3 
   PSASTRO.MATCH.RADIUS.N2 	   F32   1
   PSASTRO.MATCH.RADIUS.N3 	   F32   0.5
   PSASTRO.MATCH.FIT.NITER 	   S32   4 
   PSASTRO.MAX.ERROR       	   F32   0.2  # in arcsec units, still liberal limit for well known astrometry for skycells
   PSASTRO.MIN.NSTAR       	   S32   5    # edges may not have many and require special treatment 
END


# revised setup for DEEP/MDS stacks with range of inputs, should work for N~2(edges)--500 inputs with large MIN/MAX.INST.MAG.RAW
STATICSKY_DEEPCAL   METADATA
   PSASTRO.CATDIR                  STR   PS1.REF.20120524  # reset here to ensure same catalog is used when reprocessing set uniformly
   REFSTAR_MASK                    BOOL  FALSE
   PSASTRO.SAVE.REFMATCH           BOOL  FALSE
   PSASTRO.FIX.CHIPS               BOOL  FALSE
   PSASTRO.USE.MODEL               BOOL  FALSE
   PSASTRO.MOSAIC.MODE             BOOL  FALSE
   ZERO.POINT.USE.MEAN             BOOL  TRUE
   PSASTRO.FIELD.PADDING           F32   0.01   # skycells are well defined, don't need large padding. 1% of 6400 is 64 pixels
   PSASTRO.MAX.NRAW                S32   1000   # include more than MAX.NREF to account for extras like false-positives
   PSASTRO.MAX.NREF            	   S32    500   # if edge skycell ~10% then try ~50 to match 
   PSASTRO.MIN.INST.MAG.RAW        F32   -25.0  # 
   PSASTRO.MAX.INST.MAG.RAW        F32   -5.0
   PSASTRO.GRID.SEARCH 		   BOOL  FALSE  # skycell/stack and astrom well known, when used could cause problems and not help
   #PSASTRO.GRID.NRAW.MAX           S32   2000
   #PSASTRO.GRID.NREF.MAX 	    S32   2000
   #PSASTRO.GRID.MIN.INST.MAG.RAW   F32   -21.0
   #PSASTRO.GRID.MAX.INST.MAG.RAW   F32   -14.0
   DVO.GETSTAR.MAX.RHO		   F32	 6000.0  # N/sqdeg, slightly larger than MAX.NREF 
   DVO.GETSTAR.MIN.MAG.INST        F32   -25.0   # set absurd range to cover large range of exptime, then clamp...
   DVO.GETSTAR.MIN.MAG		   F32	 15.0    # only used if keyword problem so also using CLAMP_MAG_MIN
   REFSTAR_CLAMP_MAG_MIN 	   F32	 15.0    # saturation in MD ~14 even in y-band, so toss out brighter in the list
   DVO.GETSTAR.FIXED.ZEROPT        F32   0.0     # not really needed, exptime overly dominates
  
   ## for skycell/stack astrom well known, radius shouldn't need to be as large as 90 pixel default. in deeper stacks can be problems
   PSASTRO.MATCH.RADIUS.N0         F32   5 
   PSASTRO.MATCH.RADIUS.N1 	   F32   3 
   PSASTRO.MATCH.RADIUS.N2 	   F32   1
   PSASTRO.MATCH.RADIUS.N3 	   F32   0.5
   PSASTRO.MATCH.FIT.NITER 	   S32   4 
   PSASTRO.MAX.ERROR       	   F32   0.2  # in arcsec units, still liberal limit for well known astrometry for skycells
   PSASTRO.MIN.NSTAR       	   S32   10   # edges may not have many and require special treatment 
END

SWEETSPOT_TEST METADATA
   PSASTRO.CATDIR               STR     PS1.REF.20170919
   ZERO.POINT.USE.MEAN          BOOL    TRUE
   PSASTRO.GRID.MIN.ANGLE F32 -6.0 
   PSASTRO.GRID.MAX.ANGLE F32 -3.0 
   PSASTRO.GRID.OFFSET F32 3000.0
END

