
BACKGROUND.XBIN                     S32   400             # size of background superpixels
BACKGROUND.YBIN                     S32   400             # size of background superpixels
BACKGROUND.XSAMPLE                  F32   2.0             # size of background superpixels
BACKGROUND.YSAMPLE                  F32   2.0             # size of background superpixels

SOFTEN.VARIANCE                     BOOL  FALSE          # XXX drop? soften the errors for bright pixels
SOFTEN.VARIANCE.FRACTION            F32   0.000		 # CZW 2013-06-20 I've disabled this, as I don't think it's needed.

PEAKS_SMOOTH_SIGMA                  F32   2.5           # smoothing kernel sigma in pixels

PSF_CLUMP_NX                        S32   3             # subdivide image in to NX x NY regions for 
PSF_CLUMP_NY                        S32   3             # selecting PSF stars
PSF_CLUMP_GRID_SCALE                F32   2.5		# XXX too large? size of Sx,Sy image pixel

PSF.RESIDUALS.RADIUS   		    F32   9.0           # keep this pixel if residual is more significant than this
PSF.RESIDUALS.SPATIAL_ORDER 	    S32   1             # fit spatial variations of the residuals at this order (0,1)

# PSF model parameters : choose the PSF model desired
PSF_MODEL              	 	    STR   PS_MODEL_PS1_V1
# vector of simga values to use in when setting the moments window (this is shorter for gpc1 than
# the psphot default)
@PSF.SIGMA.VALUES                   F32   1.0  2.0  3.0  4.5  6.0  9.0 # comment due to ticket #1476

PSPHOT.CR.NSIGMA.SOFTEN             F32   0.0025        # Softening parameter for weights in CR stat
PSPHOT.CR.MAX.SIZE                  F32   0.8             # guess for limit on M_minor in pix^2
PSPHOT.CR.MAX.MAG                   F32  -8.0             # guess for limit on Kron Mag
PSPHOT.CR.AUTOSCALE                 BOOL  FALSE

PSF.TREND.NX                        S32   6
PSF.TREND.NY                        S32   6

PSF_MAX_NSTARS                      S32   2000          # limit number of stars used for PSF model

# rename NONLINEAR_FIT_SN_LIM?
FULL_FIT_SN_LIM      		    F32   25.0

APTREND.ORDER.MAX    		    S32   6

PSPHOT.CRMASK.APPLY		    BOOL  TRUE		  # TEST THIS before enabling.

# Extended source fit parameters
APTEST_V1                     METADATA
  BREAK_POINT                         STR   ENSEMBLE     
END

DIAGNOSTIC.PLOTS METADATA
  IMAGE.BACKGROUND.CELL.HISTOGRAM   BOOL  FALSE
  IMAGE.BACKGROUND.CELL.HISTOGRAM.X S32   8
  IMAGE.BACKGROUND.CELL.HISTOGRAM.Y S32   8
END

DIFF METADATA
  BACKGROUND.XBIN		    S32  128            # size of background superpixels
  BACKGROUND.YBIN	    	    S32  128            # size of background superpixels
  DIFF_STATS			    BOOL TRUE	       # Calculate diff-specific stats
  OUTPUT.FORMAT		            STR  PS1_DV3       # Format of output file

  PSPHOT.EXT.NSIGMA.LIMIT	    F32	 0.0
  PSPHOT.EXT.DIFF.ALTERNATE	    BOOL TRUE
  PSPHOT.EXT.DIFF.ALTERNATE.THRESH  F32	 1.25

  # XXX enable these when MOPS is ready
  # LMM_FIT_CHISQ_CONVERGENCE         BOOL FALSE
  # LMM_FIT_GAIN_FACTOR_MODE          S32  2
  # PSF_FIT_MIN_TOL                   F32  0.2
  # EXT_FIT_MIN_TOL                   F32  0.2 
  # PSF_FIT_ITER                      S32  20
  # EXT_FIT_ITER                      S32  20
  # FOOTPRINT_CULL_NSIGMA_DELTA       F32  10
  # FOOTPRINT_CULL_NSIGMA_MIN         F32   2  

  PSPHOT.EXT.FIT.ALL.SOURCES	    BOOL TRUE
  PSPHOT.EXT.FIT.ALL.THRESH	    F32	 1000
# Lower threshold as requested by MOPS
  EXTENDED_SOURCE_MODELS METADATA 
    TYPE      EXTENDED_SOURCE_MODEL  MODEL            SNLIM   PSF_CONVOLVED
    TRAIL_RAW EXTENDED_SOURCE_MODEL  PS_MODEL_TRAIL   4.75    FALSE
  END
END

SSTF_DIFF METADATA
  PSPHOT.EXT.NSIGMA.LIMIT	    F32	 0.0
  PSPHOT.EXT.DIFF.ALTERNATE	    BOOL TRUE
  PSPHOT.EXT.DIFF.ALTERNATE.THRESH  F32	 1.25

  PSPHOT.EXT.FIT.ALL.SOURCES	    BOOL TRUE
  PSPHOT.EXT.FIT.ALL.THRESH	    F32	 1000
# Lower threshold as requested by MOPS
  EXTENDED_SOURCE_MODELS METADATA 
    TYPE      EXTENDED_SOURCE_MODEL  MODEL            SNLIM   PSF_CONVOLVED
    TRAIL_RAW EXTENDED_SOURCE_MODEL  PS_MODEL_TRAIL   4.75    FALSE
  END
END

SSTF_WS_DIFF METADATA
  PSPHOT.EXT.NSIGMA.LIMIT	    F32	 0.0
  PSPHOT.EXT.DIFF.ALTERNATE	    BOOL TRUE
  PSPHOT.EXT.DIFF.ALTERNATE.THRESH  F32	 1.25

  PSPHOT.EXT.FIT.ALL.SOURCES	    BOOL TRUE
  PSPHOT.EXT.FIT.ALL.THRESH	    F32	 1000
# Lower threshold as requested by MOPS
  EXTENDED_SOURCE_MODELS METADATA 
    TYPE      EXTENDED_SOURCE_MODEL  MODEL            SNLIM   PSF_CONVOLVED
    TRAIL_RAW EXTENDED_SOURCE_MODEL  PS_MODEL_TRAIL   4.75    FALSE
  END
END

# Recipe overrides for PR reduction
PR	METADATA
	BACKGROUND.XBIN	      S32   128             # size    	    of background superpixels
	BACKGROUND.YBIN	         S32   128             # size of background superpixels
	SKY_STAT         STR   FITTED_MEAN_V4  # statistic used to measure background
END

CHIP_CONSTANT_WEIGHTPHOT METADATA
        CONSTANT_PHOTOMETRIC_WEIGHTS        BOOL  TRUE
END

UNIONS_DR3 METADATA
  PEAKS_NSIGMA_LIMIT                  F32   100.0            # peak significance threshold
  PSF.TREND.NX                        S32   1
  PSF.TREND.NY                        S32   1
  PEAKS_USE_SIGNAL_IMAGE	      BOOL  TRUE             # significance peaks have a central divot
  LMM_FIT_USE_REWEIGHTING             BOOL  TRUE             # use IRLS-style reweighting (TRUE) or ordinary LMM
  EXT_MODEL                           STR   PS_MODEL_RGAUSS

# EXTENDED_SOURCE_FITS                BOOL  TRUE  # perform any of the aperture-like measurements?
# EXTENDED_SOURCE_ANNULI              BOOL  TRUE
# EXTENDED_SOURCE_SN_LIM              F32   5.0

  # radii in pixels. UNIONS_DR3 uses TESS RINGS.V3 with 0.25 arcsec pixels
  # these correspond to 1, 2, 4, 8, 12, 16 arcsecond radii
  @RADIAL.ANNULAR.BINS.LOWER          F32      0.00 4.00  8.00 16.00 32.00 48.00 # perl parser fails without a comment ticket #1476 still?
  @RADIAL.ANNULAR.BINS.UPPER          F32      4.00 8.00 16.00 32.00 48.00 64.00 # perl parser fails without a comment ticket #1476 still?
  RADIAL.ANNULAR.BINS.MIN             S32      3 # always measure apertures to this entry

  RADIAL_APERTURES		      BOOL  TRUE # measure the radial apertures listed above
  RADIAL_APERTURES_SN_LIM             F32   0.0  # S/N limit for radial aperture calculation
END
