
/* heading styles */
H1   		{ color: #000000; font-size: xx-large; }
H2		{ color: #000000; font-size: x-large;  }
H3		{ color: #000000; font-size: large;    }
H4		{ color: #000000; font-size: normal;   }
H5		{ color: #000000; font-size: small;    }

span.title      { font-size: 200% }
span.line       { color: #ff0000 }

/* document-specific styles come next */

a:link, a:visited, a:active { text-decoration: underline; font-weight: bold; color: #000080 }

body  { bgcolor: #20d0e0; background-color: #20d0e0; padding: 0px; margin: 0px }
table.outline { background: #ffffff; border: 5px solid #0850c0; padding: 0px; }

table.toparea { border-width: 0px}

a.menutop  { text-decoration: none; color: #ffffff; font-weight: bold }
a.menulink { text-decoration: none; font-weight: normal; color: #000000}

td.menutop  { text-align: left; background: #000000; font-size: small; color: #ffffff; padding: 2px; }
td.menuhead { text-align: left; background: #b0b0b0; font-size: small; color: #000080; padding: 2px; font-weight: bold; }
td.menulink { text-align: left; background: #ffffff; font-size: small; color: #000000; padding: 2px; font-weight: normal; text-indent: 8px; }
td.menumiss { text-align: left; background: #e0e0e0; font-size: small; color: #000000; padding: 2px; text-indent: 8px; }
td.menusel  { text-align: left; background: #ffffff; font-size: small; color: #ff0000; padding: 2px; font-weight: normal; text-indent: 8px; }

td.title { background-color: #ffffff; padding: 5px; font-size: x-large; text-align: left; vertical-align: top}
td.body  { background-color: #ffffff; padding: 5px; font-size: normal;  text-align: left; vertical-align: top }

a.submenu { text-decoration: underline; font-weight: bold; color: #ffffff}
a.sublist { text-decoration: none; font-weight: bold; color: #0000ff}
a.subplot { text-decoration: underline; font-weight: bold; color: #000000}

td.subtitle  { background: #0754ba; font-size: large; font-weight: bold; color: #ffffff; padding: 2px }
td.submenu   { background: #000000; text-align: center; font-size: small; font-weight: bold; color: #ffffff; padding: 2px }
td.subsel    { background: #b0b0b0; text-align: center; font-size: small; font-weight: bold; color: #000000; padding: 2px }

table.pretty    { background: #ffffff; border: 1px solid #0000ff; padding: 0px; cellspacing: 0px; }
table.pretty td { border: 1px solid #0000ff; padding: 3px; text-align: left}
table.pretty th { border: 1px solid #0000ff; padding: 3px; text-align: left}
table.pretty caption { font-weight: bold; }
