# Camera configuration file for MegaCam: describes the camera

# File formats that we know about (these are relative to PATH)
FORMATS         METADATA
        SIMPLE  STR     ucam/format_raw.config
END


# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
	chip	STR	xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70 xy01 xy11 xy21 xy31 xy41 xy51 xy61 xy71 xy02 xy12 xy22 xy32 xy42 xy52 xy62 xy72 xy03 xy13 xy23 xy33 xy43 xy53 xy63 xy73 xy04 xy14 xy24 xy34 xy44 xy54 xy64 xy74 xy05 xy15 xy25 xy35 xy45 xy55 xy65 xy75 xy06 xy16 xy26 xy36 xy46 xy56 xy66 xy76 xy07 xy17 xy27 xy37 xy47 xy57 xy67 xy77
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
   g        STR   g
   r        STR   r
   i        STR   i
   z        STR   z
   y        STR   y
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	fpa	STR	fpa
	chip	STR	{CHIP.NAME}
	cell	STR	{CHIP.NAME}:{CELL.NAME}
END

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
	# Recipes for ppImage
        # PPIMAGE         STR     ucam/ppImage.config     # Default: all (normal) options on
END

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES       STR     recipes/filerules-simple.mdc
