### Phase 2 recipe configuration file

# List of tasks to perform
MASK		BOOL	FALSE		# Mask bad pixels
MASK.VALUE      U8      0x10            # only mask pixels matching this bitmask
NONLIN		BOOL	FALSE		# Non-linearity correction
OVERSCAN	BOOL	FALSE		# Overscan subtraction
BIAS		BOOL	TRUE		# Bias subtraction
DARK		BOOL	FALSE		# Dark subtraction
FLAT		BOOL	FALSE		# Flat-field normalisation
FRINGE		BOOL	FALSE		# Fringe subtraction
PHOTOM		BOOL	FALSE		# Source identification and photometry
ASTROM.CHIP	BOOL	FALSE
ASTROM.MOSAIC	BOOL	FALSE		# Astrometry

BASE.FITS       BOOL    TRUE            # Save base detrended image?
CHIP.FITS       BOOL   	FALSE           # Save chip-mosaic-ed image? 
FPA1.FITS       BOOL   	FALSE           # Save 1st binned fpa image? 
FPA2.FITS       BOOL   	FALSE           # Save 2nd binned fpa image? 
BIN1.FITS	BOOL	TRUE		# Save 1st binned chip image?
BIN2.FITS	BOOL	TRUE		# Save 2nd binned chip image?
BIN1.JPEG	BOOL	FALSE		# Save 1st binned jpeg?
BIN2.JPEG	BOOL	FALSE		# Save 2nd binned jpeg?

# Non-linearity correction
NONLIN.SOURCE		STR	CHIP.NAME	# How to determine the source
#@NONLIN.DATA		F32	0.0 1.001 0.001	# A polynomial
NONLIN.DATA		STR	nonlin.dat	# Filename for lookup table
#NONLIN.DATA		METADATA		# Source of non-linearity data
#	ccd00		STR	nonlin00.dat	# A lookup table 
#	@ccd01		F32	0.0 1.001 0.001	# A polynomial
#	@ccd02		F32	0.0 1.001 0.001	# A polynomial
#	@ccd03		F32	1.2345 		# A polynomial
#	@ccd04		F32	0.0 1.001 0.001	# A polynomial
#	@ccd05		F32	0.0 1.001 0.001	# A polynomial
#	@ccd06		F32	0.0 1.001 0.001	# A polynomial
#	@ccd07		F32	0.0 1.001 0.001	# A polynomial
#	@ccd08		F32	0.0 1.001 0.001	# A polynomial
#	@ccd09		F32	0.0 1.001 0.001	# A polynomial
#	@ccd10		F32	0.0 1.001 0.001	# A polynomial
#	@ccd11		F32	0.0 1.001 0.001	# A polynomial
#	@ccd12		F32	0.0 1.001 0.001	# A polynomial
#	@ccd13		F32	0.0 1.001 0.001	# A polynomial
#	@ccd14		F32	0.0 1.001 0.001	# A polynomial
#	@ccd15		F32	0.0 1.001 0.001	# A polynomial
#	@ccd16		F32	0.0 1.001 0.001	# A polynomial
#	@ccd17		F32	0.0 1.001 0.001	# A polynomial
#	@ccd18		F32	0.0 1.001 0.001	# A polynomial
#	@ccd19		F32	0.0 1.001 0.001	# A polynomial
#	@ccd10		F32	0.0 1.001 0.001	# A polynomial
#	@ccd21		F32	0.0 1.001 0.001	# A polynomial
#	@ccd22		F32	0.0 1.001 0.001	# A polynomial
#	@ccd23		F32	0.0 1.001 0.001	# A polynomial
#	@ccd24		F32	0.0 1.001 0.001	# A polynomial
#	@ccd25		F32	0.0 1.001 0.001	# A polynomial
#	@ccd26		F32	0.0 1.001 0.001	# A polynomial
#	@ccd27		F32	0.0 1.001 0.001	# A polynomial
#	@ccd28		F32	0.0 1.001 0.001	# A polynomial
#	@ccd29		F32	0.0 1.001 0.001	# A polynomial
#	@ccd30		F32	0.0 1.001 0.001	# A polynomial
#	@ccd31		F32	0.0 1.001 0.001	# A polynomial
#	@ccd32		F32	0.0 1.001 0.001	# A polynomial
#	@ccd33		F32	0.0 1.001 0.001	# A polynomial
#	@ccd34		F32	0.0 1.001 0.001	# A polynomial
#	@ccd35		F32	0.0 1.001 0.001	# A polynomial
#	@ccd36		F32	0.0 1.001 0.001	# A polynomial
#END

# Overscan subtraction
OVERSCAN.SINGLE		BOOL	FALSE		# Reduce overscan to a single value?
#OVERSCAN.FIT		STR	SPLINE		# NONE | POLYNOMIAL | SPLINE
OVERSCAN.FIT		STR	POLYNOMIAL	# NONE | POLYNOMIAL | SPLINE
OVERSCAN.ORDER		S32	5		# Order of polynomial fit
OVERSCAN.STAT		STR	MEAN		# MEAN | MEDIAN

# binned output image options
BIN1.XBIN		S32	8
BIN1.YBIN		S32	8
BIN2.XBIN		S32	64
BIN2.YBIN		S32	64

PHOTCODE.RULE		STR	{CAMERA}.{FILTER.ID}.{CHIP.N}
