# Recipe configuration for ppMerge
 
ROWS            S32     128		# Number of rows to read at once
ELECTRONS       F32     100.0           # Minimum number of electrons for useful signal
SAMPLE          S32     100             # Sampling factor for measuring the background
REJ		F32	3.0		# Rejection threshold (sigma)
ITER		S32	1		# Number of rejection iterations
FRACHIGH	F32	0.3		# Fraction of high pixels to reject immediately
FRACLOW		F32	0.1		# Fraction of low pixels to reject immediately
NKEEP		S32	5		# Minimum number of pixels in stack to keep
MASKVAL		S32	0xff		# Mask value for input data
### Statistics options: MEAN | MEDIAN | ROBUST | FITTED | CLIPPED
COMBINE		STR	MEAN		# Statistic to use for combination: 
BACKGROUND	STR	MEDIAN		# Statistic to use to measure the background
