# Camera configuration file for Cfh12k: describes the camera

# File formats that we know about
FORMATS		METADATA
	EARLY	STR	cfh12k/format_mef_early.config
#	ESPLIT	STR	cfh12k/format_split_early.config
	MEF	STR	cfh12k/format_mef.config
	SPLIT	STR	cfh12k/format_split.config
	CMF	STR	cfh12k/format_split_cmf.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA	METADATA
	ccd00	STR	Amp
	ccd01	STR	Amp
	ccd02	STR	Amp
	ccd03	STR	Amp
	ccd04	STR	Amp
	ccd05	STR	Amp
	ccd06	STR	Amp
	ccd07	STR	Amp
	ccd08	STR	Amp
	ccd09	STR	Amp
	ccd10	STR	Amp
	ccd11	STR	Amp
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
   B       STR    B           	
   V       STR    V           	
   R       STR    R           	
   I       STR    I           	
   	              		
   Z       MULTI
   Z       STR    Z''           	
   Z       STR    Z''''           	
   Z       STR    Z           	
   Z       STR    Zp           
   Z       STR    Zprime       
   	              		
   Ha      MULTI
   Ha      STR    Ha           
   Ha      STR    Ha.MP7605    
   Ha      STR    Halpha       
   Ha      STR    Haalpha.on   
   	              		
   HaOff   MULTI
   HaOff   STR    HaOFF        
   HaOff   STR    HaOFF.MP7604 
   HaOff   STR    Halpha.off   
   	              		
   Hb      STR    Hb           
   HbOff   STR    HbOff        
   	              		
   CN      MULTI
   CN      STR    CN           
   CN      STR    CN.MP780     
   CN      STR    cn.MP7803    
   CN      STR    CN.MP7803    
   	              		
   TiO     MULTI
   TiO     STR    TiO          
   TiO     STR    TiO.MP77     
   TiO     STR    tio.MP7701   
   TiO     STR    TiO.MP7701   
   	              		
   NB920   STR    NB920        
   	              		
   B2F     MULTI
   B2F     STR    B2F          
   B2F     STR    UKN:B2F
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	fpa	STR	fpa
	chip	STR	{CHIP.NAME}
	cell	STR	{CHIP.NAME}:{CELL.NAME}
	FPA	STR	fpa
	CHIP	STR	{CHIP.NAME}
	CELL	STR	{CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	cfh12k		# Camera directory for DVO

DARK.NORM 	STR cfh12k/dark.config
DARK.NORM.KEY 	STR fpa_{CHIP.NAME}_Amp
# DARK.NORM.KEY STR BASIC ## rough version from global stats

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES		METADATA
	# Other recipes
        PSPHOT          STR     cfh12k/psphot.config           # psphot details
        PSASTRO         STR     cfh12k/psastro.config          # psastro details
	PPIMAGE         STR     cfh12k/ppImage.config		# ppImage recipe
	REJECTIONS      STR     cfh12k/rejections.config	# rejection recipe
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-mef.mdc		# File rules appropriate for MEF format

EXTNAME.RULES METADATA
  CMF.HEAD STR {CHIP.NAME}.hdr
  CMF.DATA STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD  STR {CHIP.NAME}.hdr
  PSF.TABLE STR {CHIP.NAME}.psf_model
  PSF.RESID STR {CHIP.NAME}.psf_resid
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXPNUM
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode
