
# turn these on to see specific outputs
SAVE.PLOTS	BOOL 	TRUE

# PSF model parameters : choose the PSF model desired
PSF_MODEL           STR  PS_MODEL_QGAUSS

# XXX are these needed?
XMIN                F32   +10        	 # minimum valid x-coord
XMAX                F32   -10        	 # maximum valid x-coord
YMIN                F32   +10        	 # minimum valid y-coord
YMAX                F32   -10        	 # maximum valid y-coord

