ipphosts MULTI

# In this file, we assign all storage hosts to chip and skycells any
# hosts which are having problems are removed as active volumes from
# nebulous.  data targeted to those machines are simply re-distributed
# randomly.  the only exception is ipp004, which is the DVO db host

# I've allocated hosts based on disk size. 
# 40TB => 2 units of skycells
# 20TB => 1 unit of skycells
# Each host gets one OTA/chip of data.
# These hosts are skipped:
# ipp004 : dvo
# ipp005 : dvo
# ipp026 : crashes
# ipp029 : crashes
# ipp045 : reference cat
## 
## PSNSC -- above is way out of date -- update 20170112 in anticipation of 
## nodes <ipp054 being decomissioned in move to ITC -- will need another update once 
## move finished to include 105-117
## -- raw/ota -- keep to nodes with large % space (exclude ipp054-066)
## -- chip -- only on disk 1-2 days now -- cannot use the .1 partitions, so still use <ipp054 nodes (random when full/offline)
## -- skycells -- warp+diff, can be large for uncompressed diffs for MOPS, over more nodes the better 
## -- distribution -- only warp images for SNIaF and diff catalogs 
## nodes to avoid:
## -- auto-reboot cab set 008,012,013,014,016,018,037 -- avoid at least ipp013
##
## base allocation for ~ipp/nightly processing -- other pantasks ~ippqub/~ippmops etc will 
## need a local/manual re-allocation (and if any node changes happen)
##

ipphosts METADATA
  camera STR skycell
  count S32 46 
  sky00 STR  ipp105.0
  sky01 STR  ipp117.0
  sky02 STR  ipp118.0
  sky03 STR  ipp119.0
  sky04 STR  ipp120.0
  sky05 STR  ipp122.0
  sky06 STR  ipp105.0
  sky07 STR  ipp117.0
  sky08 STR  ipp118.0
  sky09 STR  ipp119.0
  sky10 STR  ipp120.0
  sky11 STR  ipp122.0
  sky12 STR  ipp105.0
  sky13 STR  ipp105.1
  sky14 STR  ipp117.1
  sky15 STR  ipp118.1
  sky16 STR  ipp119.1
  sky17 STR  ipp120.1
  sky18 STR  ipp122.1
  sky19 STR  ipp105.1
  sky20 STR  ipp117.1
  sky21 STR  ipp118.1
  sky22 STR  ipp119.1
  sky23 STR  ipp120.1
  sky24 STR  ipp122.1
  sky25 STR  ipp105.1
  sky26 STR  ipp100.0
  sky27 STR  ipp100.1
  sky28 STR  ipp101.0
  sky29 STR  ipp101.1
  sky30 STR  ipp102.0
  sky31 STR  ipp102.1
  sky32 STR  ipp103.0
  sky33 STR  ipp103.1
  sky34 STR  ipp104.0
  sky35 STR  ipp104.1
  sky36 STR  ipp100.0
  sky37 STR  ipp100.1
  sky38 STR  ipp101.0
  sky39 STR  ipp101.1
  sky40 STR  ipp102.0
  sky41 STR  ipp102.1
  sky42 STR  ipp103.0
  sky43 STR  ipp103.1
  sky44 STR  ipp104.0
  sky45 STR  ipp104.1
END

# These are ordered oddly to prevent excessive targetting shuffles.
## now focus on new storage nodes only 12/18/14
## -- chips transient and smaller so 67-97 -- 
## -- using lower 40TB nodes now since mostly full, XY basically only thing small enough -- 20160813 MEH
ipphosts METADATA
  camera STR GPC1
  XY01  STR  ipp105.0
  XY02  STR  ipp117.0
  XY03  STR  ipp118.0
  XY04  STR  ipp119.0
  XY05  STR  ipp120.0
  XY06  STR  ipp122.0
  XY10  STR  ipp105.0
  XY11  STR  ipp117.0
  XY12  STR  ipp118.0
  XY13  STR  ipp119.0
  XY14  STR  ipp120.0
  XY15  STR  ipp122.0
  XY16  STR  ipp105.0
  XY17  STR  ipp105.1
  XY20  STR  ipp117.1
  XY21  STR  ipp118.1
  XY22  STR  ipp119.1
  XY23  STR  ipp120.1
  XY24  STR  ipp122.1
  XY25  STR  ipp105.1
  XY26  STR  ipp117.1
  XY27  STR  ipp118.1
  XY30  STR  ipp119.1
  XY31  STR  ipp120.1
  XY32  STR  ipp122.1
  XY33  STR  ipp105.1
  XY34  STR  ipp105.0
  XY35  STR  ipp117.0
  XY36  STR  ipp118.0
  XY37  STR  ipp119.0
  XY40  STR  ipp120.0
  XY41  STR  ipp122.0
  XY42  STR  ipp100.0
  XY43  STR  ipp101.0
  XY44  STR  ipp102.0
  XY45  STR  ipp103.0
  XY46  STR  ipp104.0
  XY47  STR  ipp101.0
  XY50  STR  ipp102.0
  XY51  STR  ipp105.1
  XY52  STR  ipp117.1
  XY53  STR  ipp118.1
  XY54  STR  ipp119.1
  XY55  STR  ipp120.1
  XY56  STR  ipp122.1
  XY57  STR  ipp105.1
  XY60  STR  ipp117.1
  XY61  STR  ipp118.1
  XY62  STR  ipp119.1
  XY63  STR  ipp120.1
  XY64  STR  ipp122.1
  XY65  STR  ipp100.1
  XY66  STR  ipp101.1
  XY67  STR  ipp102.1
  XY71  STR  ipp103.1
  XY72  STR  ipp104.1
  XY73  STR  ipp101.1
  XY74  STR  ipp102.1
  XY75  STR  ipp103.1
  XY76  STR  ipp104.1
END

## focus nightly processing ota on disks with more space 12/18/14
## -- leave nodes with little space for temporary products
ipphosts METADATA
  camera STR gpc1
  ota01  STR  ipp105
  ota02  STR  ipp117
  ota03  STR  ipp118
  ota04  STR  ipp119
  ota05  STR  ipp120
  ota06  STR  ipp122
  ota10  STR  ipp105
  ota11  STR  ipp117
  ota12  STR  ipp118
  ota13  STR  ipp119
  ota14  STR  ipp120
  ota15  STR  ipp122
  ota16  STR  ipp105
  ota17  STR  ipp117
  ota20  STR  ipp118
  ota21  STR  ipp119
  ota22  STR  ipp120
  ota23  STR  ipp122
  ota24  STR  ipp105
  ota25  STR  ipp117
  ota26  STR  ipp118
  ota27  STR  ipp119
  ota30  STR  ipp120
  ota31  STR  ipp122
  ota32  STR  ipp105
  ota33  STR  ipp117
  ota34  STR  ipp118
  ota35  STR  ipp119
  ota36  STR  ipp120
  ota37  STR  ipp122
  ota40  STR  ipp105
  ota41  STR  ipp117
  ota42  STR  ipp118
  ota43  STR  ipp119
  ota44  STR  ipp120
  ota45  STR  ipp122
  ota46  STR  ipp100
  ota47  STR  ipp101
  ota50  STR  ipp102
  ota51  STR  ipp103
  ota52  STR  ipp104
  ota53  STR  ipp101
  ota54  STR  ipp100
  ota55  STR  ipp101
  ota56  STR  ipp102
  ota57  STR  ipp103
  ota60  STR  ipp104
  ota61  STR  ipp100
  ota62  STR  ipp101
  ota63  STR  ipp102
  ota64  STR  ipp103
  ota65  STR  ipp104
  ota66  STR  ipp100
  ota67  STR  ipp101
  ota71  STR  ipp102
  ota72  STR  ipp103
  ota73  STR  ipp104
  ota74  STR  ipp101
  ota75  STR  ipp102
  ota76  STR  ipp103
END

## PSNSC minimal use except MOPS+QUB catalogs, SNIaF warps -- 20160405 
### -- focus on using many nodes in case one lost MOPS have access to most 
ipphosts METADATA
  camera STR distribution
  count  S32  26
  0      STR ipp105.0
  1      STR ipp106.0
  2      STR ipp107.0
  3      STR ipp108.0
  4      STR ipp109.0
  5      STR ipp110.0
  6      STR ipp111.0
  7      STR ipp112.0
  8      STR ipp113.0
  9      STR ipp114.0
 10      STR ipp115.0
 11      STR ipp116.0
 12      STR ipp117.0
 13      STR ipp105.1
 14      STR ipp106.1
 15      STR ipp107.1
 16      STR ipp108.1
 17      STR ipp109.1
 18      STR ipp110.1
 19      STR ipp111.1
 20      STR ipp112.1
 21      STR ipp113.1
 22      STR ipp114.1
 23      STR ipp115.1
 24      STR ipp116.1
 25      STR ipp117.1
END

ipphosts METADATA
  camera STR dist_chip
  count S32   60

  XY01  STR  ipp105.0
  XY02  STR  ipp106.0
  XY03  STR  ipp107.0
  XY04  STR  ipp108.0
  XY05  STR  ipp109.0
  XY06  STR  ipp110.0
  XY10  STR  ipp111.0
  XY11  STR  ipp112.0
  XY12  STR  ipp113.0
  XY13  STR  ipp114.0
  XY14  STR  ipp115.0
  XY15  STR  ipp116.0
  XY16  STR  ipp117.0
  XY17  STR  ipp105.1
  XY20  STR  ipp106.1
  XY21  STR  ipp107.1
  XY22  STR  ipp108.1
  XY23  STR  ipp109.1
  XY24  STR  ipp110.1
  XY25  STR  ipp111.1
  XY26  STR  ipp112.1
  XY27  STR  ipp113.1
  XY30  STR  ipp114.1
  XY31  STR  ipp115.1
  XY32  STR  ipp116.1
  XY33  STR  ipp117.1
  XY34  STR  ipp105.0
  XY35  STR  ipp106.0
  XY36  STR  ipp107.0
  XY37  STR  ipp108.0
  XY40  STR  ipp109.0
  XY41  STR  ipp110.0
  XY42  STR  ipp111.0
  XY43  STR  ipp112.0
  XY44  STR  ipp113.0
  XY45  STR  ipp114.0
  XY46  STR  ipp115.0
  XY47  STR  ipp116.0
  XY50  STR  ipp117.0
  XY51  STR  ipp105.1
  XY52  STR  ipp106.1
  XY53  STR  ipp107.1
  XY54  STR  ipp108.1
  XY55  STR  ipp109.1
  XY56  STR  ipp110.1
  XY57  STR  ipp111.1
  XY60  STR  ipp112.1
  XY61  STR  ipp113.1
  XY62  STR  ipp114.1
  XY63  STR  ipp115.1
  XY64  STR  ipp116.1
  XY65  STR  ipp117.1
  XY66  STR  ipp110.1
  XY67  STR  ipp111.1
  XY71  STR  ipp112.1
  XY72  STR  ipp113.1
  XY73  STR  ipp114.1
  XY74  STR  ipp115.1
  XY75  STR  ipp116.1
  XY76  STR  ipp117.1
END

ipphosts METADATA
  camera STR dist_skycell
  count S32  26
  sky00 STR  ipp105.0
  sky01 STR  ipp106.0
  sky02 STR  ipp107.0
  sky03 STR  ipp108.0
  sky04 STR  ipp109.0
  sky05 STR  ipp110.0
  sky06 STR  ipp111.0
  sky07 STR  ipp112.0
  sky08 STR  ipp113.0
  sky09 STR  ipp114.0
  sky10 STR  ipp115.0
  sky11 STR  ipp116.0
  sky12 STR  ipp117.0
  sky13 STR  ipp105.1
  sky14 STR  ipp106.1
  sky15 STR  ipp107.1
  sky16 STR  ipp108.1
  sky17 STR  ipp109.1
  sky18 STR  ipp110.1
  sky19 STR  ipp111.1
  sky20 STR  ipp112.1
  sky21 STR  ipp113.1
  sky22 STR  ipp114.1
  sky23 STR  ipp115.1
  sky24 STR  ipp116.1
  sky25 STR  ipp117.1
END

ipphosts METADATA
  camera STR STARE
  ota01  STR  stare00
  ota02  STR  stare01
  ota03  STR  stare02
  ota04  STR  stare04
  ota05  STR  stare00
  ota06  STR  stare01
  ota10  STR  stare02
  ota11  STR  stare04
  ota12  STR  stare00
  ota13  STR  stare01
  ota14  STR  stare02
  ota15  STR  stare04
  ota16  STR  stare00
  ota17  STR  stare01
  ota20  STR  stare02
  ota21  STR  stare04
  ota22  STR  stare00
  ota23  STR  stare01
  ota24  STR  stare02
  ota25  STR  stare04
  ota26  STR  stare00
  ota27  STR  stare01
  ota30  STR  stare02
  ota31  STR  stare04
  ota32  STR  stare00
  ota33  STR  stare01
  ota34  STR  stare02
  ota35  STR  stare04
  ota36  STR  stare00
  ota37  STR  stare01
  ota40  STR  stare02
  ota41  STR  stare04
  ota42  STR  stare00
  ota43  STR  stare01
  ota44  STR  stare02
  ota45  STR  stare04
  ota46  STR  stare00
  ota47  STR  stare01
  ota50  STR  stare02
  ota51  STR  stare04
  ota52  STR  stare00
  ota53  STR  stare01
  ota54  STR  stare02
  ota55  STR  stare04
  ota56  STR  stare00
  ota57  STR  stare01
  ota60  STR  stare02
  ota61  STR  stare04
  ota62  STR  stare00
  ota63  STR  stare01
  ota64  STR  stare02
  ota65  STR  stare04
  ota66  STR  stare00
  ota67  STR  stare01
  ota71  STR  stare02
  ota72  STR  stare04
  ota73  STR  stare00
  ota74  STR  stare01
  ota75  STR  stare02
  ota76  STR  stare04
END
