
# define the simulated data to be generated
SEQUENCE MULTI

SEQUENCE METADATA
  OBSTYPE    STR BIAS
  CAMERA     STR MEGACAM

  BIAS.LEVEL F32 100.0
  BIAS.RANGE F32  10.0

  NIMAGE     S32 15
END

SEQUENCE METADATA
  OBSTYPE    STR DARK
  CAMERA     STR MEGACAM

  DARK.MIN   F32 100.0
  DARK.MAX   F32 200.0

  NIMAGE     S32 15
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR MEGACAM

  FILTERS    STR g,r,i
  @EXPTIMES  F32 60.0,30.0,30.0

  NSETUP     S32 15
END

SEQUENCE_SKIP METADATA
  OBSTYPE    STR OBJECT
  CAMERA     STR MEGACAM

  CENTER.RA  F32 10.0 
  CENTER.DEC F32 60.0

  OFFSET.RA  F32 3600.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 3600.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 5
  OFFSET.ND  S32 5

  DITHER.RA  F32 30.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 30.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 2
  DITHER.ND  S32 2

  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.grizy 
  FILTERS    STR g,r,i
  @EXPTIMES  F32 60.0,30.0,30.0
  @SKYMAGS   F32 21.0,20.5,20.0

  # XXX use a more realistic IQ distribution...
  IQ_MIN     F32 0.5
  IQ_MAX     F32 0.8
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END

