
# generate a simple fake data set with 2x2 dithers at offset of
# 50, 100, 200 arcsec (camera is 530 arcsec on a side)

# define the simulated data to be generated
SEQUENCE MULTI

SEQUENCE METADATA
  OBSTYPE    STR BIAS
  CAMERA     STR SIMTEST
  NIMAGES    S32  10
END

SEQUENCE METADATA
  OBSTYPE    STR DARK
  CAMERA     STR SIMTEST
  @EXPTIMES  F32  30.0, 300.0
  @NIMAGES   S32  5,   5
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r
  @EXPTIMES  F32 0.1,20.0

  NSETUP     S32 3
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r,r,r,r
  @EXPTIMES  F32 0.5,1.0,2.0,5.0,10.0

  NSETUP     S32 1
END

# a single image at the field center
SEQUENCE METADATA
  OBSTYPE    STR OBJECT
  CAMERA     STR SIMTEST

  ### Carina (modestly high density)
  CENTER.RA  F32 270.75
  CENTER.DEC F32 -23.7

  # the simtest camera is 2k x 2k, 530 arcsec on a side
  # XXX note that we cannot define the offsets in terms of the camera dimensions...

  OFFSET.RA  F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 1
  OFFSET.ND  S32 1

  DITHER.RA  F32 0.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 0.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 1
  DITHER.ND  S32 1

  # XXX is DVODB used?
  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.simtest 
  FILTERS    STR r
  @EXPTIMES  F32 10.00
  @SKYMAGS   F32 20.86

  # modest IQ range here
  IQ_MIN     F32 0.70
  IQ_MAX     F32 0.90
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END

# dither set @ scale 1 = 60 arcsec
SEQUENCE METADATA
  OBSTYPE    STR OBJECT
  CAMERA     STR SIMTEST

  ### Carina (modestly high density)
  CENTER.RA  F32 270.75
  CENTER.DEC F32 -23.7

  # XXX note that we cannot define the offsets in terms of the camera dimensions...
  OFFSET.RA  F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 1
  OFFSET.ND  S32 1

  DITHER.RA  F32 60.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 60.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 2
  DITHER.ND  S32 2

  # XXX is DVODB used?
  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.simtest 
  FILTERS    STR r
  @EXPTIMES  F32 10.00
  @SKYMAGS   F32 20.86

  # modest IQ range here
  IQ_MIN     F32 0.70
  IQ_MAX     F32 0.90
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END

# dither set @ scale 2 = 120 arcsec
SEQUENCE METADATA
  OBSTYPE    STR OBJECT
  CAMERA     STR SIMTEST

  ### Carina (modestly high density)
  CENTER.RA  F32 270.75
  CENTER.DEC F32 -23.7

  # XXX note that we cannot define the offsets in terms of the camera dimensions...
  OFFSET.RA  F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 1
  OFFSET.ND  S32 1

  DITHER.RA  F32 120.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 120.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 2
  DITHER.ND  S32 2

  # XXX is DVODB used?
  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.simtest 
  FILTERS    STR r
  @EXPTIMES  F32 10.00
  @SKYMAGS   F32 20.86

  # modest IQ range here
  IQ_MIN     F32 0.70
  IQ_MAX     F32 0.90
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END

# dither set @ scale 3 = 240 arcsec
SEQUENCE METADATA
  OBSTYPE    STR OBJECT
  CAMERA     STR SIMTEST

  ### Carina (modestly high density)
  CENTER.RA  F32 270.75
  CENTER.DEC F32 -23.7

  # XXX note that we cannot define the offsets in terms of the camera dimensions...
  OFFSET.RA  F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 0.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 1
  OFFSET.ND  S32 1

  DITHER.RA  F32 240.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 240.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 2
  DITHER.ND  S32 2

  # XXX is DVODB used?
  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.simtest 
  FILTERS    STR r
  @EXPTIMES  F32 10.00
  @SKYMAGS   F32 20.86

  # modest IQ range here
  IQ_MIN     F32 0.70
  IQ_MAX     F32 0.90
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END
