
# define the simulated data to be generated
SEQUENCE MULTI

SEQUENCE METADATA
  OBSTYPE    STR BIAS
  CAMERA     STR SIMTEST
  NIMAGES    S32  20
END

SEQUENCE METADATA
  OBSTYPE    STR DARK
  CAMERA     STR SIMTEST
  @EXPTIMES  F32  30.0, 300.0
  @NIMAGES   S32  10,   10
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r,i
  @EXPTIMES  F32 0.1,20.0,20.0

  NSETUP     S32 5
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r,r,r,r
  @EXPTIMES  F32 0.5,1.0,2.0,5.0,10.0

  NSETUP     S32 1
END

