
# define the simulated data to be generated
SEQUENCE MULTI

SEQUENCE METADATA
  OBSTYPE    STR BIAS
  CAMERA     STR SIMTEST
  NIMAGES    S32  20
END

SEQUENCE METADATA
  OBSTYPE    STR DARK
  CAMERA     STR SIMTEST
  @EXPTIMES  F32  30.0, 300.0
  @NIMAGES   S32  10,   10
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r
  @EXPTIMES  F32 0.1,20.0

  NSETUP     S32 5
END

SEQUENCE METADATA
  OBSTYPE    STR FLAT
  CAMERA     STR SIMTEST

  FILTERS    STR r,r,r,r,r
  @EXPTIMES  F32 0.5,1.0,2.0,5.0,10.0

  NSETUP     S32 1
END


SEQUENCE METADATA
### We want both short and long exposures, and dark and bright sky
  OBSTYPE    STR OBJECT
  CAMERA     STR SIMTEST

### Carina
  CENTER.RA  F32 270.75
  CENTER.DEC F32 -23.7
### COSMOS field
#  CENTER.RA  F32 150.119167 
#  CENTER.DEC F32   2.205833

  OFFSET.RA  F32 3600.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.DEC F32 3600.0 # linear offset in arcsec (do not include cos(DEC) correction)
  OFFSET.NR  S32 1
  OFFSET.ND  S32 1

  DITHER.RA  F32 10.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.DEC F32 10.0   # linear offset in arcsec (do not include cos(DEC) correction)
  DITHER.NR  S32 3
  DITHER.ND  S32 3

  DVODB      STR /data/alala.0/ipp/ippRefs/catdir.synth.simtest 
  FILTERS    STR r,r,r
  @EXPTIMES  F32 10,300,300
  @SKYMAGS   F32 21,21,18

  # XXX use a more realistic IQ distribution...
  IQ_MIN     F32 1.00
  IQ_MAX     F32 1.00
  
  # rotation sequence
  POS_MIN    F32 0.0
  POS_MAX    F32 0.0
  POS_DELTA  F32 1.0

END

