# Note from Ken Chambers on the OBS_MODE keyword:
# OBS_MODE - Official Keyword - string use for Survey ID, 3PI, MD, SS, STS, M31, CAL, AF1, AF2, AF3, ENG, NA - from scheduler

surveys MULTI
surveys METADATA
  camera     STR isp
  survey     STR NULL
  label      STR @CAMERA@.@DATE@
  dvodb      STR /data/ipp004.0/isp/catdir.isp
  worksubdir STR neb://@HOST@.0/isp/@DATE@
  end_stage  STR camera
  tess_id    STR RINGS.V0
END



#all of these are really old - never use them, except maybe as an example?
#surveys METADATA
#  survey     STR 3PI
#  label      STR ThreePi.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/catdir.ThreePi
#  worksubdir STR ThreePi
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END

#surveys METADATA
#  survey     STR MD
#  label      STR MediumDeep.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/MediumDeep
#  worksubdir STR MediumDeep
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END

#surveys METADATA
#  survey     STR SS
#  label      STR SolarSystem.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/SolarSystem
#  worksubdir STR SolarSystem
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END

#surveys METADATA
#  survey     STR STS
#  label      STR STS.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/STS
#  worksubdir STR STS
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END

#surveys METADATA
#  survey     STR M31
#  label      STR M31.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/M31
#  worksubdir STR M31
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END

#surveys METADATA
#  survey     STR CAL
#  label      STR CalFields.@CAMERA@.@FILTER@.@DATE@
#  dvodb      STR /data/ipp004.0/gpc1/CalFields
#  worksubdir STR CalFields
#  end_stage  STR warp
#  tess_id    STR ALLSKY
#END
