# DVO configuration for skycells of all cameras
# Contains keywords used by DVO to interpret the headers

# Date keyword abstractions:
DATE-KEYWORD		NONE
UT-KEYWORD		NONE
DATE-MODE		YYYY-MM-DD
JD-KEYWORD		NONE
MJD-KEYWORD		MJD-OBS

# Other important keyword abstractions:
EXPTIME-KEYWORD		EXPTIME
AIRMASS-KEYWORD		AIRMASS
CCDNUM-KEYWORD		NONE
ST-KEYWORD		NONE
