# Camera configuration file for LRIS Blue: describes the camera

# File formats that we know about
FORMATS         METADATA
	RAW	STR	lris_blue/format_raw.config
	MEF	STR	lris_blue/format_mef.config
END
                                                                                
                                                                                
# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        LeftChip	STR	LeftAmp RightAmp
        RightChip	STR	LeftAmp RightAmp
END


# Recipe options
RECIPES		METADATA
#	PSPHOT		STR	psphot.config		# psphot details
END
