# Simulation test camera with single chip with single cell

# How to identify this type
RULE	METADATA
	TELESCOP	STR	VYSOS-5
	INSTRUME	STR	Apogee USB/Net
	FLIPSTAT	STR	Flip/Mirror
END

# How to read this data
FILE	METADATA
	PHU		STR	FPA	# The FITS file represents an entire FPA
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	OBJECT	# A PHU keyword for unique identifier within the hierarchy level
END

# What's in the FITS file?
CONTENTS	STR	Chip:Cell:amplifier

# Specify the cell data
CELLS	METADATA
	amplifier	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:4098,1:4089]
		CELL.BIASSEC.SOURCE	STR	VALUE
		CELL.BIASSEC		STR	[1:4098,4090:4098]
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	FPA.OBSTYPE	STR	IMAGETYP
        FPA.FILTERID    STR     FILTER
	FPA.FILTER	STR	FILTER
	FPA.RA		STR	OBJCTRA
	FPA.DEC		STR	OBJCTDEC
	FPA.OBJECT	STR	OBJECT
        FPA.COMMENT     STR     NOTES
	FPA.TIME	STR	DATE-OBS	# Date and time
	FPA.EXPOSURE	STR	EXPTIME
        FPA.TEMP        STR     CCD-TEMP
	CHIP.TEMP	STR     CCD-TEMP
	CELL.EXPOSURE	STR	EXPTIME
	CELL.DARKTIME	STR	DARKTIME
	CELL.TIME	STR	DATE-OBS	# Date and time
	CELL.XBIN	STR	XBINNING
	CELL.YBIN	STR	YBINNING
	FPA.TIMESYS	STR	TIMESYS
	FPA.RADECSYS	STR	RADECSYS
	FPA.AIRMASS	STR	AIRMASS ## XXX need to fix this! (ALT, AZ, LAT, LONG are provided)
END

# Default PS concepts that may be specified by value
DEFAULTS	METADATA
	FPA.TELESCOPE	STR	VYSOS5
	FPA.INSTRUMENT	STR	VYSOS5
	FPA.DETECTOR	STR	VYSOS5
	FPA.POSANGLE	STR	180.0
	CELL.SATURATION	F32	60000
	CELL.BAD	F32	-100 ## XXX this value is bogus, but needs to be context based so residual images do not get half-masked
	CELL.READDIR	S32	2
	CELL.TIMESYS	STR	UTC
	CELL.XPARITY	S32	-1
	CELL.YPARITY	S32	-1
	CHIP.XPARITY	S32	1
	CHIP.YPARITY	S32	1
	CELL.X0		S32	0
	CELL.Y0		S32	0
	CELL.XSIZE	S32	2048
	CELL.YSIZE	S32	2048
	CELL.XWINDOW	S32	0
	CELL.YWINDOW	S32	0
	CELL.GAIN	F32	0.2
	CELL.READNOISE	F32	4.6
END

FORMATS		METADATA
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
	FPA.TIME	STR	YEAR.FIRST
	CELL.TIME	STR	YEAR.FIRST
END
