
# astrometry matching parameters

# nominal plate scale (microns / pixel)
PSASTRO.PIXEL.SCALE    F32  1.0

# pmAstromGridMatch:
PSASTRO.GRID.MIN.ANGLE F32 -2.0
PSASTRO.GRID.MAX.ANGLE F32 +2.0
PSASTRO.GRID.DEL.ANGLE F32  0.5
PSASTRO.GRID.MIN.SIGMA F32  5.0

PSASTRO.PLOT.INST.MAG.MAX F32 -6.0
PSASTRO.PLOT.INST.MAG.MIN F32 -17.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32   500.
PSASTRO.GRID.SCALE     F32      10

PSASTRO.GRID.NREF.MAX S32 2500
PSASTRO.GRID.NRAW.MAX S32 1500

PSASTRO.PLOT.INST.MAG.MAX F32 -4.0
PSASTRO.PLOT.INST.MAG.MIN F32 -12.0
PSASTRO.PLOT.REF.MAG.MIN  F32 +10.0
PSASTRO.PLOT.REF.MAG.MAX  F32 +20.0

PSASTRO.MIN.INST.MAG.RAW      F32  -12
PSASTRO.GRID.MIN.INST.MAG.RAW F32  -12
PSASTRO.MAX.INST.MAG.RAW      F32  -4
PSASTRO.GRID.MAX.INST.MAG.RAW F32  -4 

 #PSASTRO.MATCH.RADIUS   F32    3

PSASTRO.MATCH.RADIUS.N0 F32    15
PSASTRO.MATCH.RADIUS.N1 F32    10
PSASTRO.MATCH.RADIUS.N2 F32    9
PSASTRO.MATCH.RADIUS.N3 F32    8
PSASTRO.MATCH.RADIUS.N4 F32    7
PSASTRO.MATCH.RADIUS.N5 F32    5
PSASTRO.MATCH.RADIUS.N6 F32    5
PSASTRO.MATCH.RADIUS.N7 F32    3

PSASTRO.MATCH.FIT.NITER S32    8 
# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32      2
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# match radius in pixels for CHIP astrometry
PSASTRO.MATCH.RADIUS   F32    5

# single-chip radius match in pixels
PSASTRO.MATCH.RADIUS   F32    15
PSASTRO.MATCH.RADIUS.N0 F32   30
PSASTRO.MATCH.RADIUS.N1 F32   15
PSASTRO.MATCH.RADIUS.N2 F32   10
PSASTRO.MATCH.RADIUS.N3 F32   6
PSASTRO.MATCH.RADIUS.N4 F32   3
PSASTRO.MATCH.RADIUS.N5 F32   3
PSASTRO.MATCH.RADIUS.N6 F32   0
PSASTRO.MATCH.RADIUS.N7 F32   0
PSASTRO.MATCH.FIT.NITER S32   5

# pmAstromMatchFit
PSASTRO.CHIP.ORDER     S32      3  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas





PSASTRO.MAX.ERROR      F32      10.0 # max error in pixels
PSASTRO.MIN.NSTAR      S32      10   # min fitted stars in solution

# Removed to allow ISP registration to work correctly.
#MAG_MAX                F32      10
PSASTRO.CATDIR         STR      SYNTH.BRIGHT
PSASTRO.MATCH.LUMFUNC  BOOL     FALSE
PSASTRO.IGNORE	       STR	SATURATED, DEFECT, SATSTAR, BLEND,FAIL

PHOTCODE.DATA MULTI  #these are the zeropoints calculated by hand (10 stars)
PHOTCODE.DATA METADATA
  FILTER   STR g
  ZEROPT   F32 19.3
  PHOTCODE STR g_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR r
  ZEROPT   F32  19.1
  PHOTCODE STR r_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR i
  ZEROPT   F32  18.4
  PHOTCODE STR i_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR z
  ZEROPT   F32  17.2
  PHOTCODE STR z_SYNTH
END

PHOTCODE.DATA METADATA
  FILTER   STR y
  ZEROPT   F32  14.0
  PHOTCODE STR y_SYNTH
END

