# cosmic ray recipe options - these were tested with o5472i0009o01.201734.ch.191131.cmf

PSPHOT.CR.MAX.SIZE                  F32   0.20           # guess for limit on M_minor in pix^2
PSPHOT.CR.MAX.MAG                   F32   -7.0             # guess for limit on Kron Mag
PSPHOT.CR.AUTOSCALE                 BOOL  FALSE


# turn these on to see specific outputs
SAVE.PLOTS      BOOL    TRUE

# PSF model parameters : choose the PSF model
PSF_MODEL           STR  PS_MODEL_PGAUSS

# xxx check this:
PSF_CLUMP_NSIGMA   F32  3.5             # region of Sx,Sy plane to use for selecting PSF stars

# XXX set other 2D trends
PSF.TREND.NX S32 4
PSF.TREND.NY S32 4
