# Camera configuration file for drop-dead boring camera, consisting of a single chip with single cell.

# File formats that we know about
FORMATS         METADATA
	SSP	STR	ssp/format.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        Chip		STR	Cell
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
	B	STR	B
	V	STR	V
	R	STR	R
	I	STR	I
	z	STR	z
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	FPA	STR	fpa
END

DVO.CAMERADIR	STR	megacam		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES		METADATA
        PPIMAGE         STR     ssp/ppImage.config   # Default: all (normal) options on
	PSPHOT		STR	ssp/psphot.config	# psphot details
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.NAME}	# Rule for generating photcode

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES       STR     recipes/filerules-simple.mdc

EXTNAME.RULES METADATA
  CMF.HEAD STR hdr
  CMF.DATA STR psf
  CMF.XSRC STR xsrc
  CMF.XFIT STR xfit
  CMF.XRAD STR xrad
  CMF.DETEFF STR deteff

  PSF.HEAD  STR hdr
  PSF.TABLE STR psf_model
  PSF.RESID STR psf_resid
END

MASK.FORCE	BOOL	TRUE	# Force reliance on MASKS recipe if headers not present
