# Drop-dead simple camera with single chip with single cell

# How to identify this type
RULE	METADATA
	SIMPLE		BOOL	TRUE
###	NAXIS		S32	2
 	DETECTOR	STR	rspiusb0
END

# How to read this data
FILE	METADATA
	PHU		STR	FPA	# The FITS file represents an entire FPA
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	NAXIS	# A PHU keyword for unique identifier within the hierarchy level
END

# What's in the FITS file?
CONTENTS	STR	Chip:Cell:amplifier

# Specify the cell data
CELLS	METADATA
	amplifier	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		#CELL.TRIMSEC		STR	[0:0,0:0]
		
		# alternatives for getting these from the headers
		# CELL.TRIMSEC.SOURCE	STR	HEADER
		 CELL.BIASSEC.SOURCE	STR	VALUE
		 CELL.TRIMSEC		STR	DATASEC
		 CELL.BIASSEC		STR	BIASSEC
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	#FPA.TELESCOPE	STR	TELESCOP
	FPA.INSTRUMENT	STR	INSTRUME
	FPA.OBSTYPE	STR	OBSTYPE
	FPA.AIRMASS	STR	AIRMASS
	FPA.FILTER	STR	FILTER
	FPA.POSANGLE	STR	POSANGLE
	FPA.RA		STR	RA
	FPA.DEC		STR	DEC
	FPA.OBJECT	STR	OBJECT
	FPA.TIME	STR	DATE-OBS # UTC-OBS	# Date and time
	FPA.EXPOSURE	STR	EXPTIME
	CELL.EXPOSURE	STR	EXPTIME
	CELL.DARKTIME	STR	DARKTIME
	FPA.FOCUS	STR	FOCUS
	FPA.DETECTOR    STR     DETECTOR
	CELL.GAIN	STR	CCDGAIN
#	CELL.TIME	STR	DATE-OBS TIME-OBS	# Date and time
END

# Default PS concepts that may be specified by value
DEFAULTS	METADATA
	FPA.TELESCOPE  STR	SSP	
	CELL.XBIN	S32	1
	CELL.YBIN	S32	1
	FPA.TIMESYS	STR	UTC
	FPA.RADECSYS	STR	ICRS
	#CELL.GAIN	F32	1.0
	CELL.READNOISE	F32	2.0
	CELL.BAD	F32	0
	CELL.SATURATION	F32	65535
#	CELL.BAD	F32	-65535
	CELL.READDIR	S32	1
	CELL.TIMESYS	STR	UTC
	CELL.XPARITY	S32	1
	CELL.YPARITY	S32	1
	CHIP.XPARITY	S32	1
	CHIP.YPARITY	S32	1
	CELL.X0		S32	0
	CELL.Y0		S32	0
END

FORMATS		METADATA
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
	FPA.TIME	STR	SEPARATE,YEAR.FIRST
END
