
# astrometry matching parameters

# nominal plate scale (microns / pixel)
# PSASTRO.PLATE.SCALE    F32  13.5
PSASTRO.PLATE.SCALE    F32  1.0

# pmAstromGridMatch:
PSASTRO.GRID.MIN.ANGLE F32 -0.0851
PSASTRO.GRID.MAX.ANGLE F32 +0.0851
PSASTRO.GRID.DEL.ANGLE F32  0.0170

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
# PSASTRO.GRID.OFFSET    F32  10000.
# PSASTRO.GRID.SCALE     F32    500.
PSASTRO.GRID.OFFSET    F32   1000.
PSASTRO.GRID.SCALE     F32     50

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32     75
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# pmAstromRadiusMatch
# use plate-scale to make this in pixels?
PSASTRO.MATCH.RADIUS   F32    8

# pmAstromMatchFit
PSASTRO.CHIP.NX        S32      1  # fit order
PSASTRO.CHIP.NY        S32      1  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas

