IMAGE_SCATTER           0.075  # mark images POOR if stdev(Mcal) > IMAGE_SCATTER
STAR_SCATTER            0.005  # mark stars POOR if stdev(Mrel) > STAR_SCATTER
IMAGE_OFFSET            0.100  # mark images POOR if abs(delta(Mcal)) > IMAGE_OFFSET
STAR_CHISQ             10.000  # mark stars POOR if Xm > STAR_CHISQ
STAR_TOOFEW              2     # mark star FEW if N(good) < STAR_TOOFEW
GRID_TOOFEW             10     # keep grid FROZEN if N(good) < GRID_TOOFEW
IMAGE_TOOFEW            10     # mark image FEW if N(good) < IMAGE_TOOFEW
IMAGE_GOOD_FRACTION     0.050  # mark image FEW if N(good) < IMAGE_GOOD_FRACTION * Nstars

SCATTER_LIM            15.000
MAG_LIM                20.000  # select stars brighter than this for relphot analysis
SIGMA_LIM               0.015  # select measurements with dM < SIGMA_LIM for relphot analysis

RELPHOT_GRID_BINNING    256
RELPHOT_GRID_X          4
RELPHOT_GRID_Y          4

