
CLEAN_MODES MULTI
CLEAN_MODES METADATA
  MODE           STR CHIP
  COMMAND        STR chiptool -dbname @DBNAME@ -updaterun -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
#  RETENTION_TIME U16 2
  RETENTION_TIME U16 -1
END
CLEAN_MODES METADATA
  MODE           STR WARP
  COMMAND        STR warptool -dbname @DBNAME@ -updaterun -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
  RETENTION_TIME U16 -1 
END
CLEAN_MODES METADATA
  MODE           STR DIFF
  COMMAND        STR difftool -dbname @DBNAME@ -updaterun -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
#  RETENTION_TIME S16 3
  RETENTION_TIME S16 -1
END
CLEAN_MODES METADATA
  MODE           STR DIST
  COMMAND        STR disttool -dbname @DBNAME@ -updaterun -set_state goto_cleaned -full -set_label goto_cleaned -label @LABEL@ -time_stamp_end @CURRENT_DATE@
#  RETENTION_TIME S16 10
  RETENTION_TIME S16 -1
END
CLEAN_MODES METADATA
  MODE           STR MAGICDS
  COMMAND        STR magicdstool -dbname @DBNAME@ -updaterun -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
#  RETENTION_TIME S16 2
  RETENTION_TIME S16 -1
END
CLEAN_MODES METADATA
  MODE           STR BGCHIP
  COMMAND	 STR bgtool -dbname @DBNAME@ -updatechip -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
#  RETENTION_TIME S16 7
  RETENTION_TIME S16 1
END
CLEAN_MODES METADATA
  MODE           STR BGWARP
  COMMAND	 STR bgtool -dbname @DBNAME@ -updatewarp -set_state goto_cleaned -state full -set_label goto_cleaned -label @LABEL@ -data_group @DATA_GROUP@
#  RETENTION_TIME S16 7
  RETENTION_TIME S16 -1
END


END_OF_NIGHT MULTI
END_OF_NIGHT METADATA
  NAME           STR MORNING_DARKS
  OBSMODE        STR ENGINEERING
  EXPTYPE        STR DARK
  OBJECT         STR ENGINEERING
  COMMENT        STR darks_morn%
END

FILTERS MULTI
FILTERS STR g.00000
FILTERS STR r.00000
FILTERS STR i.00000
FILTERS STR z.00000
FILTERS STR y.00000
FILTERS STR w.00000

UNRECOVERABLE_QUALITY MULTI
UNRECOVERABLE_QUALITY S16 4007

MACRO_DEFINITIONS MULTI
MACRO_DEFINITIONS METADATA
  PROC_MODE STR queue_chips
  MACRO     STR survey.del.destreak @LABEL@
END
MACRO_DEFINITIONS METADATA
  PROC_MODE STR confirm_stacks
  MACRO     STR survey.add.destreak @LABEL@ /data/ipp053.0/gpc1_destreak
END

# 2018-04-30 CZW: Comment out all targets to allow commissioning training and tests to skip processing.
TARGETS MULTI
TARGETS METADATA
  NAME         STR OSS
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR OSS
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR SWEETSPOT
#  ADDITIONAL_STACK_LABEL STR ecliptic.rp
  DESPERATE_DIFFS BOOL TRUE
#  REDUCTION STR SSTF_4SIG
  COMMENT      STR  OSS%
END
TARGETS METADATA
  NAME         STR EU
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR OSS
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR SWEETSPOT
  DESPERATE_DIFFS BOOL TRUE
  COMMENT      STR  EU.%
END
TARGETS METADATA
  NAME         STR ESS
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR ESS
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR SWEETSPOT
#  ADDITIONAL_STACK_LABEL STR ecliptic.rp
  DESPERATE_DIFFS BOOL TRUE
#  REDUCTION STR SSTF_4SIG
  COMMENT      STR  %ESS%
END
TARGETS METADATA
  NAME         STR MSS
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR MSS
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR SWEETSPOT
#  ADDITIONAL_STACK_LABEL STR ecliptic.rp
  DESPERATE_DIFFS BOOL TRUE
#  REDUCTION STR SSTF_4SIG
  COMMENT      STR  %MSS%
END
TARGETS METADATA
  NAME         STR FSS
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR FSS
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR SWEETSPOT
#  CHIP      S16 5
#  DIFF      S16 300
END
TARGETS METADATA
  NAME         STR ThreePi
  DISTRIBUTION STR ThreePi
  TESS         STR RINGS.V3
  OBSMODE      STR 3PI
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  DESPERATE_DIFFS BOOL TRUE
  COMMENT      STR  %3PI%
END
TARGETS METADATA
  NAME         STR Bright
  DISTRIBUTION STR NODIST
  TESS         STR RINGS.V3
  OBSMODE      STR BRIGHT
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  DESPERATE_DIFFS BOOL TRUE
  REDUCTION STR EUCLID_DEFAULT 
  COMMENT      STR  Euclid.r%
#  DIFF          S16  7
END
TARGETS METADATA
  NAME         STR BrightTwi
  DISTRIBUTION STR NODIST
  TESS         STR RINGS.V3
  OBSMODE      STR BRIGHT
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  DESPERATE_DIFFS BOOL FALSE
  REDUCTION STR EUCLID_DEFAULT 
  COMMENT      STR  Euclid.twi%
#  DIFF          S16  7
END
TARGETS METADATA
  NAME         STR Bright3Pi 
  DISTRIBUTION STR NODIST
  TESS         STR RINGS.V3
  OBSMODE      STR BRIGHT
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  DESPERATE_DIFFS BOOL FALSE
  REDUCTION STR EUCLID_DEFAULT 
  COMMENT      STR  %3PI%
#  DIFF          S16  7
END
TARGETS METADATA
  NAME      STR CFA
  DISTRIBUTION STR CFA
  TESS      STR MD07.V3
  OBSMODE   STR CFA
#  OBJECT    STR MD07%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION STR MD_DEFAULT
END
TARGETS METADATA
  NAME         STR YSE
  DISTRIBUTION STR YSE
  TESS         STR RINGS.V3
  OBSMODE      STR YSE
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  OFFNIGHT_DIFFS  BOOL FALSE
  DESPERATE_DIFFS BOOL FALSE
  REDUCTION STR YSE
  ## don't use so can include Trans% for YSE in same config
  #COMMENT   STR  YSE%
  ## change days for cleanup at start
  DIST      S16  30
  DIFF      S16  10 
END
TARGETS METADATA
  NAME         STR SNIa
  DISTRIBUTION STR SNIa.test
  TESS         STR RINGS.V3
  OBSMODE      STR SNIa
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
#  REDUCTION STR SNIA_DEFAULT
  COMMENT   STR  Supernova%
  ## change days till cleanup
#  DIST      S16 20
END
TARGETS METADATA
  NAME         STR  QUB.ic
  DISTRIBUTION STR  NODIST
  TESS         STR  RINGS.V3
  OBSMODE      STR  QUB
  STACKABLE      BOOL FALSE
  DIFFABLE       BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION    STR MD_DEFAULT
  COMMENT      STR ICECUBE%
#  DIST           S16  15
#  DIFF           S16  300
END
TARGETS METADATA
  NAME         STR  QUB.lv
  DISTRIBUTION STR  NODIST
  TESS         STR  RINGS.V3
  OBSMODE      STR  QUB
  STACKABLE      BOOL FALSE
  DIFFABLE       BOOL TRUE
  OFFNIGHT_DIFFS BOOL FALSE
  DESPERATE_DIFFS BOOL TRUE
  REDUCTION    STR SWEETSPOT
  COMMENT      STR G%.R%.P%
#  DIST           S16  15
#  DIFF           S16  300
END
TARGETS METADATA
  NAME         STR  K2
  DISTRIBUTION STR  K2 
  TESS         STR  RINGS.V3
  OBSMODE      STR  K2
  STACKABLE      BOOL FALSE
  DIFFABLE       BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
#  REDUCTION    STR SWEETSPOT
  COMMENT      STR  K2%
#  DIST           S16  30
#  DIFF           S16  10
END
TARGETS  METADATA
  NAME          STR NCU
  DISTRIBUTION  STR NCU
  TESS          STR RINGS.V3
  OBSMODE       STR NCU
  STACKABLE     BOOL FALSE
  DIFFABLE      BOOL FALSE
  OFFNIGHT_DIFFS BOOL FALSE
  REDUCTION     STR SWEETSPOT
  COMMENT      STR  %NCU%
#  DIST          S16 300
#  CHIP          S16 300
#  DIFF          S16 300
END
# TARGETS METADATA
#   NAME         STR  LIGO
#   DISTRIBUTION STR  LIGO
#   TESS         STR  RINGS.V3
#   OBSMODE      STR  LIGO
#   STACKABLE      BOOL FALSE
#   DIFFABLE       BOOL FALSE
#   OFFNIGHT_DIFFS BOOL FALSE
#   DIST           S16  15
#   CHIP           S16  5
#   WARP           S16  5
#   DIFF           S16  5
# END
TARGETS METADATA
  NAME      STR  M31
  DISTRIBUTION STR M31
  TESS      STR  M31.V4
  OBSMODE   STR  M31
  OBJECT    STR  M31%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  DIST      S16  30
  # bump the retention times for the time being
 # CHIP S16 60
 # WARP S16 60
 # DIFF S16 60
 # CHIPBG S16 60
 # WARPBG S16 60
END
TARGETS METADATA
  NAME      STR  MD01
  DISTRIBUTION STR MD01
  TESS      STR  MD01.V3
  OBSMODE   STR  MD
  OBJECT    STR  MD01%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16  30
END
TARGETS METADATA
  NAME      STR  MD02
  DISTRIBUTION STR MD02
  TESS      STR MD02.V3
  OBSMODE   STR MD
  OBJECT    STR MD02%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR MD03
  DISTRIBUTION STR MD03
  TESS      STR MD03.V3
  OBSMODE   STR MD
  OBJECT    STR MD03%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR MD04
  DISTRIBUTION STR MD04
  TESS      STR MD04.V3
  OBSMODE   STR MD
  OBJECT    STR MD04%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR MD05
  DISTRIBUTION STR MD05
  TESS      STR MD05.V3
  OBSMODE   STR MD
  OBJECT    STR MD05%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
  ## change days till cleanup
#  #CHIP S16 60
#  WARP S16 60
#  DIFF S16 60
END
TARGETS METADATA
  NAME      STR MD06
  DISTRIBUTION STR MD06
  TESS      STR MD06.V3
  OBSMODE   STR MD
  OBJECT    STR MD06%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
  ## change days till cleanup
#  #CHIP S16 60
#  WARP S16 60
#  DIFF S16 60
END
TARGETS METADATA
  NAME      STR MD07
  DISTRIBUTION STR MD07
  TESS      STR MD07.V3
  OBSMODE   STR MD
  OBJECT    STR MD07%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
  ## change days till cleanup
#  #CHIP S16 60
#  WARP S16 60
#  DIFF S16 60
END
TARGETS METADATA
  NAME      STR MD08
  DISTRIBUTION STR MD08
  TESS      STR MD08.V3
  OBSMODE   STR MD
  OBJECT    STR MD08%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
  ## change days till cleanup
#  #CHIP S16 60
#  WARP S16 60
#  DIFF S16 60
END
TARGETS METADATA
  NAME      STR MD09
  DISTRIBUTION STR MD09
  TESS      STR MD09.V3
  OBSMODE   STR MD
  OBJECT    STR MD09%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR MD10
  DISTRIBUTION STR MD10
  TESS      STR MD10.V3
  OBSMODE   STR MD
  OBJECT    STR MD10%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
  REDUCTION STR MD_DEFAULT
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR MD11
  DISTRIBUTION STR MD11
  TESS      STR MD11.V3
  OBSMODE   STR MD
  OBJECT    STR MD11%
  STACKABLE BOOL TRUE
  MIN_STACK U16 8
  DIFFABLE  BOOL FALSE
#  DIST      S16 30
END
TARGETS METADATA
  NAME      STR STS
  DISTRIBUTION STR STS
  TESS      STR STS.V4
  OBSMODE   STR STS%
#  OBJECT    STR STS%
  STACKABLE BOOL FALSE
  DIFFABLE  BOOL FALSE
  REDUCTION STR STS_DATASET
  # bump the retention times for the time being
#  CHIP S16 60
#  WARP S16 60
#  DIFF S16 60
END
TARGETS METADATA
  NAME      STR SweetSpot
  DISTRIBUTION STR SweetSpot
  TESS      STR RINGS.V3
  OBSMODE   STR SS
  STACKABLE BOOL FALSE
  DIFFABLE  BOOL FALSE
  REDUCTION STR SWEETSPOT
#  ADDITIONAL_STACK_LABEL STR ecliptic.rp
#  REDUCTION STR SSTF_4SIG
#  WARP      S16 60
END
TARGETS METADATA
  NAME         STR PI
  DISTRIBUTION STR SweetSpot
  TESS         STR RINGS.V3
  OBSMODE      STR PI
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
END
TARGETS METADATA
  NAME         STR CNP
  DISTRIBUTION STR CNP
  TESS         STR CNP.V3
  OBSMODE      STR CNP
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  REDUCTION   STR  CNP_DATASET
#  CHIP	      S16  800
#  WARP	      S16  800
END
TARGETS METADATA
  NAME         STR STD
  TESS         STR RINGS.V0
  OBSMODE      STR STD
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  DISTRIBUTION STR NODIST
END
TARGETS METADATA
  NAME         STR microtest
  TESS         STR RINGS.V3
  COMMENT      STR Microtest Obs%
  STACKABLE   BOOL FALSE
  DIFFABLE    BOOL FALSE
  DISTRIBUTION STR NODIST
END

#This is a hack, and I freely admit it.
#Removed the rest because we do not regularly run microtests.
# TARGETS METADATA
#   NAME STR microtestMD01
#   TESS STR MD01
#   OBJECT STR MD01%
#   COMMENT STR Microtest Obs%
#   STACKABLE BOOL TRUE
# END
# TARGETS METADATA
#   NAME STR microtestMD01.noPattern
#   TESS STR MD01
#   OBJECT STR MD01%
#   COMMENT STR Microtest Obs%
#   REDUCTION STR MICROTEST_NOPATTERN
#   STACKABLE BOOL TRUE
# END

# Detrend verification data
DETRENDS MULTI
DETRENDS METADATA
  NAME     STR DARK
  DETTYPE  STR DARK
  EXPTYPE  STR dark
  REF_ID   S64 585
  REF_ITER S32 3
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_G
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 278
  REF_ITER S32 0
  FILTER   STR g.00000
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_R
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 279
  REF_ITER S32 0
  FILTER   STR r.00000
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_I
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 280
  REF_ITER S32 0
  FILTER   STR i.00000
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_Z
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 281
  REF_ITER S32 0
  FILTER   STR z.00000
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_Y
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 282
  REF_ITER S32 0
  FILTER   STR y.00000
  MAX_EXP  S32 10
END

DETRENDS METADATA
  NAME     STR FLAT_W
  DETTYPE  STR FLAT
  EXPTYPE  STR skyflat
  REF_ID   S64 283
  REF_ITER S32 0
  FILTER   STR w.00000
  MAX_EXP  S32 10
END

