# Mask generation --- already included in default, above
PPMERGE_DARKMASK METADATA
  ITER               S32    3
  MASK.SUSPECT.SIGMA F32	8.0		# Threshold for suspect pixels (sigma)
  MASK.BAD	     F32	0.1		# Threshold for bad pixels 
  MASK.MODE	     STR	FRACTION	# Meaning of threshold : value, sigma
  SAMPLE             S32    100000          # Sampling factor for measuring the background
END

PPMERGE_FLATMASK METADATA
  ITER           S32    3
  MASK.SUSPECT.SIGMA F32	3.0		# Threshold for suspect pixels (sigma)
  MASK.BAD	 F32	0.1		# Threshold for bad pixels (sigma)
  MASK.MODE	 STR	FRACTION	# Threshold for bad pixels (sigma)
  SAMPLE         S32    100000          # Sampling factor for measuring the background
END

ROWS		S32	32		# Number of rows to read at once

FRINGE.NUM          S32     1000        # Number of fringe regions per cell
FRINGE.SIZE         S32     5           # Half-size of fringe regions
FRINGE.XSMOOTH      S32     3           # Number of smoothing regions per cell in x
FRINGE.YSMOOTH      S32     3           # Number of smoothing regions per cell in y
FRINGE.SMOOTH       BOOL    TRUE        # Smooth the output image?
FRINGE.SMOOTH.SIGMA F32     2.0         # Sigma of smoothing Gaussian

# Ordinates for fitting dark current
# example for linear in darktime only
# DARK.ORDINATES	METADATA
# 	CELL.DARKTIME	S32	1
# END

# Ordinates for fitting dark current as function of darktime and fpa temp:
# DARK.ORDINATES	METADATA
# 	CELL.DARKTIME	S32	1
#  	FPA.TEMP	METADATA
#  		ORDER	S32	1
#  		SCALE	BOOL	TRUE
# 		RULE	STR	FPA.TEMP * CELL.DARKTIME
#  		MIN	F32	-95
#  		MAX	F32	-50
#  	END
# END

# 2010.02.02 -- this was the dark rule for the dark master from 20100124
# Ordinates for fitting dark current as function of darktime and fpa temp:
# Counts = C0 + (CT0 + CT1*Temp + CT2*Temp^2)*exptime
# the 0th order term is implied, right?
# Note: GPC1 has bad values for DARKTIME in unpredictable cells; use EXPOSURE for now
# DARK.ORDINATES	METADATA
# 	CELL.EXPOSURE	S32	1
#  	TEMP	METADATA
#  		ORDER	S32	1
# 		RULE	STR	CHIP.TEMP * CELL.EXPOSURE
#  	END
#  	TEMP2	METADATA
#  		ORDER	S32	1
# 		RULE	STR	CHIP.TEMP * CHIP.TEMP * CELL.EXPOSURE
#  	END
# END

# DARK.ORDINATES	METADATA
#  	TEMP	METADATA
#  		ORDER	S32	1
# 		RULE	STR	CHIP.TEMP
#  	END
#  	TEMP2	METADATA
#  		ORDER	S32	1
# 		RULE	STR	CHIP.TEMP * CHIP.TEMP
#  	END
# END

# Ordinates for fitting dark current as function of darktime and fpa temp:
# Counts = C0 + (CT0 + CT1*Temp)*exptime
# the 0th order term is implied, right?
# Note: GPC1 has bad values for DARKTIME in unpredictable cells; use EXPOSURE for now
#DARK.ORDINATES	METADATA
#	CELL.EXPOSURE	S32	1
# 	TEMP	METADATA
# 		ORDER	S32	1
#		RULE	STR	CHIP.TEMP * CELL.EXPOSURE
# 	END
#END
 #
#Dark for 2010-07-02 with new temp concept.
DARK.ORDINATES	METADATA
	CELL.EXPOSURE	S32	1
  	TEMP	METADATA
  		ORDER	S32	1
 		RULE	STR	CHIP.TEMPERATURE * CELL.EXPOSURE
  	END
  	TEMP2	METADATA
  		ORDER	S32	1
 		RULE	STR	CHIP.TEMPERATURE * CHIP.TEMPERATURE * CELL.EXPOSURE
  	END
END


