ASTROM.SOURCE		STR	PSASTRO.OUTPUT	# Source file rule for astrometry, or NULL
BACKGROUND.MODEL	BOOL	TRUE
BKG.XGRID		S32	50
BKG.YGRID		S32	50
ADDITIONAL_WCS_ORDERS   S32     3               # By default, use a bilevel astrometric model with 4 additional orders.

WARP_GAUSS	METADATA
  INTERPOLATION.MODE	STR	GAUSS	# Interpolation mode to use
  ASTROM.SOURCE		STR	PSASTRO.OUTPUT	# Source file rule for astrometry, or NULL
  BACKGROUND.MODEL	BOOL	TRUE
  BKG.XGRID		S32	50
  BKG.YGRID		S32	50
  ADDITIONAL_WCS_ORDERS   S32     4               # By default, use a bilevel astrometric model with 4 additional orders.
END

