# Camera configuration file for WFI/8k on UH88

# File formats that we know about
FORMATS         METADATA
        SPLIT   STR     uh8k/format_split.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        chip00   STR     Cell
        chip01   STR     Cell
        chip02   STR     Cell
        chip03   STR     Cell
        chip04   STR     Cell
        chip05   STR     Cell
        chip06   STR     Cell
        chip07   STR     Cell
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
	UKNOWN	STR	UNKNOWN
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID         METADATA
        FPA     STR     fpa
        CHIP    STR     {CHIP.NAME}
        CELL    STR     {CHIP.NAME}:{CELL.NAME}
        fpa     STR     fpa
        chip    STR     {CHIP.NAME}
        cell    STR     {CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	uh8k		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias     STR BIAS
  zero     STR BIAS
  dark     STR DARK
  flat     STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
        # Other recipes
        PSPHOT          STR     uh8k/psphot.config           # psphot details
        PSASTRO         STR     uh8k/psastro.config          # psastro details
	PSWARP		STR	uh8k/pswarp.config		# pswarp details
        PPIMAGE         STR     uh8k/ppImage.config          # ppImage recipe
	REJECTIONS      STR     uh8k/rejections.config       # rejection recipe
	PPMERGE		STR	uh8k/ppMerge.config		# ppMerge recipe
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-split.mdc		# File rules appropriate for MEF format

EXTNAME.RULES METADATA
  CMF.HEAD   STR {CHIP.NAME}.hdr
  CMF.DATA   STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD   STR {CHIP.NAME}.hdr
  PSF.TABLE  STR {CHIP.NAME}.psf_model
  PSF.RESID  STR {CHIP.NAME}.psf_resid

  REF.ASTROM STR {CHIP.NAME}.ref_astrom
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXPNUM
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode

