# Camera configuration file for LBCred: describes the camera

# File formats that we know about
FORMATS         METADATA
        MEF 	STR     lbc_red/format_mef.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
	CHIP1	STR	Cell
	CHIP2	STR	Cell
	CHIP3	STR	Cell
	CHIP4	STR	Cell
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
   Y	  STR	Y-FAN
   Y	  STR	Y-FAN(?)
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID         METADATA
        FPA     STR     fpa
        CHIP    STR     {CHIP.NAME}
        CELL    STR     {CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	isp		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  BinoBias STR BIAS
  bias     STR BIAS
  zero     STR BIAS
  dark     STR DARK
  flat     STR SKYFLAT
  SkyFlat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
        # Other recipes
        PSPHOT          STR     lbc_red/psphot.config           # psphot details
        PSASTRO         STR     lbc_red/psastro.config          # psastro details
        PPIMAGE         STR     lbc_red/ppImage.config          # ppImage recipe
	REJECTIONS      STR     lbc_red/rejections.config       # rejection recipe
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	lbc_red/filerules.mdc	# File rules

EXTNAME.RULES METADATA
  CMF.HEAD   STR {CHIP.NAME}.hdr
  CMF.DATA   STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD   STR {CHIP.NAME}.hdr
  PSF.TABLE  STR {CHIP.NAME}.psf_model
  PSF.RESID  STR {CHIP.NAME}.psf_resid

  REF.ASTROM STR {CHIP.NAME}.ref_astrom
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXPNUM
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode
