
# Bias combination --- don't want min/max rejection
PPMERGE_BIAS	METADATA
   REJ		F32	3.0		# Rejection threshold (sigma)
   ITER		S32	2		# Number of rejection iterations
   FRACHIGH	F32	0.0		# Fraction of high pixels to reject immediately
   FRACLOW	F32	0.0		# Fraction of low pixels to reject immediately
   WEIGHTS	BOOL	FALSE		# Use image weights?
   COMBINE	STR	CLIPPED		# Statistic to use for combination: 
END

# Dark combination --- don't want min/max rejection
# More aggressive clipping than bias, so as to remove CRs
PPMERGE_DARK	METADATA
  REJ		F32	2.0		# Rejection threshold (sigma)
  ITER		S32	4		# Number of rejection iterations
  FRACHIGH	F32	0.0		# Fraction of high pixels to reject immediately
  FRACLOW	F32	0.0		# Fraction of low pixels to reject immediately
  WEIGHTS	BOOL	FALSE		# Use image weights?
  COMBINE	STR	CLIPPED		# Statistic to use for combination: 
END

# Flat combination --- use min/max rejection
PPMERGE_FLAT	METADATA
	REJ		F32	3.0		# Rejection threshold (sigma)
	ITER		S32	1		# Number of rejection iterations
	FRACHIGH	F32	0.3		# Fraction of high pixels to reject immediately
	FRACLOW		F32	0.1		# Fraction of low pixels to reject immediately
	NKEEP		S32	5		# Minimum number of pixels in stack to keep
	WEIGHTS		BOOL	TRUE		# Use image weights?
	COMBINE		STR	MEAN		# Statistic to use for combination: 
END


# Fringe combination --- already included in default, above
PPMERGE_FRINGE	METADATA
	FRACHIGH	F32	0.1		# Fraction of high pixels to reject immediately
	WEIGHTS		BOOL	TRUE		# Use image weights?
END

# Mask generation --- already included in default, above
PPMERGE_MASK	METADATA
END
