# Camera configuration file for simulated mosaic

# File formats that we know about
FORMATS         METADATA
  TOGETHER STR  esowfi/format_together.config
  SPLIT    STR  esowfi/format_split.config
END

# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        Chip50    STR  Cell00
        Chip51    STR  Cell00
        Chip52    STR  Cell00
        Chip53    STR  Cell00
        Chip54    STR  Cell00
        Chip55    STR  Cell00
        Chip56    STR  Cell00
        Chip57    STR  Cell00
END

# move this elsewhere?  we need a lookup table to go from filter ID to abstract name
FILTER.ID       METADATA
  NONE  STR  NONE
  416  STR    416/29_ESO872
  U    STR    U/50_ESO877
  B    STR    B/123_ESO878
  V    STR    V/89_ESO843
  R    STR    Rc/162_ESO844
  I    STR    I/203_ESO879
  #g  STR    g
  #r  STR    r
  #i  STR    i
  #z  STR    z
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID    METADATA
  FPA   STR  fpa
  CHIP  STR  {CHIP.NAME}
  CELL  STR  {CHIP.NAME}.{CELL.NAME}
  fpa   STR  fpa
  chip  STR  {CHIP.NAME}
  cell  STR  {CHIP.NAME}.{CELL.NAME}
END

DVO.CAMERADIR  STR  esowfi    # Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias     STR BIAS
  skyflat  STR FLAT,SKY
  domeflat STR FLAT,SCREEN
  object   STR OBJECT
  science  STR OBJECT
  #zero    STR BIAS
  #dark    STR DARK
  #flat    STR SKYFLAT
END

# Recipe options
RECIPES    METADATA
  PPIMAGE     STR    esowfi/ppImage.config     # Default: all (normal) options on
  PSPHOT      STR    esowfi/psphot.config      # psphot details
  PSASTRO     STR    esowfi/psastro.config     # psastro details
  REJECTIONS  STR    esowfi/rejections.config  # Rejection limits
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-mef.mdc		# File rules appropriate for MEF format

# FPA file defines properties of a possible input|output object
# user can set the filename (I|O), filename rules (O), or abstract source (@FILES, @DETDB) (I)
# user can set the extension name, if used
# user can set the file type (IMAGE, JPEG, RAW, SX, OBJ, CMP, CMF) : but these are not variable in most cases!
# user can set the file depth: only valid for output files
# user can set the data depth: must be >= file depth
# user can set the file format: only valid for newly created FPAs
# user can set the colormap, scaling method, scaling range (JPEG only)
# user can set the extension name for the data and header segments (CMF only)


EXTNAME.RULES  METADATA
  CMF.HEAD   STR  {CHIP.NAME}.hdr
  CMF.DATA   STR  {CHIP.NAME}.psf
  CMF.XSRC   STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT   STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD   STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD   STR  {CHIP.NAME}.hdr
  PSF.TABLE  STR  {CHIP.NAME}.psf_model
  PSF.RESID  STR  {CHIP.NAME}.psf_resid
END

BLANK.HEADERS  METADATA
  FPA.TIME      STR  MJD-OBS
  FPA.EXPOSURE  STR  EXPTIME
  FPA.AIRMASS   STR  AIRMASS
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.N}		# Rule for generating photcode
