# Camera configuration file for Tek

# File formats that we know about
FORMATS         METADATA
        SIMPLE  STR     tek/format.config
        CMP     STR     tek/cmp.config
        CMF     STR     tek/cmf.config
END
 
 
# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        Chip            STR     Cell
END

# Recipe options
RECIPES         METADATA
        PSPHOT          STR     tek/psphot.config               # psphot details
        PSASTRO         STR     tek/psastro.config              # psastro details
        PPIMAGE         STR     tek/ppImage.config              # Recipes for ppImage
        PPMERGE         STR     tek/ppMerge.config              # Recipes for ppMerge
	REJECTIONS	STR     tek/rejections.config
END

FILTER.ID       METADATA
        g       STR     g
        r       STR     r
        i       STR     i
        z       STR     z
        y       STR     y
	R	STR	R
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	FPA	STR	fpa
END

DVO.CAMERADIR	STR	tek		# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES       STR     recipes/filerules-simple.mdc

EXTNAME.RULES METADATA
  CMF.HEAD STR cmf.hdr
  CMF.DATA STR cmf.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD  STR	hdr
  PSF.TABLE STR psf_model
  PSF.RESID STR psf_resid
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}		# Rule for generating photcode
