# Camera configuration file for GPC1: describes the camera

# File formats that we know about
FORMATS		METADATA
	TDI_20120416	STR	gpc1-tdi/format_tdi_20120416.config
END


# Description of camera --- all the chips and the cells that comprise them
FPA	METADATA
        XY01  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY02  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY03  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY04  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY05  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY06  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY10  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY11  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY12  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY13  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY14  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY15  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY16  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY17  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY20  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY21  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY22  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY23  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY24  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY25  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY26  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY27  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY30  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY31  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY32  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY33  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY34  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY35  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY36  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY37  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY40  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY41  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY42  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY43  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY44  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY45  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY46  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY47  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY50  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY51  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY52  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY53  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY54  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY55  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY56  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY57  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY60  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY61  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY62  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY63  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY64  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY65  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY66  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY67  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY71  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY72  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY73  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY74  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY75  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
        XY76  STR xy00 xy10 xy20 xy30 xy40 xy50 xy60 xy70
END	   

# internal to external filter names
FILTER.ID       METADATA
   g        STR   g.00000
   r        STR   r.00000
   i        STR   i.00000
   z        MULTI
   z        STR   z.00000
   z        STR   ?.00000
   y        STR   y.00000
   w        STR   w.00000
   # the following were needed for detrend.correct because input and output images seem to be inconsistent sometimes:
   # g        STR   g
   # r        STR   r
   # i        STR   i
   # z        STR   z
   # y        STR   y
   # w        STR   w
   OPEN     STR   OPEN
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID         METADATA
        FPA     STR     fpa
        CHIP    STR     {CHIP.NAME}
        CELL    STR     {CHIP.NAME}:{CELL.NAME}
        fpa     STR     fpa
        chip    STR     {CHIP.NAME}
        cell    STR     {CHIP.NAME}:{CELL.NAME}
END

DVO.CAMERADIR	STR	gpc1		# Camera directory for DVO

# Recipe options
RECIPES		METADATA
	PPIMAGE		STR	gpc1/ppImage.config
	PPMERGE		STR	gpc1/ppMerge.config
	PSASTRO		STR	gpc1/psastro.config
	PSPHOT		STR	gpc1/psphot.config
	PSWARP		STR	gpc1/pswarp.config
        PSVIDEOPHOT     STR     gpc1/psvideophot.config
	REJECTIONS      STR     gpc1/rejections.config       # rejection recipe
	PPSTACK		STR	gpc1/ppStack.config
END

# reduction classes (recipes which are grouped together)
REDUCTION	STR	recipes/reductionClasses.mdc

FITSTYPES       STR     recipes/fitstypes.mdc

FILERULES	STR	recipes/filerules-split.mdc

EXTNAME.RULES METADATA
  CMF.HEAD STR {CHIP.NAME}.hdr
  CMF.DATA STR {CHIP.NAME}.psf # use .PSF and .EXT?
  CMF.XSRC STR {CHIP.NAME}.xsrc # use .PSF and .EXT?
  CMF.XRAD STR {CHIP.NAME}.xrad # use .PSF and .EXT?
  CMF.XFIT STR {CHIP.NAME}.xfit # use .PSF and .EXT?
  CMF.DETEFF STR {CHIP.NAME}.deteff

  PSF.HEAD  STR	{CHIP.NAME}.hdr
  PSF.TABLE STR {CHIP.NAME}.psf_model
  PSF.RESID STR {CHIP.NAME}.psf_resid
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
	FPA.OBS		STR	EXPNUM
END

PHOTCODE.RULE           STR     {DETECTOR}.{FILTER.ID}.{CHIP.NAME}	# Rule for generating photcode

BURNTOOL.STATE.GOOD        S16  14  # Value for burntool_state with the most recent bt version.
BURNTOOL.STATE.GOOD.UPDATE S16  13  # for upddate processing accept earlier version

FOV_REF                     F32     20930   # Field of view of unvignetted region in FPA pixels.
FOV_MAX			    F32	    22720
#NPIX_REF		    S32	    1357799527
#NPIX_MAX		    S32	    1482790357
NPIX_REF 		    S32	    1333206539
NPIX_MAX		    S32	    1455690816
NPIX_INTERCHIP          S32     103794483

# This sets the maximum size for the fwhm_major.  This is roughly 3", and 98.67% of all exposures in the database are less than this.
MAX_ALLOWED_FWHM          F32         12

# The set of maskbits that should not be set to NAN in "released" images
# This value is equal to CONV.POOR | STARCORE | SPIKE | SUSPECT  = 0x5280
# unfortunately the perl parser won't accept a hex value
MASK.NO.CENSOR               U32      21120

METADATA.COMPRESSION         STR      7f # compression mode (nM): n = 1-9, M = f (filtered), h (Huffman), R (run-length)
