# Camera configuration file for co-adding reduced SDSS images of stripe82
# Attempt to designate all 6 camcols as a single mosaic camera
# Copied from SDSS camera config files, which in turn were copied 
# from ISP config files 
# Sebastian Jester jester at mpia.de August 27, 2007

# File formats that we know about
FORMATS         METADATA
	MEF		STR	sdssmosaic/format_mef.config	# MEF version, required for psastro
	SDSSmosaic	STR     sdssmosaic/format_split.config  # New (possibly) split format with 30 different chips
        # SDSSmosaic	STR     sdssmosaic/format.config  	# Old split format with per-chip gains rolled up in DEPEND
END
 
# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
	CHIP11	STR	CELL11
	CHIP12	STR	CELL12
	CHIP13	STR	CELL13
	CHIP14	STR	CELL14
	CHIP15	STR	CELL15
	CHIP16	STR	CELL16
	CHIP21	STR	CELL21
	CHIP22	STR	CELL22
	CHIP23	STR	CELL23
	CHIP24	STR	CELL24
	CHIP25	STR	CELL25
	CHIP26	STR	CELL26
	CHIP31	STR	CELL31
	CHIP32	STR	CELL32
	CHIP33	STR	CELL33
	CHIP34	STR	CELL34
	CHIP35	STR	CELL35
	CHIP36	STR	CELL36
	CHIP41	STR	CELL41
	CHIP42	STR	CELL42
	CHIP43	STR	CELL43
	CHIP44	STR	CELL44
	CHIP45	STR	CELL45
	CHIP46	STR	CELL46
	CHIP51	STR	CELL51
	CHIP52	STR	CELL52
	CHIP53	STR	CELL53
	CHIP54	STR	CELL54
	CHIP55	STR	CELL55
	CHIP56	STR	CELL56
END

# valid filter names and corresponding IDs
FILTER.ID       METADATA
        g       STR     g
        r       STR     r
        i       STR     i
        z       STR     z
	u       STR     u
END

# Table of strings to use for the class identifier (see ippdb) according to the file level.
CLASSID		METADATA
	FPA	STR	fpa
END

DVO.CAMERADIR	STR	sdssmosaic	# Camera directory for DVO

# convert supplied FPA.OBSTYPE values to abstract exptype names
OBSTYPE.TABLE METADATA
  bias 	   STR BIAS
  zero 	   STR BIAS
  dark 	   STR DARK
  flat 	   STR SKYFLAT
  skyflat  STR SKYFLAT
  domeflat STR DOMEFLAT
  object   STR OBJECT
  science  STR OBJECT
END

# Recipe options
RECIPES         METADATA
        PSPHOT          STR     sdssmosaic/psphot.config               # psphot details
        PSASTRO         STR     sdssmosaic/psastro.config              # psastro details
        PPIMAGE         STR     sdssmosaic/ppImage.config              # Recipes for ppImage
        PPMERGE         STR     sdssmosaic/ppMerge.config              # Recipes for ppMerge
        PSWARP          STR     sdssmosaic/pswarp.config              # Recipes for pswarp
	REJECTIONS	STR     sdssmosaic/rejections.config
END

REDUCTION	STR	sdssmosaic/reductionClasses.mdc

FILERULES	STR	recipes/filerules-split.mdc

EXTNAME.RULES METADATA
  CMF.HEAD STR cmf.hdr
  CMF.DATA STR cmf.psf
  CMF.XSRC STR cmf.xsrc
  CMF.XFIT STR cmf.xfit
  CMF.XRAD STR cmf.xrad # use .PSF and .EXT?
  CMF.DETEFF STR cmf.deteff

  PSF.HEAD  STR	hdr
  PSF.TABLE STR psf_model
  PSF.RESID STR psf_resid

  REF.ASTROM STR ref_astrom
END

BLANK.HEADERS	METADATA
	FPA.TIME	STR	TAI
	FPA.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
END

PHOTCODE.RULE           STR     SDSS.{FILTER.ID}.{DETECTOR}		# Rule for generating photcode
