# SDSSmosaic camera, starting from SDSS from Pan-STARRS Imaging Sky Probe
# Sebastian Jester jester at mpia.de August 7, 2007
#
# Renamed to format_split.config to specify different chips for the actual 30 different chips following megacam/format_split.config
# Here we want 60 cells, corresponding to the 6 camcols x 5 chips (one per filter) x 2 amps (which can have different gains)
# October 2008 

# How to identify this type
RULE	METADATA
	SIMPLE		BOOL	TRUE
#	NAXIS		S32	2
	ORIGIN		STR	SDSS
	TELESCOP	STR	2.5m
END

# How to read this data
FILE	METADATA
	PHU		STR	CHIP	# The FITS file represents one
					# camcol = chip, 6 of which
					# make the FPA in one filter,
					# times 5 to make all filters.
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	FRAME	# A PHU keyword for unique identifier within 
					# the hierarchy level - just needs to be the same
					# for all 6 files belonging to the same "exposure"
# was	CHIP.NAME	STR	CAMCOL	# Distinguishes chip name
	CHIP.NAME	STR	CCDLOC	# Distinguishes chip name
	CONTENT		STR	CCDLOC
 # Is the following line the origin of the weirdly named output files?
	CONTENT.RULE	STR	{CHIP.NUM} # How to derive the CONTENT when writing
END

# What's in the FITS file?
# CONTENTS	STR	Chip:Cell:amplifier
CONTENTS	METADATA
	# Content name, chipType
	11		STR	CHIP11:Chip11
	12		STR	CHIP12:Chip12
	13		STR	CHIP13:Chip13
	14		STR	CHIP14:Chip14
	15		STR	CHIP15:Chip15
	16		STR	CHIP16:Chip16
	21		STR	CHIP21:Chip21
	22		STR	CHIP22:Chip22
	23		STR	CHIP23:Chip23
	24		STR	CHIP24:Chip24
	25		STR	CHIP25:Chip25
	26		STR	CHIP26:Chip26
	31		STR	CHIP31:Chip31
	32		STR	CHIP32:Chip32
	33		STR	CHIP33:Chip33
	34		STR	CHIP34:Chip34
	35		STR	CHIP35:Chip35
	36		STR	CHIP36:Chip36
	41		STR	CHIP41:Chip41
	42		STR	CHIP42:Chip42
	43		STR	CHIP43:Chip43
	44		STR	CHIP44:Chip44
	45		STR	CHIP45:Chip45
	46		STR	CHIP46:Chip46
	51		STR	CHIP51:Chip51
	52		STR	CHIP52:Chip52
	53		STR	CHIP53:Chip53
	54		STR	CHIP54:Chip54
	55		STR	CHIP55:Chip55
	56		STR	CHIP56:Chip56
END
	
# Specify the chips - only u3 has 2 amps, and I don't even know if the gains differ.
CHIPS		METADATA
	# Chip type, cellName:cellType
	Chip11	STR	CELL11:Amp11
	Chip12	STR	CELL12:Amp12
	Chip13	STR	CELL13:Amp13
	Chip14	STR	CELL14:Amp14
	Chip15	STR	CELL15:Amp15
	Chip16	STR	CELL16:Amp16
	Chip21	STR	CELL21:Amp21
	Chip22	STR	CELL22:Amp22
	Chip23	STR	CELL23:Amp23
	Chip24	STR	CELL24:Amp24
	Chip25	STR	CELL25:Amp25
	Chip26	STR	CELL26:Amp26
	Chip31	STR	CELL31:Amp31
	Chip32	STR	CELL32:Amp32
	Chip33	STR	CELL33:Amp33
	Chip34	STR	CELL34:Amp34
	Chip35	STR	CELL35:Amp35
	Chip36	STR	CELL36:Amp36
	Chip41	STR	CELL41:Amp41
	Chip42	STR	CELL42:Amp42
	Chip43	STR	CELL43:Amp43
	Chip44	STR	CELL44:Amp44
	Chip45	STR	CELL45:Amp45
	Chip46	STR	CELL46:Amp46
	Chip51	STR	CELL51:Amp51
	Chip52	STR	CELL52:Amp52
	Chip53	STR	CELL53:Amp53
	Chip54	STR	CELL54:Amp54
	Chip55	STR	CELL55:Amp55
	Chip56	STR	CELL56:Amp56
END


# Specify the cell data
# Gain is from ? XXX

# readnoise is from http://www.sdss.org/dr6/instruments/imager/index.html and just one number for all chips.
# Note that I have emails from Jim Gunn saying dark noise *is* important...
CELLS	METADATA
	Amp11	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.71
		CELL.X0			S32	0 # or 1?
	END
	Amp12	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.6
		CELL.X0			S32	0 # or 1?
	END
	Amp13	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.72
		CELL.X0			S32	0 # or 1?
	END
	Amp14	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.76
		CELL.X0			S32	0 # or 1?
	END
	Amp15	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.725
		CELL.X0			S32	0 # or 1?
	END
	Amp16	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.895
		CELL.X0			S32	0 # or 1?
	END
	Amp21	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	5.165
		CELL.X0			S32	0 # or 1?
	END
	Amp22	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	6.565
		CELL.X0			S32	0 # or 1?
	END
	Amp23	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.86
		CELL.X0			S32	0 # or 1?
	END
	Amp24	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.885
		CELL.X0			S32	0 # or 1?
	END
	Amp25	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.64
		CELL.X0			S32	0 # or 1?
	END
	Amp26	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.76
		CELL.X0			S32	0 # or 1?
	END
	Amp31	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	1.62
		CELL.X0			S32	0 # or 1?
	END
	Amp32	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	1.595
		CELL.X0			S32	0 # or 1?
	END
	Amp33	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	1.58
		CELL.X0			S32	0 # or 1?
	END
	Amp34	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	1.6
		CELL.X0			S32	0 # or 1?
	END
	Amp35	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	1.47
		CELL.X0			S32	0 # or 1?
	END
	Amp36	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	2.17
		CELL.X0			S32	0 # or 1?
	END
	Amp41	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.745
		CELL.X0			S32	0 # or 1?
	END
	Amp42	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	5.155
		CELL.X0			S32	0 # or 1?
	END
	Amp43	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.885
		CELL.X0			S32	0 # or 1?
	END
	Amp44	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.775
		CELL.X0			S32	0 # or 1?
	END
	Amp45	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	3.48
		CELL.X0			S32	0 # or 1?
	END
	Amp46	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.69
		CELL.X0			S32	0 # or 1?
	END
	Amp51	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.745
		CELL.X0			S32	0 # or 1?
	END
	Amp52	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	5.155
		CELL.X0			S32	0 # or 1?
	END
	Amp53	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.885
		CELL.X0			S32	0 # or 1?
	END
	Amp54	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.775
		CELL.X0			S32	0 # or 1?
	END
	Amp55	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	3.48
		CELL.X0			S32	0 # or 1?
	END
	Amp56	METADATA
		CELL.TRIMSEC.SOURCE	STR	VALUE
		CELL.TRIMSEC		STR	[1:2048,1:1361]
		CELL.GAIN.SOURCE	STR	VALUE
		CELL.GAIN		F32	4.69
		CELL.X0			S32	0 # or 1?
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	FPA.TELESCOPE	STR	TELESCOP
# FPA.INSTRUMENT actually needs to be identical to the CAMERA, 
# so I'm moving it from here down to the defaults to make sure that
# this is ture
#	FPA.INSTRUMENT	STR	ORIGIN
	FPA.DETECTOR	STR	CCDLOC
#	FPA.AIRMASS	STR	AIRMASS
	FPA.OBSTYPE	STR	FLAVOR
	FPA.OBJECT	STR	OBJECT
	FPA.FILTERID	STR	FILTER
	FPA.FILTER	STR	FILTER
	FPA.POSANGLE	STR	IPA
	FPA.RA		STR	RA
	FPA.DEC		STR	DEC
	FPA.RADECSYS	STR	RADECSYS
#	FPA.FOCUS	STR	TELFOCUS
	FPA.TIME    	STR     DATE-OBS TAIHMS # Two values are interpreted as date and time
	FPA.TIMESYS	STR	TIMESYS
	FPA.ALT		STR	ALT
	FPA.AZ		STR	AZ
#	FPA.TEMP	STR	CCDTEMP
	FPA.EXPOSURE	STR	EXPTIME
	CHIP.TEMP	STR	CCDTEMP
	CELL.EXPOSURE	STR	EXPTIME
	CELL.DARKTIME	STR	EXPTIME
	CELL.TIME	STR	DATE-OBS TAIHMS
#	CELL.GAIN	STR	GAIN
#	CELL.READNOISE	STR	RDNOISE
#	CELL.SATURATION	STR	SATURATE	### Currently set to 0 ???
#	CELL.TIMESYS	STR	TIMESYS
	CELL.XBIN	STR	COLBIN
	CELL.YBIN	STR	ROWBIN
# these were used for some early data
#	CELL.XBIN	STR	XBIN
#	CELL.YBIN	STR	YBIN
#	CELL.BAD	STR	BADLEVEL
END

# Default PS concepts that may be specified by value
DEFAULTS	METADATA
# FPA.CAMERA contains the name of the camera according to the config system (i.e. SDSSmosaic)
# FPA.INSTRUMENT contains the name of the camera according to the fits headers (i.e. itself)
# Normally, this will be in the header keyword INSTRUME but for this one, we override it to 
# SDSSmosaic to avoid confusion between this and the non-mosaic SDSS configuration.
	INSTRUME	STR	SDSSmosaic
	FPA.INSTRUMENT	STR	INSTRUME
# readnoise is from http://www.sdss.org/dr6/instruments/imager/index.html
# Note that I have emails from Jim Gunn saying dark noise *is* important...
       	CELL.READNOISE.SOURCE	STR	VALUE
	CELL.READNOISE	F32	5.0
# What are the units of readnoise? Electrons?
	FPA.AIRMASS	F32	1.3
	CHIP.XSIZE	S32	2048
	CHIP.YSIZE	S32	1361
	CELL.XSIZE	S32	2048
	CELL.YSIZE	S32	1361
#	FPA.TIMESYS	STR	UTC
	CELL.SATURATION	F32	60000
	CELL.READDIR	S32	1
	CELL.TIMESYS	STR	UTC
	CHIP.XPARITY	S32	1
	CHIP.YPARITY	S32	1
# Do we now need a CHIP.X0.DEPEND STR DETECTOR and a table of
# locations? If so, again dr6/imager/index.html gives the necessary
# parameters
	CHIP.X0		S32	0
	CHIP.Y0		S32	0
	CELL.XPARITY	S32	1
	CELL.YPARITY	S32	1
	CELL.Y0		S32	0
#	CELL.XBIN	S32	1
#	CELL.YBIN	S32	1
END

FORMATS		METADATA
	FPA.RA		STR	DEGREES
	FPA.DEC		STR	DEGREES
	FPA.TIME    	STR     SEPARATE YEAR.FIRST
#	FPA.TIME	STR	MJD
	CELL.TIME    	STR     SEPARATE YEAR.FIRST
#	CELL.TIME	STR	MJD
	CHIP.NUM	STR	FORTRAN
END

# PS Concepts to get from the database
DATABASE	METADATA
# None.
END
