
BACKGROUND.XBIN	    S32  256            # size of background superpixels
BACKGROUND.YBIN	    S32  256            # size of background superpixels

# what is the 2D variation of the SDSS PSF?
PSF_CLUMP_NX        S32   3               # subdivide image in to NX x NY regions for 
PSF_CLUMP_NY        S32   2               # selecting PSF stars

# test this:
PSF_CLUMP_GRID_SCALE F32 2.5		# size of Sx,Sy image pixel

# PSF model parameters : choose the PSF model desired
# PSF_MODEL           STR  PS_MODEL_PS1_V1
PSF_MODEL           STR  PS_MODEL_QGAUSS

# Use same default setting as in 2.6.1 (MAP is now global default)
PSF.TREND.MODE                      STR   MAP
PSF.TREND.NX                        S32   3 
PSF.TREND.NY                        S32   2

# match the SDSS radius:
PSF_REF_RADIUS      F32  18.7            # aperture magnitudes are scaled via 
					 # curve-of-growth to this radius
# for tests: Default is noap, nopsf; following recipes turn on one or both of these
PSPHOT_NOAP_PSF METADATA
 PSF.TREND.MODE		STR	MAP
 PSF.TREND.NX		S32	3
 PSF.TREND.NY		S32	3
 MEASURE.APTREND        BOOL  FALSE
END

PSPHOT_AP_NOPSF METADATA
 PSF.TREND.MODE		STR	POLY_ORD
 PSF.TREND.NX		S32	0
 PSF.TREND.NY		S32	0
 MEASURE.APTREND        BOOL  TRUE
 APTREND.ORDER.MAX    	S32   3 # used to be 1
END

PSPHOT_AP_PSF METADATA
 PSF.TREND.MODE		STR	MAP
 PSF.TREND.NX		S32	3
 PSF.TREND.NY		S32	3
 MEASURE.APTREND        BOOL  TRUE
 APTREND.ORDER.MAX    	S32   3 # used to be 1
END

# put these values in the master?
DIFF	METADATA
	BACKGROUND.XBIN	    S32  32            # size of background superpixels
	BACKGROUND.YBIN	    S32  32            # size of background superpixels
END
