### Recipe for pswarp

GRID.NX			S32	128		# Iso-astrom grid size in x (pixels)
GRID.NY			S32	128		# Iso-astrom grid size in y (pixels)
INTERPOLATION.MODE	STR	LANCZOS3	# Interpolation mode to use
POOR.FRAC		F32	0.01		# Max fraction of bad flux for a "poor" warped pixel
ASTROM.SOURCE		STR	PSASTRO.OUTPUT	# Source file rule for astrometry, or NULL
#ASTROM.SOURCE		STR	NULL		# Source file rule for astrometry, or NULL
ASTROM.ACCEPT		BOOL	TRUE		# Accept astrometric solution unconditionally?
ASTROM.DEPTH		STR	SPLIT           # Source file rule for astrometry, or NULL
ACCEPT.FRAC		F32	0.1		# Minimum fraction of good pixels to accept result
