
DARK METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SN          F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SN      F32  0.0
  IMFILE.FLUX        F32  2.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SN             F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SN         F32  0.0
  EXP.FLUX           F32  2.0
  ENSEMBLE.MEAN      F32  3.0
  ENSEMBLE.STDEV     F32  3.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

FRINGE METADATA
  FILTER      	     STR  *
  EXPECTED    	     F32  0.0
  IMFILE.MEAN 	     F32  0.0
  IMFILE.STDEV       F32  0.0
  IMFILE.MEANSTDEV   F32  0.0
  IMFILE.SN          F32  0.0
  IMFILE.BIN.STDEV   F32  0.0
  IMFILE.BIN.SN      F32  0.0
  IMFILE.FLUX        F32  0.0
  EXP.MEAN           F32  0.0
  EXP.STDEV          F32  0.0
  EXP.MEANSTDEV      F32  0.0
  EXP.SN             F32  0.0
  EXP.BIN.STDEV      F32  0.0
  EXP.BIN.SN         F32 10.0
  EXP.FLUX           F32  0.0
  ENSEMBLE.MEAN      F32  0.0
  ENSEMBLE.STDEV     F32  0.0
  ENSEMBLE.MEANSTDEV F32  0.0
END

