
# save matched stars?
PSASTRO.SAVE.REFMATCH      BOOL TRUE  # save refstar matches as table in output smf file

# astrometry matching parameters

# nominal plate scale (microns / pixel)
PSASTRO.PIXEL.SCALE    F32  1.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32    2500.
PSASTRO.GRID.SCALE     F32      50.

# extra field for ref stars:
PSASTRO.FIELD.PADDING  F32 0.25

# pmAstromGridMatch parameters
PSASTRO.GRID.MIN.ANGLE F32 -1.0 # start angle (degrees)
PSASTRO.GRID.MAX.ANGLE F32 +1.0
PSASTRO.GRID.DEL.ANGLE F32  1.0

PSASTRO.GRID.MIN.SCALE F32  0.96
PSASTRO.GRID.MAX.SCALE F32  1.04
PSASTRO.GRID.DEL.SCALE F32  0.02

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32      2
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# single-chip radius match in pixels
PSASTRO.MATCH.FIT.NITER S32   3
PSASTRO.MATCH.RADIUS    F32   12.0
PSASTRO.MATCH.RADIUS.N0 F32   15.0
PSASTRO.MATCH.RADIUS.N1 F32   10.0
PSASTRO.MATCH.RADIUS.N2 F32    5.0

PSASTRO.MAX.NRAW       S32      1500   # max stars accepted for fitting (0 for all)
PSASTRO.MAX.NREF       S32      1500   # max stars accepted for fitting (0 for all)

PSASTRO.MIN.INST.MAG.RAW       F32      -17.0  # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW       F32      -11.0  # max instrumental magnitude for stars accepted for fitting
PSASTRO.GRID.MIN.INST.MAG.RAW  F32      -17.0  # min instrumental magnitude for stars accepted for grid search
PSASTRO.GRID.MAX.INST.MAG.RAW  F32      -10.0  # max instrumental magnitude for stars accepted for grid search
PSASTRO.GRID.MIN.SIGMA F32  4.0

PSASTRO.MAX.ERROR      F32      10.0 # max error in pixels
PSASTRO.MIN.NSTAR      S32      10   # min fitted stars in solution

PSASTRO.MAX.ALLOWED.FWHM      F32       25

PSASTRO.MOSAIC.MODE           BOOL     TRUE

# for iterations >= N, require a single match per reference
PSASTRO.MOSAIC.CHIP.NITER     S32      4  # fit clipping iterations
PSASTRO.MOSAIC.CHIP.NSIGMA    F32      3  # fit clipping sigmas
PSASTRO.MOSAIC.UNIQ.ITER      S32      2

PSASTRO.MOSAIC.MAX.ERROR.N0 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N1 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.00 # max allow error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N4 F32    2.00 # max allow error for valid solution (arcsec)

PSASTRO.MOSAIC.RADIUS.N0    F32    15.0
PSASTRO.MOSAIC.RADIUS.N1    F32     8.0 # do not refine the match
PSASTRO.MOSAIC.RADIUS.N2    F32     8.0 # do not refine the match
PSASTRO.MOSAIC.RADIUS.N3    F32     4.0 
PSASTRO.MOSAIC.RADIUS.N4    F32     4.0 

PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      0 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      3 # fit order (-1 means use default)

PSASTRO.MOSAIC.GRADIENT.NX    S32      2   # number of x-dir cells per chip
PSASTRO.MOSAIC.GRADIENT.NY    S32      5   # number of y-dir cells per chip

# use this recipe to set a tight constraint
PSASTRO.FINE METADATA
  PSASTRO.MOSAIC.MAX.ERROR.N0 F32    1.50 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N1 F32    1.50 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.90 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.90 # max allow error for valid solution (arcsec)

  PSASTRO.MOSAIC.RADIUS.N0    F32    8.0
  PSASTRO.MOSAIC.RADIUS.N1    F32    0.0
  PSASTRO.MOSAIC.RADIUS.N2    F32    4.0
  PSASTRO.MOSAIC.RADIUS.N3    F32    4.0

  PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      1 # fit order (-1 means use default)
END

# use this recipe to set a tight constraint
PSASTRO_COARSE METADATA
  PSASTRO.GRID.SCALE          F32     50.0
  PSASTRO.TWEAK.RANGE         F32      1.0

  DVO.GETSTAR.MIN.MAG         F32     10.0
  DVO.GETSTAR.MAX.RHO         F32  12000.0

  PSASTRO.MAX.INST.MAG.RAW       F32 -9.0  # max instrumental magnitude for stars accepted for fitting
  PSASTRO.GRID.MAX.INST.MAG.RAW  F32 -9.0  # max instrumental magnitude for stars accepted for grid search

  PSASTRO.GRID.MIN.SIGMA      F32    4.0

  PSASTRO.MATCH.FIT.NITER S32   4
  PSASTRO.MATCH.RADIUS.N0 F32   60.0
  PSASTRO.MATCH.RADIUS.N1 F32   30.0
  PSASTRO.MATCH.RADIUS.N2 F32   15.0
  PSASTRO.MATCH.RADIUS.N3 F32    8.0

  PSASTRO.MOSAIC.MAX.ERROR.N0 F32    0.0 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N1 F32    0.0 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N2 F32    0.0 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N3 F32    0.0 # max allow error for valid solution (arcsec)
  PSASTRO.MOSAIC.MAX.ERROR.N3 F32    2.0 # max allow error for valid solution (arcsec)

  PSASTRO.MOSAIC.RADIUS.N0    F32   60.0
  PSASTRO.MOSAIC.RADIUS.N1    F32   30.0
  PSASTRO.MOSAIC.RADIUS.N2    F32   15.0
  PSASTRO.MOSAIC.RADIUS.N3    F32    8.0
  PSASTRO.MOSAIC.RADIUS.N4    F32    4.0

  PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      0 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      1 # fit order (-1 means use default)
  PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      1 # fit order (-1 means use default)
END

PSASTRO.CATDIR              STR      PS1.REF.20140713
# PSASTRO.CATDIR              STR      SYNTH.GRIZY
DVO.GETSTAR.MAX.RHO         F32      30000.0
DVO.GETSTAR.OUTFORMAT       STR      PS1_DEV_0
DVO.GETSTAR.MIN.MAG         F32      12.0
DVO.GETSTAR.MIN.MAG.INST    F32     -15.0

# we match the FILTER.ID (corresponding to the FILTER, see camera.config) to the dvo db PHOTCODE
PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
  FILTER   STR u
  ZEROPT   F32 23.6
  PHOTCODE STR g
END
PHOTCODE.DATA METADATA
  FILTER   STR g
  ZEROPT   F32 26.46
  PHOTCODE STR g
END
PHOTCODE.DATA METADATA
  FILTER   STR r
  ZEROPT   F32 25.98
  PHOTCODE STR r
END
PHOTCODE.DATA METADATA
  FILTER   STR gri
  ZEROPT   F32 26.95
  PHOTCODE STR r
END
PHOTCODE.DATA METADATA
  FILTER   STR i
  ZEROPT   F32 25.74
  PHOTCODE STR i
END
PHOTCODE.DATA METADATA
  FILTER   STR z
  ZEROPT   F32 24.80
  PHOTCODE STR z
END

# plotting options
PSASTRO.PLOT.INST.MAG.MAX F32 -9.0
PSASTRO.PLOT.INST.MAG.MIN F32 -17.0
PSASTRO.PLOT.REF.MAG.MIN  F32 +10.0
PSASTRO.PLOT.REF.MAG.MAX  F32 +25.0

M31_DEEP METADATA 
  PSASTRO.CATDIR STR PS1.REF.20170919
END

