# Camera configuration file for LRIS-Red: describes the camera

# File formats that we know about
FORMATS         METADATA
        RAW     STR     lris_red/format_raw.config
	SPEC	STR	lris_red/format_spec.config
END
 
 
# Description of camera --- all the chips and the cells that comprise them
FPA     METADATA
        RedChip		STR	LeftSide RightSide
END


# Recipes to use when processing this camera
RECIPES		METADATA
	PPMERGE		STR	ppMerge.config		# Recipe to use for ppMerge
END
