# configurable options for addstar
# the IMAGES.ONLY option has been deprecated: set it when defining an addstar run with addtool -image-only
# it is not clear we still need an addstar recipe.

# IMAGES.ONLY  BOOL  TRUE

# FLATCORR METADATA
#     # IMAGES.ONLY  BOOL  FALSE
#     IMAGES.ONLY  BOOL  TRUE
# END
# 
# ADDSTAR	METADATA
#     IMAGES.ONLY  BOOL  TRUE
# END
