
FPCAMERA.TEST  F32  1.0

# nominal plate scale (units / pixel)
# NOTE: we are using pixels here because of the limited dynamic range for 
# NAXIS1,2 when loaded by addstar.  
FPCAMERA.PIXEL.SCALE  F32  1.0

# extra field for ref stars:
FPCAMERA.FIELD.PADDING  F32     0.25   # pad by this fraction of the full mosaic (may need to be larger for single chips)

# path or name (in site:FPCAMERA.CATDIRS) to catdir
FPCAMERA.CATDIR               STR     PS1.REF.20170919

DVO.GETSTAR                   STR      getstar
DVO.GETSTAR.OUTFORMAT         STR      PS1_DEV_0

DEFAULT_RECIPE METADATA
END
