### Recipe specifying values for various mask concepts

# This file defines bit values for various abstract mask concepts.  It
# is not necessary for all bit values to be unique.

# Note that it is necessary to leave at least a single unassigned bit
# for internal marking (or ppImage will complain)

# Mask values which represent features of the detector
DETECTOR	U16	0x0001		# Something is wrong with the detector
FLAT		U16	0x0002		# Pixel doesn't flat-field properly
DARK		U16	0x0004		# Pixel doesn't dark-subtract properly
BLANK		U16	0x0008		# Pixel doesn't contain valid data
CTE		U16	0x0010		# Pixel has poor Charge Transfer Efficiency

# Mask values which represent invalid signal ranges
SAT		U16	0x0020		# Pixel is saturated or non-linear
LOW		U16	0x0040		# Pixel is low
SUSPECT		U16	0x0080		# Pixel is suspected of being bad

# Mask values which represent non-astronomical structures
BURNTOOL        U16     0x0080          # Pixel may contain uncorrected streak.
CR		U16	0x0100		# Pixel contains a cosmic ray
SPIKE		U16	0x0200		# Pixel contains a diffraction spike
GHOST		U16	0x0400		# Pixel contains an optical ghost
STREAK		U16	0x0800		# Pixel contains a streak
CROSSTALK	U16	0x0800		# Pixel contains electronic crosstalk
STARCORE	U16	0x1000		# Pixel contains a bright star core

# Mask values which identify pixels badly affected by convolutions and interpolations
CONV.BAD	U16	0x2000		# Pixel is bad after convolution with a bad pixel
CONV.POOR	U16	0x4000		# Pixel is poor after convolution with a bad pixel

# Spare value for temporary marking
# MARK		U16	0x8000		# Pixel is temporarily marked
