### Recipe specifying values for various mask concepts

# This file defines bit values for various abstract mask concepts.  It
# is not necessary for all bit values to be unique.

# Note that it is necessary to leave at least a single unassigned bit
# for internal marking (or ppImage will complain)


# The following values are TEMPORARY, to be used only until we can get
# the masking situation sorted out (PAP, 2008-09-09)
# The following values are constrained by the fact that the GPC1 mask values are set:
DETECTOR	U8	0x02		# Something is wrong with the detector =2
FLAT		U8	0x04		# Pixel doesn't flat-field properly =4
DARK		U8	0x40		# Pixel doesn't dark-subtract properly =64
CTE		U8	0x40		# Pixel has poor cte

# Filling in the rest with whatever makes some sense
BLANK		U8	0x01		# Pixel doesn't contain valid data
RANGE		U8	0x01		# Pixel is out-of-range of linearity
SAT		U8	0x01		# Pixel is saturated
BAD		U8	0x01		# Pixel is low
POOR.WARP	U8	0x08		# Pixel is poor after convolution with a bad pixel
BAD.WARP	U8	0x10		# Pixel is bad after convolution with a bad pixel
CR		U8	0x20		# Pixel contains a cosmic ray
GHOST		U8	0x20		# Pixel contains an optical ghost
STREAK		U16	0x20		# Pixel contains a streak
CROSSTALK	U16	0x20		# Pixel contains electronic crosstalk

SPIKE		U8	0x20		# Pixel contains a diffraction spike
STARCORE	U8	0x20		# Pixel contains a streak

###### The following values are what I'm aiming to have in the long term (PAP, 2008-09-09)
###
#### Detector-intrinsic; these will default to DETECTOR
###DETECTOR	U8	0x01		# Something is wrong with the detector
###DARK		U8	0x01		# Pixel doesn't dark-subtract properly
###FLAT		U8	0x01		# Pixel doesn't flat-field properly
###BLANK	U8	0x01		# Pixel doesn't contain valid data
###
#### Detector-extrinsic; these will default to RANGE
###RANGE	U8	0x02		# Pixel is out-of-range of linearity
###SAT		U8	0x02		# Pixel is saturated
###LOW		U8	0x02		# Pixel is low
###
#### Convolution: pixels that touched a bad pixel
###POOR		U8	0x04		# Pixel is poor after convolution with a bad pixel
###CONV		U8	0x08		# Pixel is bad after convolution with a bad pixel
###
#### Objects: real signal that should be ignored
###CR		U8	0x10		# Pixel contains a cosmic ray
###GHOST	U8	0x20		# Pixel contains an optical ghost
###STREAK	U8	0x40		# Pixel contains a streak
###
####MARK	U8	0x80		# RESERVED for MARK
