
CLEAN_MODES MULTI
CLEAN_MODES METADATA
END

END_OF_NIGHT MULTI
END_OF_NIGHT METADATA
END

FILTERS MULTI
FILTERS STR NONE

UNRECOVERABLE_QUALITY MULTI
UNRECOVERABLE_QUALITY S16 0

MACRO_DEFINITIONS MULTI
MACRO_DEFINITIONS METADATA
END

TARGETS MULTI
TARGETS METADATA
END

## # Detrend verification data
DETRENDS MULTI
DETRENDS METADATA
END
