### Recipe values for ppSim, the Pan-STARRS data simulator

## XXX need to consider this better: used to run / skip fake, should be a function of chip (and context?)
SKIP.FAKE       BOOL    TRUE

IMAGE.TYPE      STR     BIAS            # default image type

OBS_MODE        STR     NONE

BIAS            BOOL    FALSE
BIAS.LEVEL	F32	1000.0		# Bias level (e)
BIAS.RANGE	F32	20.0		# Range of bias values (e)
BIAS.ORDER	S32	7		# Order for overscan polynomial

# dark signal = (DARK.RATE + DARK.TEMP1*TEMP + DARK.TEMP2*TEMP^2)*EXPTIME
DARK            BOOL    TRUE
DARK.RATE	F32	5.0		# Dark current (e/s)
DARK.TEMP	F32	0.0		# Dark temperature trend (e/s/C)
DARK.TEMP2	F32	0.0		# 2nd order Dark temperature trend (e/s/C^2)
DET.TEMP	F32   -20.0		# Detector temperature

# dark signal = (DARK.RATE + DARK.TEMP1*TEMP + DARK.TEMP2*TEMP^2)*EXPTIME
# the following dark model can be used to test ppMerge with DARK.ORDINATES
TEST.DARKTEMP   METADATA
  DARK            BOOL    TRUE
  DARK.RATE	F32	25.0		# Dark current (e/s)
  DARK.TEMP	F32	0.5		# Dark temperature trend (e/s/C)
  DARK.TEMP2	F32	0.05		# 2nd order Dark temperature trend (e/s/C^2)
  DET.TEMP	F32	-20.0		# Detector temperature
END

FLAT            BOOL    TRUE
FLAT.SIGMA	F32	3.0		# Flat gaussian width (FPA sizes)
FLAT.RATE	F32	2000.0		# Flat illumination rate (e/s)

SHUTTER.TIME	F32	1.0		# Time for shutter to fully open
SCATTER.FRAC    F32     0.0

SKY		BOOL	TRUE		# Sky illumination rate (e/s)
SKY.RATE	F32	20.0		# Sky illumination rate (e/s)

PHOTOM          BOOL    FALSE           # perform photometry on the faked stars?

FORCED.PHOT     BOOL    FALSE           # measure forced photometry for specific points?
FORCED.CATDIR   STR     NONE            # source of the forced photometry positions
FORCED.PHOTCODE STR     r               # source of the forced photometry positions

STARS.REAL	BOOL	TRUE 		# Add stars from a catalogue?
MATCH.DENSITY   BOOL    FALSE           # significance of faintest sources

STARS.FAKE      BOOL    TRUE		# Add fake stars, randomly distributed?
STARS.LUM	F32	0.40		# Stellar luminosity function slope (magnitude slope)
STARS.MAG	F32	12.5		# Brightest magnitude for fake stars (choose based on real catalog limit)
STARS.DENSITY	F32    100.0		# Stellar density (per square degree) at the brightest magnitude
STARS.SIGMA.LIM F32      1.0            # significance of faintest sources

STARS.CLUSTER         BOOL    F         # do not insert a cluster by default
STARS.CLUSTER.DENSITY F32 10000         # central density (per square degree)
STARS.CLUSTER.SIGMA   F32    30         # cluster spatial scale (pixels)
STARS.CLUSTER.XCENTER F32  500         # center of cluster
STARS.CLUSTER.YCENTER F32  500         # center of cluster

STARS.FLAT.LUM  BOOL    FALSE           # use a (non-physical) constant number of stars per mag bin?
STARS.FLAT.NUM  S32     5000            # number of stars to generate for flat magnitude distribution
PSF.MODEL       STR     PS_MODEL_QGAUSS
PSF.ARATIO      F32     1.0		# minor / major (0.0 - 1.0)
PSF.THETA	F32	0.0
PSF.CONVOLVE    BOOL    FALSE		# generate fake stars with PSF (F), or smooth with PSF (T)?
CONVOLVE.NSIGMA F32     5.0		# smooth image out to NSIGMA * sigma

STARS.GRID      BOOL    FALSE		# Add grid of fake stars with constant flux
STARS.GRID.MAG	F32	14.0		# magnitude of fake grid stars
STARS.GRID.DX	S32	100		# X spacing of fake grid stars
STARS.GRID.DY	S32	100		# Y spacing of fake grid stars

GALAXY.FAKE     BOOL    FALSE		# Generate fake galaxies?

GALAXY.LUM	  F32	0.8		# Stellar luminosity function slope
GALAXY.MAG	  F32	15.0		# Brightest magnitude for fake stars
GALAXY.DENSITY	  F32	5.0		# Galaxy density (per square degree) at the brightest magnitude

GALAXY.RMAJOR.MIN F32	5.0		# Minimum semi-major axis for galaxy models
GALAXY.RMAJOR.MAX F32	10.0		# Maximum semi-major axis for galaxy models

GALAXY.ARATIO.MIN F32	1.0		# Minimum axis ratio for galaxy models
GALAXY.ARATIO.MAX F32	0.5		# Maximum axis ratio for galaxy models

GALAXY.INDEX.MIN F32    0.25		# Minimum Sersic index for galaxy models
GALAXY.INDEX.MAX F32	1.000           # Maximum Sersic index for galaxy models

GALAXY.THETA.MIN F32    0.0		# Minimum position angle for galaxy models
GALAXY.THETA.MAX F32	180.0           # Maximum position angle for galaxy models

GALAXY.GRID        BOOL   FALSE		# Generate a (regular) grid of galaxy models?
GALAXY.GRID.DX     S32    100           # Spacing between galaxies in grid in x
GALAXY.GRID.DY     S32    200           # Spacing between galaxies in grid in y
GALAXY.GRID.RANDOM BOOL   FALSE		# randomize shape parameters in grid (or sequence?)
GALAXY.GRID.PEAK   F32    100.0		# peak flux of the grid galaxies (deprecated)
GALAXY.GRID.MAG    F32    17.0		# integrated magnitude of the grid galaxies
GALAXY.GRID.XOFF   F32    0.0           # galaxy centroid offsets
GALAXY.GRID.YOFF   F32    0.0           # galaxy centroid offsets

GALAXY.MODEL     STR    PS_MODEL_GAUSS

BADCTE          BOOL    FALSE           # create a region of 'bad CTE'?
BADCTE.REGION   STR     [0:200,0:200]   # region of 'bad CTE'
BADCTE.SIGMA    F32     2.0             # 'bad CTE' smoothing scale
BADCTE.NSIGMA   S32     2               # 'bad CTE' smoothing scale

BADPIX.SEED	U64	123456789	# Seed for RNG in creating deterministic bad pixels
BADPIX.FRAC	F32	0.0001		# Fraction of bad pixels
BADPIX.SIZE	S32	0		# Size of bad pixels
BADPIX.MODE	STR	RANDOM		# Mode for bad pixels: RANDOM|NAN

### The following options are used if not defined by the concepts (e.g., usually read from headers)
GAIN		F32	NAN		# Default gain (e/ADU)
READNOISE	F32	10.0		# Default read noise (e)
OVERSCAN.SIZE	S32	32		# Default overscan columns
SATURATION	F32	65535		# Default saturation level (ADU)

PIXEL.SCALE     F32     0.26            # pixel size in arcsec

# filter-dependent parameters
# NOTE: these are only used if ZEROPOINT is set to NAN
ZEROPTS  METADATA
	g	F32	24.00
	r	F32	25.15
	i	F32	25.00
	z	F32	24.50
	y	F32	24.00
END

# the following values are not set by default, but supplied if needed from arguments
EXPTIME     F32     NAN                 # exposure time (seconds)
RA          F32     NAN                 # exposure time (seconds)
DEC         F32     NAN                 # exposure time (seconds)
PA          F32     NAN                 # exposure time (seconds)
SEEING      F32     NAN                 # exposure time (seconds)
SCALE       F32     NAN                 # exposure time (seconds)
ZEROPOINT   F32     NAN                 # exposure time (seconds)
SKY.MAGS    F32     NAN                 # exposure time (seconds)

SEEING.MAX  F32     NAN                 # exposure time (seconds)
SEEING.RAMP BOOL    F                 # exposure time (seconds)

FILTER      STR     NONE                # exposure time (seconds)
BINNING     S32     1                   # exposure time (seconds)

ADDFAKES    METADATA
 BIAS            BOOL    FALSE
 DARK            BOOL    FALSE
 FLAT            BOOL    FALSE
 SKY		 BOOL	 FALSE		# Sky illumination rate (e/s)
 STARS.REAL  	 BOOL	 FALSE		# Add stars from a catalogue?
 STARS.FAKE  	 BOOL	 TRUE		# Add stars from a catalogue?
END

FAKEPHOT    METADATA
 BIAS            BOOL    FALSE
 DARK            BOOL    FALSE
 FLAT            BOOL    FALSE
 SKY		 BOOL	 FALSE		# Sky illumination rate (e/s)
 STARS.REAL  	 BOOL	 FALSE		# Add stars from a catalogue?
 STARS.FAKE  	 BOOL	 TRUE		# Add stars from a catalogue?
 PHOTOM          BOOL    FALSE           # perform photometry on the faked stars?
 FORCED.PHOT     BOOL    TRUE
 FORCED.CATDIR   STR     DVO.FORCE
END

# for a quick test, we are going to skip shutter and dark corrections
FLATCORR    METADATA
 SHUTTER.TIME	 F32	 0.0
 DARK.RATE       F32     0.0         
 SCATTER.FRAC    F32     0.05
END

TEST.SHAPES    METADATA
 BIAS            BOOL    FALSE
 DARK            BOOL    FALSE
 FLAT            BOOL    FALSE
 SKY		 BOOL	 TRUE		# Sky illumination rate (e/s)
 STARS.REAL  	 BOOL	 FALSE		# Add stars from a catalogue?
 STARS.FAKE  	 BOOL	 FALSE		# Add stars from a catalogue?

 GALAXY.FAKE     BOOL    TRUE		# Generate fake galaxies?
 GALAXY.GRID     BOOL    TRUE		# Generate a (regular) grid of galaxy models?
 GALAXY.GRID.DX   S32    500             # Spacing between galaxies in grid in x
 GALAXY.GRID.DY   S32    500             # Spacing between galaxies in grid in y

 GALAXY.MODEL    STR     PS_MODEL_GAUSS

 GALAXY.RMAJOR.MIN F32	 3.0		# Minimum semi-major axis for galaxy models
 GALAXY.RMAJOR.MAX F32	 3.0		# Maximum semi-major axis for galaxy models
 
# GALAXY.ARATIO.MIN F32	1.0		# Minimum axis ratio for galaxy models
# GALAXY.ARATIO.MAX F32	1.0		# Maximum axis ratio for galaxy models
GALAXY.ARATIO.MIN F32	0.5		# Minimum axis ratio for galaxy models
GALAXY.ARATIO.MAX F32	0.5		# Maximum axis ratio for galaxy models
 
 GALAXY.INDEX.MIN F32   0.25		# Minimum Sersic index for galaxy models
 GALAXY.INDEX.MAX F32	0.25           # Maximum Sersic index for galaxy models
 
 GALAXY.THETA.MIN F32    1.0		# Minimum position angle for galaxy models
 GALAXY.THETA.MAX F32	 1.0            # Maximum position angle for galaxy models

END

TESTDATA  METADATA
END

STACKTEST.MAKE  METADATA
END

STACKTEST.RUN  METADATA
END

# Overrides for creating large holes in the image
LARGEHOLES	METADATA
    BADPIX.FRAC	F32	3.0e-7		# Fraction of bad pixels
    BADPIX.SIZE	S32	256		# Size of bad pixels
    BADPIX.MODE	STR	NAN		# Mode for bad pixels: RANDOM|NAN
END

# recipe for a CTE test
BADCTE.TEST     METADATA
  BADCTE BOOL TRUE
END
