# Recipe configuration for ppStack (image combination)

CONVOLVE	BOOL	TRUE		# Convolve images when stacking?
MATCH.ZERO.POINTS BOOL	TRUE		# Convolve images when stacking?

COMBINE.ITER	F32	0.5		# Number of rejection iterations per input
COMBINE.REJ	F32	3.5		# Rejection threshold in combination (sigma)
COMBINE.SYS	F32	0.1		# Relative systematic error in combination
COMBINE.DISCARD	F32	0.2		# Discard fraction for Olympic weighted mean

COMBINE.PERCENT         BOOL  FALSE     # Use a single percentile clipping?
COMBINE.REJECT.FRACTION F32   0.32      # fraction of outliers to reject in percentile clipping
                                        # Note this is the total both above and below the median

MASK.VAL	STR	MASK.VALUE,CONV.BAD,GHOST # Mask value of input bad pixels
MASK.SUSPECT	STR	SUSPECT,BURNTOOL,SPIKE,CROSSTALK,STARCORE,CONV.POOR # Mask value of suspect pixels
MASK.BAD	STR	BLANK		# Mask value to give bad pixels
MASK.POOR	STR	CONV.POOR	# Mask value to give poor pixels
MASK.BLANKBORDER S32    0               # Mask blank border in final stack output (may want to set KERNEL.SIZE)

SKIP.MISSING.INPUTS BOOL FALSE          # If some input warp images are missing, make the stack anyway

# we are in some danger of inconsistency in the definition of a 'bad' vs a 'suspect' pixel
# these distinctions are also defined in psModules/src/config/pmConfigMask.c

POOR.FRACTION	F32	0.25		# Maximum fraction of bad variance for poor pixels
THRESHOLD.MASK	F32	0.5		# Threshold for mask deconvolution (0..1)
DECONV.LIMIT	F32	3.0		# Deconvolution fraction for rejecting entire image
IMAGE.REJ	F32	0.1		# Rejected pixel fraction threshold for rejecting entire image
MATCH.REJ	F32	3.0		# Rejection threshold for chi^2 values from matching
ROWS		S32	64		# Number of rows to read at once
VARIANCE	BOOL	TRUE		# Use variance in rejection?
SAFE		BOOL	TRUE		# Play safe when combining small number of values?
WEIGHTS		BOOL	TRUE		# Use 1/noise^2 weighting?
BIN1		S32	4		# Binning factor for first level
BIN2		S32	4		# Binning factor for second level
PHOTOMETRY      BOOL    TRUE            # Do basic photometry?
SKIP.BG.SUB	BOOL	FALSE		# Bypass background subtraction?
TARGET.FRAC	F32	0.1		# Minimum flux fraction for target PSF
TARGET.MINMAG	F32	3.0		# Minimum magnitude difference to tolerate in stamp
NMINPIX		S32	1 		# Minimum input per pixel 
BSCALEOFFSET    BOOL    FALSE           # HACK for removing offset from input warps because of compression (0.5*BSCALE)

BACKGROUND.MODEL    BOOL   FALSE        # Construct a stacked version of the warp stage background

RENORM		BOOL	TRUE		# Renormalise weight maps?
RENORM.NUM	S32	100000		# Number of samples for renormalisation
RENORM.MIN	F32	NAN		# Minimum value for renormlisation
RENORM.MAX	F32	NAN		# Maximum value for renormalisation

### The PHOT mode is intended as a quick and dirty stopgap; it should disappear soon.
PHOT		BOOL	FALSE		# Calculate ZP using own photometry?
PHOT.RADIUS	S32	30		# Photometry radius (pixels)
PHOT.SIGMA	F32	5		# Photometry gaussian sigma for weight (pixels)
PHOT.FRAC	F32	0.9		# Minimum fraction of good pixels

ZP		BOOL	TRUE		# Match zero points?
ZP.RADIUS	F32	4.0		# Radius (pixels) for matching sources
ZP.ITER.1	S32	5		# Iterations for zero point; pass 1
ZP.ITER.2	S32	1000		# Iterations for zero point; pass 2
ZP.TOL		F32	1.0e-6		# Tolerance for zero point iterations
ZP.TRANS.ITER	S32	2		# Iterations for transparency determination
ZP.TRANS.REJ	F32	3.0		# Rejection threshold for transparency determination
ZP.TRANS.THRESH	F32	1.0		# Threshold for transparency determination
ZP.STAR.REJ.1	F32	20.0		# Rejection threshold for stars; pass 1
ZP.STAR.REJ.2	F32	3.0		# Rejection threshold for stars; pass 2
ZP.STAR.LIMIT	F32	1.0e-2		# Limit on star rejection fraction for successful iteration
ZP.STAR.SYS.1	F32	0.10		# Estimated systematic error; pass 1
ZP.STAR.SYS.2	F32	0.05		# Estimated systematic error; pass 2
ZP.MATCH	F32	0.1		# Fraction of images to match for good star
ZP.AIRMASS	METADATA		# Airmass terms by filter
	u.MP9301 F32	0.0
	g	F32	0.0
	r	F32	0.0
	i	F32	0.0
	z	F32	0.0
	y	F32	0.0
	w	F32	0.0
END
ZP.TARGET	METADATA		# Target zero point by filter
	u.MP9301 F32	25.0
	g	F32	25.0
	r	F32	25.0
	i	F32	25.0
	z	F32	25.0
	y	F32	25.0
	w	F32	25.0
END
ZP.AIRMASS.TARGET F32 1.0

PSF.INSTANCES	S32	15		# Number of instances for PSF generation
PSF.RADIUS	F32	20.0		# Radius for PSF generation
PSF.ORDER	S32	1		# Order of spatial variation for PSF generation
PSF.MODEL	STR	PS_MODEL_GAUSS	# Model for PSF generation

PSF.AUTOSIZE		BOOL	TRUE		# Determine output PSF size from input PSFs?
PSF.OUTPUT.FWHM         F32     5.0             # Target size for output PSF (if not auto-sized), -1 as mean FWHM inputs 
PSF.OUTPUT.NFWHMSIG     F32     0.0             # N FWHM-sig to be added to the FWHMmean for PSF


PSF.INPUT.CLIP.SIMPLE	BOOL F          # Should we do a simple sigma clip (T, requires CLIP.NSIGMA) or the mixture model (F, requires all parameters)
PSF.INPUT.MAX           F32  NAN	# Set maximum limit on input FWHM (defaults to inf)
PSF.INPUT.CLIP.NSIGMA   F32  NAN	# Set n-sigma cut limit for input rejection
PSF.INPUT.THRESH        F32  NAN	# Set minimum limit below which we do not exclude an input (defaults to 0.0)
PSF.INPUT.ASYMMETRY     F32  NAN	# Set difference in mixture model populations to consider equal.
PSF.TARGET.AS.MAX       BOOL F          # Set the target PSF FWHM as the maximum of accepted input FWHM values.
PSF.TARGET.AS.MAX.EPSILON F32 0.1       # Amount to set the target PSF FWHM larger than the maximum input. Target = eps + max(input)


TEMP.IMAGE	STR	conv.im.fits	# Suffix for temporary convolved images
TEMP.MASK	STR	conv.mk.fits	# Suffix for temporary convolved masks
TEMP.VARIANCE	STR	conv.var.fits	# Suffix for temporary convolved variance maps
TEMP.DELETE	BOOL	TRUE		# Delete temporary files on completion?

OUTPUT.NOCOMP   BOOL    FALSE           # use filerules that make conconpressed outputs
OUTPUT.LOGFLUX  BOOL    FALSE           # choose a log-scaling for output images
OUTPUT.DEEPEXP  BOOL    FALSE           # allow exptime maps with dynamic range up to 2^16 (64k) seconds

OUTPUT.REPLICATE BOOL   TRUE

STACK.TYPE      STR     DEEP_STACK

DO.LINEAR.INPUT.SCALING      BOOL        FALSE
DEFAULT.EXPTIME  F32    NAN

# Recipe overrides for STACK
STACK	METADATA
END
#
PS1_REFERENCE	METADATA
END

# Recipe overrides for STACK
STACKPHOT METADATA
END

# Debugging
DEBUG	METADATA
	TEMP.DELETE	BOOL	FALSE		# Delete temporary files on completion?
END

# Faster processing for PR images
PR	METADATA
	IMAGE.REJ	    F32	  0.5
	WEIGHTS		    BOOL  FALSE
	CONVOLVE	    BOOL  FALSE
	SKIP.BG.SUB	    BOOL  FALSE
        MATCH.ZERO.POINTS   BOOL  FALSE
        PHOTOMETRY          BOOL  FALSE           # Do basic photometry?
END

QUICKSTACK    METADATA
        CONVOLVE        BOOL   FALSE
	COMBINE.REJ     F32    3.0
        COMBINE.DISCARD F32    0.3
        MASK.VAL	STR    MASK.VALUE,CONV.BAD,GHOST,BURNTOOL # Mask value of input bad pixels
END

# Stack mode for testing stacking procedure
TESTSTACK   METADATA
    VARIANCE        BOOL FALSE
END

QUICKSTACK_DEEP    METADATA
END

STACK_DEEP    METADATA
END

STACK_NIGHTLY  METADATA
    STACK.TYPE      STR     NIGHTLY_STACK
END

STACK_THREEPI  METADATA
END
STACK_THREEPI_ALT  METADATA
END

STACK_CNP  METADATA
END

STACK_MD_REF    METADATA
END

STACK_MD_DEEP   METADATA
END

STACK_ALLDEEP   METADATA
END

STACK_MD_IQ_1DG    METADATA
END

STACK_MD_REF_1DG    METADATA
END

STACK_MD_DEEP_1DG   METADATA
END

STACK_ALLDEEP_1DG   METADATA
END

STACK_NIGHTLY_1DG  METADATA
    STACK.TYPE      STR     NIGHTLY_STACK
END

STACK_MDTHREEPI_DEEP_1DG   METADATA
END

STACK_MD_PV3_IQ_1DG    METADATA
END

STACK_MD_PV3_REF_1DG    METADATA
END

STACK_MD_PV3_DEEP_1DG   METADATA
END

STACK_MD_PV3_NIGHT_1DG  METADATA
    STACK.TYPE      STR     NIGHTLY_STACK
END

STACK_CNP_PV3_IQ_1DG    METADATA
END

STACK_CNP_PV3_REF_1DG    METADATA
END

STACK_CNP_PV3_DEEP_1DG   METADATA
END

STACK_UNIONS_DR3 METADATA
  COMBINE.PERCENT     BOOL TRUE  # Use a single percentile clipping?
  SKIP.MISSING.INPUTS BOOL TRUE  # If some input warp images are missing, make the stack anyway
  CONVOLVE	      BOOL FALSE # Convolve images when stacking?
  OUTPUT.NOCOMP       BOOL FALSE # use filerules that make compressed outputs
  OUTPUT.LOGFLUX      BOOL TRUE  # choose a log-scaling for output images
  OUTPUT.DEEPEXP      BOOL TRUE  # allow exptime maps with dynamic range up to 2^16 (64k) seconds
END

TEST1 METADATA
  CONVOLVE          BOOL  FALSE           # Convolve images when stacking?
  MATCH.ZERO.POINTS BOOL  TRUE            # Convolve images when stacking?
  
  COMBINE.ITER    F32     0.0             # Number of rejection iterations per input
  COMBINE.REJ     F32    10.0             # Rejection threshold in combination (sigma)
  COMBINE.SYS     F32     0.1             # Relative systematic error in combination
  COMBINE.DISCARD F32     0.0             # Discard fraction for Olympic weighted mean
  
  COMBINE.PERCENT         BOOL  TRUE      # Use a single percentile clipping?
  COMBINE.REJECT.FRACTION F32   0.0       # fraction of outliers to reject in percentile clipping
                                          # Note this is the total both above and below the median
  
  SKIP.MISSING.INPUTS BOOL FALSE          # If some input warp images are missing, make the stack anyway
  
  # we are in some danger of inconsistency in the definition of a 'bad' vs a 'suspect' pixel
  # these distinctions are also defined in psModules/src/config/pmConfigMask.c
  
  POOR.FRACTION   F32     0.25            # Maximum fraction of bad variance for poor pixels
  THRESHOLD.MASK  F32     0.5             # Threshold for mask deconvolution (0..1)
  DECONV.LIMIT    F32     3.0             # Deconvolution fraction for rejecting entire image
  IMAGE.REJ       F32     0.1             # Rejected pixel fraction threshold for rejecting entire image
  MATCH.REJ       F32     3.0             # Rejection threshold for chi^2 values from matching
  ROWS            S32     64              # Number of rows to read at once
  VARIANCE        BOOL    TRUE            # Use variance in rejection?
  SAFE            BOOL    TRUE            # Play safe when combining small number of values?
  WEIGHTS         BOOL    TRUE            # Use 1/noise^2 weighting?
  BIN1            S32     4               # Binning factor for first level
  BIN2            S32     4               # Binning factor for second level
  PHOTOMETRY      BOOL    TRUE            # Do basic photometry?
  SKIP.BG.SUB     BOOL    TRUE            # Bypass background subtraction?
  TARGET.FRAC     F32     0.1             # Minimum flux fraction for target PSF
  TARGET.MINMAG   F32     3.0             # Minimum magnitude difference to tolerate in stamp
  NMINPIX         S32     1               # Minimum input per pixel 
  BSCALEOFFSET    BOOL    FALSE           # HACK for removing offset from input warps because of compression (0.5*BSCALE)
  
  BACKGROUND.MODEL    BOOL   FALSE        # Construct a stacked version of the warp stage background
  
  RENORM          BOOL    TRUE            # Renormalise weight maps?
  RENORM.NUM      S32     100000          # Number of samples for renormalisation
  RENORM.MIN      F32     NAN             # Minimum value for renormlisation
  RENORM.MAX      F32     NAN             # Maximum value for renormalisation
END

TEST2 METADATA
  PSF.AUTOSIZE	  BOOL	FALSE		# Determine output PSF size from input PSFs?
  PSF.OUTPUT.FWHM F32	7.0		# Target size for output PSF (if not auto-sized)
  PSF.MODEL	  STR	PS_MODEL_PS1_V1	# Model for PSF generation
END

TEST3 METADATA
  PSF.AUTOSIZE	  BOOL	FALSE		# Determine output PSF size from input PSFs?
  PSF.OUTPUT.FWHM F32	8.0		# Target size for output PSF (if not auto-sized)
  PSF.MODEL	  STR	PS_MODEL_PS1_V1	# Model for PSF generation
END
