### Default ppStats recipe

## XXX Additional notes:
## 1) diff_skycell.pl and stack_skycell.pl currently both use the WARPSTATS recipe below
## 2) ppSub (at least) supplements the stats file explicitly with several items that are not
## written to headers (see ppSubReadoutStats.c)

# Options governing statistics
SAMPLE          F32     0.1     # Fraction of cell to sample
DO.FIRST.READOUT.3D BOOL FALSE  # for 3D images, measure stats of first readout

# Mask value to use for statistics.  this is only used for stand-alone
# operations.  ppStats library calls pass a mask value as needed
MASKVAL         STR     SAT,LOW 

# Define the outputs as MULTI
HEADER          MULTI
CONCEPT         MULTI
STAT            MULTI
SUMMARY         MULTI

# Add dummy values, to define the MULTI --- due to limitations in the MDC language
HEADER		STR	_UNDEF
CONCEPT		STR	_UNDEF
STAT		STR	_UNDEF
SUMMARY		STR	_UNDEF
ANALYSIS        STR     _UNDEF

# basic stats for output images
CHIPSTATS	METADATA
  STAT          MULTI
  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV   # Background statistics estimators

  HEADER        MULTI
  HEADER        STR     OVER_VAL
  HEADER        STR     BACK_VAL
  HEADER        STR     BACK_ERR
  HEADER        STR     APMIFIT
  HEADER        STR     DAPMIFIT

  HEADER        STR     FWHM_MAJ # major axis FWHM (in pixels)
  HEADER        STR     FW_MJ_LQ # major axis FWHM (in pixels)
  HEADER        STR     FW_MJ_UQ # major axis FWHM (in pixels)

  HEADER        STR     FWHM_MIN # minor axis FWHM (in pixels)
  HEADER        STR     FW_MN_LQ # major axis FWHM (in pixels)
  HEADER        STR     FW_MN_UQ # major axis FWHM (in pixels)

  HEADER        STR     DT_DET   # elapsed time in detrend processing
  HEADER        STR     DT_PHOT  # elapsed time in photometry processing

  HEADER        STR     NSTARS
  HEADER        STR     NPSFSTAR
  HEADER        STR     IQ_NSTAR
  HEADER        STR     NDET_EXT
  HEADER        STR     NDET_CR

  HEADER        STR     IQ_FW1
  HEADER        STR     IQ_FW1_E
  HEADER        STR     IQ_FW2
  HEADER        STR     IQ_FW2_E

  HEADER        STR     IQ_M2
  HEADER        STR     IQ_M2_ER
  HEADER        STR     IQ_M2_LQ
  HEADER        STR     IQ_M2_UQ

  HEADER        STR     IQ_M2C
  HEADER        STR     IQ_M2C_E
  HEADER        STR     IQ_M2C_L
  HEADER        STR     IQ_M2C_U

  HEADER        STR     IQ_M2S
  HEADER        STR     IQ_M2S_E
  HEADER        STR     IQ_M2S_L
  HEADER        STR     IQ_M2S_U

  HEADER        STR     IQ_M3
  HEADER        STR     IQ_M3_ER
  HEADER        STR     IQ_M3_LQ
  HEADER        STR     IQ_M3_UQ

  HEADER        STR     IQ_M4
  HEADER        STR     IQ_M4_ER
  HEADER        STR     IQ_M4_LQ
  HEADER        STR     IQ_M4_UQ
  HEADER        STR     DETEFF.MAGREF


  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	ASTRO_V
  HEADER	STR	STATS_V
  HEADER	STR	IMAGE_V
  HEADER	STR	STREAK_V

  HEADER	STR	DETREND.MASK DETREND.BIAS DETREND.DARK DETREND.SHUTTER DETREND.FLAT DETREND.FRINGE

  ANALYSIS      MULTI   # metadata blocks to search in chip/cell/readout->analysis
  ANALYSIS      STR     PSPHOT.HEADER
  ANALYSIS      STR     PSASTRO.HEADER
  ANALYSIS	STR	DETREND

  SUMMARY 	STR	MASKFRAC_STATIC
  SUMMARY	STR	MASKFRAC_MAGIC
  SUMMARY	STR	MASKFRAC_ADVISORY
  SUMMARY	STR	MASKFRAC_DYNAMIC
  SUMMARY	STR	MASKFRAC_NPIX

END

# stats for camera-level analysis (astrometry, summary stats)
CAMSTATS	METADATA
  HEADER        MULTI
  HEADER        STR     CERROR
  HEADER        STR     DT_ASTR  # elapsed time in astrometry processing
  HEADER        STR     NASTRO
  HEADER        STR     ASTROM_CHIPS

  HEADER        STR     ZPT_OBS
  HEADER        STR     ZPT_ERR

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	ASTRO_V
  HEADER	STR	STATS_V
  HEADER	STR	IMAGE_V
  HEADER	STR	STREAK_V
  
  HEADER        STR     NDET            # sources->n
  HEADER        STR     NDET_EXT
  HEADER        STR     NDET_FRC

  ANALYSIS      MULTI   # metadata blocks to search in chip/cell/readout->analysis
  ANALYSIS      STR     PSPHOT.HEADER
  ANALYSIS      STR     PSASTRO.HEADER

  ANALYSIS 	STR	MASKFRAC_REF_STATIC
  ANALYSIS 	STR	MASKFRAC_REF_MAGIC
  ANALYSIS	STR	MASKFRAC_REF_ADVISORY
  ANALYSIS	STR	MASKFRAC_REF_DYNAMIC
  ANALYSIS	STR	MASKFRAC_REF_NPIX

  ANALYSIS 	STR	MASKFRAC_MAX_STATIC
  ANALYSIS 	STR	MASKFRAC_MAX_MAGIC
  ANALYSIS	STR	MASKFRAC_MAX_ADVISORY
  ANALYSIS	STR	MASKFRAC_MAX_DYNAMIC
  ANALYSIS	STR	MASKFRAC_MAX_NPIX
END

# stats for camera-level analysis (astrometry, summary stats)
FPCAMERA	METADATA
  HEADER        MULTI
  HEADER        STR     ZPT_OBS
  HEADER        STR     ZPT_ERR

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	FPCAM_V
  HEADER	STR	STATS_V
  HEADER	STR	IMAGE_V
  HEADER	STR	STREAK_V
  
  HEADER        STR     NDET            # sources->n
  HEADER        STR     NDET_EXT
  HEADER        STR     NDET_FRC

  ANALYSIS      MULTI   # metadata blocks to search in chip/cell/readout->analysis
  ANALYSIS      STR     PSPHOT.HEADER
END

# basic stats for output images
DETSTATS	METADATA
  STAT          MULTI
  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV   # Background statistics estimators
  SUMMARY       STR     GOOD_PIXEL_NUM  # Number of good pixels
  SUMMARY       STR     GOOD_PIXEL_FRAC # Fraction of good pixels
END

# basic stats for output images
DARKSTATS	METADATA
  DO.FIRST.READOUT.3D BOOL TRUE  # for 3D images, measure stats of first readout

  STAT          MULTI
  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV   # Background statistics estimators
END

# basic stats for residual images
RESIDUAL	METADATA
  STAT          MULTI
  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV   # Background statistics estimators
  STAT          STR     SAMPLE_SKEWNESS
  STAT          STR     SAMPLE_KURTOSIS
  HEADER        MULTI
  HEADER        STR     FRNG_00        # fringe amplitude, if measured
  HEADER        STR     FRNG_00D       # fringe error, if measured
  HEADER        STR     FRNG_01        # fringe amplitude, if measured
  HEADER        STR     FRNG_01D       # fringe error, if measured
  HEADER        STR     FRNG_02        # fringe amplitude, if measured
  HEADER        STR     FRNG_02D       # fringe error, if measured
END

### ppStats recipe for injection
INJECT  METADATA
  CONCEPT       MULTI
END

### ppStats recipe for registration
REGISTER  	METADATA
  CONCEPT       MULTI
  STAT          MULTI
  SUMMARY       MULTI

  CONCEPT       STR     FPA.OBJECT      # Object name
  CONCEPT       STR     FPA.OBSTYPE     # Observation type
  CONCEPT       STR     FPA.FILTER      # Filter
  CONCEPT       STR     FPA.RA FPA.DEC  # Telescope pointing

  CONCEPT       STR     FPA.LONGITUDE
  CONCEPT       STR     FPA.LATITUDE
  CONCEPT       STR     FPA.ELEVATION

  CONCEPT       STR     FPA.COMMENT     # Obs Comment
  CONCEPT       STR     FPA.OBS.MODE    # Obs Mode
  CONCEPT       STR     FPA.OBS.GROUP   # Obs Group

  CONCEPT       STR     FPA.AIRMASS     # Airmass
  CONCEPT       STR     FPA.ALT FPA.AZ  # Telescopy alt/az
  CONCEPT       STR     FPA.POSANGLE    # Rotator angle
  CONCEPT       STR     FPA.TIME        # Time of exposure
  CONCEPT       STR     FPA.TELESCOPE   # Telescope (eg, CFHT)
  CONCEPT       STR     FPA.CAMERA      # Instrument (eg, CFH12K)
  CONCEPT       STR     CHIP.TEMP       # Detector temperature
  CONCEPT       STR     CELL.EXPOSURE   # Exposure time

  CONCEPT       STR     FPA.M1X         # Primary x position
  CONCEPT       STR	FPA.M1Y         # Primary y position
  CONCEPT       STR	FPA.M1Z         # Primary z position
  CONCEPT       STR	FPA.M1TIP       # Primary tip
  CONCEPT       STR	FPA.M1TILT      # Primary tilt
  CONCEPT       STR	FPA.M2X         # Secondary x position
  CONCEPT       STR	FPA.M2Y         # Secondary y position
  CONCEPT       STR	FPA.M2Z         # Secondary z position
  CONCEPT       STR	FPA.M2TIP       # Secondary tip position
  CONCEPT       STR	FPA.M2TILT      # Secondary tilt position
  CONCEPT       STR	FPA.ENV.TEMP    # external temperature
  CONCEPT       STR	FPA.ENV.HUMID   # external humidity
  CONCEPT       STR	FPA.ENV.WIND    # external wind speed
  CONCEPT       STR	FPA.ENV.DIR     # external wind direction

  CONCEPT       STR     FPA.TELTEMP.M1     # Primary mirror temps (C) 
  CONCEPT       STR     FPA.TELTEMP.M1CELL # Primary mirror support temps (C)   
  CONCEPT       STR     FPA.TELTEMP.M2     # Secondary mirror temps (C
  CONCEPT       STR     FPA.TELTEMP.SPIDER # Spider temperatures (C)  
  CONCEPT       STR     FPA.TELTEMP.TRUSS  # Mid truss temperatures (C
  CONCEPT       STR     FPA.TELTEMP.EXTRA  # Miscellaneous temperatures (C)     

  CONCEPT       STR     FPA.BURNTOOL.APPLIED 


  CONCEPT       STR	FPA.PON.TIME    # time since last power on

  CONCEPT       STR     CHIP.VIDEOCELL  

  STAT          STR     ROBUST_MEDIAN   # Background estimator
  STAT          STR     ROBUST_STDEV    # Background standard deviation estimator
  SUMMARY	STR	SAT_PIXEL_NUM
  SUMMARY	STR	SAT_PIXEL_FRAC
END


### ppStats recipe for registration
TIMETEST  	METADATA
  CONCEPT       MULTI

  CONCEPT       STR     FPA.OBJECT      # Object name
  CONCEPT       STR     FPA.OBSTYPE     # Observation type
  CONCEPT       STR     FPA.FILTER      # Filter
  CONCEPT       STR     FPA.RA FPA.DEC  # Telescope pointing

  CONCEPT       STR     FPA.LONGITUDE
  CONCEPT       STR     FPA.LATITUDE
  CONCEPT       STR     FPA.ELEVATION

  CONCEPT       STR     FPA.COMMENT     # Obs Comment

  CONCEPT       STR     FPA.AIRMASS     # Airmass
  CONCEPT       STR     FPA.ALT FPA.AZ  # Telescopy alt/az
  CONCEPT       STR     FPA.POSANGLE    # Rotator angle
  CONCEPT       STR     FPA.TIME        # Time of exposure
  CONCEPT       STR     FPA.TELESCOPE   # Telescope (eg, CFHT)
  CONCEPT       STR     FPA.CAMERA      # Instrument (eg, CFH12K)
  CONCEPT       STR     CHIP.TEMP       # Detector temperature
  CONCEPT       STR     FPA.TEMP        # Camera temperature
END


# basic stats for warped images
WARPSTATS	METADATA
  HEADER        MULTI
  CONCEPT       MULTI
  STAT          MULTI
  SUMMARY       MULTI

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	STATS_V
  HEADER	STR	WARP_V
  HEADER	STR	STREAK_V

  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV    # Background statistics estimators
  SUMMARY       STR     GOOD_PIXEL_NUM  # Number of good pixels
  SUMMARY       STR     GOOD_PIXEL_FRAC # Fraction of good pixels

  ANALYSIS	MULTI
  ANALYSIS 	STR	MASKFRAC_STATIC
  ANALYSIS 	STR	MASKFRAC_MAGIC
  ANALYSIS	STR	MASKFRAC_ADVISORY
  ANALYSIS	STR	MASKFRAC_DYNAMIC
  ANALYSIS	STR	MASKFRAC_NPIX
END

# Based on WARPSTATS
# basic stats for stacked images
STACKSTATS	METADATA
  HEADER        MULTI
  CONCEPT       MULTI
  STAT          MULTI
  SUMMARY       MULTI

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	STATS_V
  HEADER	STR	STACK_V

  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV    # Background statistics estimators
  SUMMARY       STR     GOOD_PIXEL_NUM  # Number of good pixels
  SUMMARY       STR     GOOD_PIXEL_FRAC # Fraction of good pixels

  ANALYSIS	MULTI
  ANALYSIS 	STR	MASKFRAC_STATIC
  ANALYSIS 	STR	MASKFRAC_MAGIC
  ANALYSIS	STR	MASKFRAC_ADVISORY
  ANALYSIS	STR	MASKFRAC_DYNAMIC
  ANALYSIS	STR	MASKFRAC_NPIX
END

# basic stats for diffed images
DIFFSTATS	METADATA
  HEADER        MULTI
  CONCEPT       MULTI
  STAT          MULTI
  SUMMARY       MULTI

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	STATS_V
  HEADER	STR	PPSUB_V
  HEADER	STR	STREAK_V

  STAT		STR	ROBUST_MEDIAN
  STAT          STR     ROBUST_STDEV    # Background statistics estimators
  SUMMARY       STR     GOOD_PIXEL_NUM  # Number of good pixels
  SUMMARY       STR     GOOD_PIXEL_FRAC # Fraction of good pixels

  ANALYSIS	MULTI
  ANALYSIS 	STR	MASKFRAC_STATIC
  ANALYSIS 	STR	MASKFRAC_MAGIC
  ANALYSIS	STR	MASKFRAC_ADVISORY
  ANALYSIS	STR	MASKFRAC_DYNAMIC
  ANALYSIS	STR	MASKFRAC_NPIX
END

# stats for sky calibration (astrometry, summary stats)
SKYCALSTATS 	METADATA
  HEADER        MULTI
  HEADER        STR     CERROR
  HEADER        STR     DT_ASTR  # elapsed time in astrometry processing
  HEADER        STR     NASTRO

  HEADER        STR     ZPT_OBS
  HEADER        STR     ZPT_ERR
  HEADER        STR     FWHM_MAJ
  HEADER        STR     FWHM_MIN

  HEADER	STR	PSLIB_V
  HEADER	STR	MODULE_V
  HEADER	STR	PHOT_V
  HEADER	STR	ASTRO_V
  HEADER	STR	STATS_V
  HEADER	STR	IMAGE_V
  HEADER	STR	STREAK_V
  
  HEADER        STR     NDET            # sources->n
  HEADER        STR     NDET_EXT
  HEADER        STR     NDET_FRC

  ANALYSIS      MULTI   # metadata blocks to search in chip/cell/readout->analysis
  ANALYSIS      STR     PSPHOT.HEADER
  ANALYSIS      STR     PSASTRO.HEADER

  ANALYSIS 	STR	MASKFRAC_REF_STATIC
  ANALYSIS 	STR	MASKFRAC_REF_MAGIC
  ANALYSIS	STR	MASKFRAC_REF_ADVISORY
  ANALYSIS	STR	MASKFRAC_REF_DYNAMIC
  ANALYSIS	STR	MASKFRAC_REF_NPIX

  ANALYSIS 	STR	MASKFRAC_MAX_STATIC
  ANALYSIS 	STR	MASKFRAC_MAX_MAGIC
  ANALYSIS	STR	MASKFRAC_MAX_ADVISORY
  ANALYSIS	STR	MASKFRAC_MAX_DYNAMIC
  ANALYSIS	STR	MASKFRAC_MAX_NPIX
END
