
PSASTRO.SAVE.REFSTARS      BOOL FALSE  # save refstars in a separate FITS table (XXX THIS IS BROKEN)
PSASTRO.ONLY.REFSTARS      BOOL FALSE  # skip all but refstar matches
PSASTRO.SAVE.REFMATCH      BOOL FALSE  # save refstar matches as table in output smf file
PSASTRO.SAVE.CFF           BOOL FALSE  # save a cff file (input for psphotFullForce)

PSASTRO.SKIP.ASTROMETRY    BOOL FALSE

# select which WCS style to use on output images.
PSASTRO.WCS.USECDKEYS	 BOOL FALSE

# perform single-chip astrometry?
PSASTRO.CHIP.MODE           BOOL     TRUE

# nominal plate scale (microns / pixel)
PSASTRO.PIXEL.SCALE    F32  13.5

# plotting options
PSASTRO.PLOT.INST.MAG.MAX F32 -10.0
PSASTRO.PLOT.INST.MAG.MIN F32 -17.0
PSASTRO.PLOT.REF.MAG.MIN  F32 +10.0
PSASTRO.PLOT.REF.MAG.MAX  F32 +20.0

# extra field for ref stars:
PSASTRO.FIELD.PADDING  F32 0.25

PSASTRO.REFSTAR.CLUMP.SCALE S32 150
PSASTRO.REFSTAR.CLUMP.NITER S32 3

# extra field for ref stars:
PSASTRO.PHOTOM.WINDOW.SIGMA  F32 0.0

# pmAstromGridMatch:
PSASTRO.GRID.SEARCH    BOOL TRUE

PSASTRO.GRID.MIN.ANGLE F32 -2.0 # start angle (degrees)
PSASTRO.GRID.MAX.ANGLE F32 +2.0
PSASTRO.GRID.DEL.ANGLE F32  0.5

PSASTRO.GRID.MIN.SCALE F32  0.98
PSASTRO.GRID.MAX.SCALE F32  1.04
PSASTRO.GRID.DEL.SCALE F32  0.02

PSASTRO.GRID.MIN.SIGMA F32  5.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32  10000.
PSASTRO.GRID.SCALE     F32    500.
PSASTRO.GRID.NSTAR.MAX S32    300 # deprecated
PSASTRO.GRID.NREF.MAX  S32    500 # max stars accepted for fitting
PSASTRO.GRID.NRAW.MAX  S32   1000 # max stars accepted for fitting

# sources with these mask flags raised should be ignored
PSASTRO.IGNORE         STR    CRLIMIT,SATURATED,DEFECT,SATSTAR,BLEND,FAIL
PSASTRO.ROUGH.MODEL    STR    none

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32     75
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# single-chip radius match in pixels
PSASTRO.MATCH.RADIUS   F32    8
PSASTRO.MATCH.RADIUS.N0 F32   0
PSASTRO.MATCH.RADIUS.N1 F32   0
PSASTRO.MATCH.RADIUS.N2 F32   0
PSASTRO.MATCH.RADIUS.N3 F32   0
PSASTRO.MATCH.RADIUS.N4 F32   0
PSASTRO.MATCH.RADIUS.N5 F32   0
PSASTRO.MATCH.RADIUS.N6 F32   0
PSASTRO.MATCH.RADIUS.N7 F32   0
PSASTRO.MATCH.FIT.NITER S32   1

# single-chip radius match in pixels
PSASTRO.ONE.CHIP.ORDER.N0 F32    1
PSASTRO.ONE.CHIP.ORDER.N1 F32    1 
PSASTRO.ONE.CHIP.ORDER.N2 F32    1
PSASTRO.ONE.CHIP.ORDER.N3 F32    1
PSASTRO.ONE.CHIP.ORDER.N4 F32    1
PSASTRO.ONE.CHIP.ORDER.N5 F32    1
PSASTRO.ONE.CHIP.ORDER.N6 F32    1
PSASTRO.ONE.CHIP.ORDER.N7 F32    1

# for iterations >= N, require a single match per reference
PSASTRO.MATCH.UNIQ.ITER S32     4 

# pmAstromMatchFit
PSASTRO.CHIP.ORDER     S32      1  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas

PSASTRO.MAX.ERROR      F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MAX.STDEV      F32      1.0 # max allowed stdev for valid solution (arcsec)
PSASTRO.MIN.NSTAR      S32      3   # min fitted stars in solution
PSASTRO.MAX.NSTAR      S32      300   # max fitted stars in solution

PSASTRO.MAX.NRAW       S32      0   # max stars accepted for fitting (0 for all)
PSASTRO.MAX.NREF       S32      0   # max stars accepted for fitting (0 for all)

PSASTRO.MIN.INST.MAG.RAW       F32      0.0   # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW       F32      0.0   # max instrumental magnitude for stars accepted for fitting
PSASTRO.GRID.MIN.INST.MAG.RAW       F32      0.0   # min instrumental magnitude for stars accepted for grid search
PSASTRO.GRID.MAX.INST.MAG.RAW       F32      0.0   # max instrumental magnitude for stars accepted for grid search

PSASTRO.MATCH.LUMFUNC  BOOL     FALSE

# option may be MAX, MIN, or VALUE. for VALUE, look up 
# plate scale for each chip in the concepts
PSASTRO.COMMON.SCALE.OPTION	STR	MAX

# mosaic-mode radius match in pixels?
PSASTRO.MOSAIC.RADIUS.N0   F32    8
PSASTRO.MOSAIC.RADIUS.N1   F32    6
PSASTRO.MOSAIC.RADIUS.N2   F32    4
PSASTRO.MOSAIC.RADIUS.N3   F32    0.0
PSASTRO.MOSAIC.RADIUS.N4   F32    0.0
PSASTRO.MOSAIC.RADIUS.N5   F32    0.0

# Mosaic Astrometry options
PSASTRO.MOSAIC.MODE           BOOL     FALSE
PSASTRO.MOSAIC.ORDER          S32      3  # fit order

PSASTRO.MOSAIC.CHIP.ORDER     S32       1 # fit order
PSASTRO.MOSAIC.CHIP.ORDER.N0  S32      -1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N1  S32      -1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N2  S32      -1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N3  S32      -1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N4  S32      -1 # fit order (-1 means use default)
PSASTRO.MOSAIC.CHIP.ORDER.N5  S32      -1 # fit order (-1 means use default)

# for iterations >= N, require a single match per reference
PSASTRO.MOSAIC.UNIQ.ITER S32     2

PSASTRO.MOSAIC.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.MOSAIC.CHIP.NSIGMA    F32      3  # fit clipping sigmas

PSASTRO.MOSAIC.MAX.ERROR.N0   F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N1   F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N2   F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N3   F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N4   F32      1.5 # max allowed error for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.ERROR.N5   F32      1.5 # max allowed error for valid solution (arcsec)

PSASTRO.MOSAIC.MAX.STDEV.N0   F32      1.5 # max allowed stdev for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.STDEV.N1   F32      1.5 # max allowed stdev for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.STDEV.N2   F32      1.5 # max allowed stdev for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.STDEV.N3   F32      1.5 # max allowed stdev for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.STDEV.N4   F32      1.5 # max allowed stdev for valid solution (arcsec)
PSASTRO.MOSAIC.MAX.STDEV.N5   F32      1.5 # max allowed stdev for valid solution (arcsec)

# need at least this fraction of chips to pass for exposure to be considered acceptable
PSASTRO.MOSAIC.MIN.GOOD.CHIP.FRACTION  F32 0.10 

PSASTRO.MOSAIC.MIN.NSTAR      S32      6   # min fitted stars in solution

PSASTRO.MOSAIC.GRADIENT.NX    S32      2   # number of x-dir cells per chip
PSASTRO.MOSAIC.GRADIENT.NY    S32      2   # number of y-dir cells per chip

REFSTAR_MASK                    BOOL FALSE
REFSTAR_MASK_REGIONS            BOOL FALSE
REFSTAR_MASK_MAX_MAG            F32 -15.0
REFSTAR_MASK_SATSTAR_MAG_SLOPE  F32  10.0
REFSTAR_MASK_SATSTAR_POS_ZERO   F32   0.0
# spikeLength = 10**(SLOPE*(MAG_MAX - InstMag)) - OFFSET
REFSTAR_MASK_SATSPIKE_MAG_SLOPE F32 -0.116
REFSTAR_MASK_SATSPIKE_MAG_MAX   F32 -0.91
REFSTAR_MASK_SATSPIKE_OFFSET    F32   0.0
REFSTAR_MASK_SATSPIKE_WIDTH     F32  10.0
REFSTAR_MASK_SATSPIKE_L0        F32  200.0
REFSTAR_MASK_SATSPIKE_WIDTH_SLOPE F32 0.00

REFSTAR_MASK_SATSTAR_MAG_MAX    F32 -11.363
REFSTAR_MASK_SATSTAR_RAD_OFFSET F32  17.631
REFSTAR_MASK_SATSTAR_EXP        F32   1.493

PSASTRO.SAVE.GHOSTS             BOOL FALSE
REFSTAR_MASK_GHOST              BOOL FALSE
REFSTAR_COUNT_GHOSTS            BOOL FALSE
GHOST_MODEL                     STR  NONE
# GHOST_MAX_MAG                   F32 -19.5

REFSTAR_MASK_BLEED              BOOL FALSE

REFSTAR_MASK_BLEED_MAG_MAX      F32 -15.0
REFSTAR_MASK_BLEED_MAG_SLOPE    F32   5.0

# Additional parameters to allow for saturation bleeds to be masked in either direction.
REFSTAR_MASK_BLEED_ORIENTATION_X BOOL FALSE
REFSTAR_MASK_BLEED_MAG_MAX_X    F32 -15.0
REFSTAR_MASK_BLEED_MAG_SLOPE_X  F32   5.0

REFSTAR_MASK_BLEED_ORIENTATION_Y BOOL FALSE
REFSTAR_MASK_BLEED_MAG_MAX_Y    F32 -15.0
REFSTAR_MASK_BLEED_MAG_SLOPE_Y  F32   5.0

REFSTAR_MASK_GLINTS		BOOL  FALSE
GLINT_MAX_MAG                   F32 -19.0
GLINT_LENGTH_MAG_SLOPE          F32 0.0
GLINT_LENGTH_MAG_ZERO           F32 0.0
GLINT_LENGTH_POS_SLOPE          F32 0.0
GLINT_LENGTH_POS_REF            F32 0.0
GLINT_LENGTH_POS_CUT            F32 0.0
GLINT_LENGTH_MIN_FPA            F32 0.0
GLINT_ANGLE_POS_SLOPE           F32 0.0
GLINT_ANGLE_POS_REF             F32 0.0
# save glint positions?
PSASTRO.SAVE.GLINTS             BOOL FALSE

GLINT_WIDTH                     F32 0.0
GLINT.REGION			MULTI
GLINT.REGION			METADATA
END

REFSTAR_MASK_CROSSTALK_MAG_SLOPE F32 3.44
REFSTAR_MASK_CROSSTALK_MAG_MAX   F32 -14.47
CROSSTALK_MAX_MAG    F32  20.0
CROSSTALK_MASK       BOOL FALSE

# crosstal rules file is relative to PATH (eg, ippconfig directory)
CROSSTALK_FILE                     STR  crosstalk_rules.mdc

# report and reject stars with reported magnitudes less than this value. These non physical
# magnitudes are errors in the reference catalog (this value is sky magnitude, not instrumental)
# -- and now also for greater than a sky magnitude (should be 24-25?)
REFSTAR_CLAMP_MAG_MIN           F32 -3.0
REFSTAR_CLAMP_MAG_MAX           F32 30.0

# restrict ref catalog for zero point determination 
# -- can be put into photcode groups as well
REFSTAR.ZP.MAX.MAG  F32  30.0
REFSTAR.ZP.MIN.MAG  F32  -3.0

EXTRACT_MAX_MAG                 F32 -15.0

MASK.STATS          BOOL TRUE
MASKSTAT.STATIC     U32 0x01f
MASKSTAT.DYNAMIC    U32 0x060
MASKSTAT.MAGIC      U32 0x800
MASKSTAT.ADVISORY   U32 0x080

TRANSFORM.GALAXY.SHAPE.ERRORS  BOOL F

# maximum allowed fwhm_major (moved from */camera.config)
PSASTRO.MAX.ALLOWED.FWHM    F32     0
PSASTRO.MAX.PROCESS.FWHM    F32     30

#PSASTRO.CATDIR                STR      PS1.REF.20140713
PSASTRO.CATDIR                STR      2MASS
DVO.GETSTAR                   STR      getstar
DVO.GETSTAR.OUTFORMAT         STR      PS1_DEV_0
DVO.GETSTAR.PHOTCODE          STR      2MASS_J
DVO.GETSTAR.MAX.RHO           F32      10000.0
DVO.GETSTAR.MIN.MAG           F32      12.0
DVO.GETSTAR.MIN.MAG.INST      F32     -15.0

# if non-zero use as the zero point for computing magnitude limits for getstar
# by default use the ZEROPT in the PHOTCODE.DATA
DVO.GETSTAR.FIXED.ZEROPT      F32       0.0     

TRANSFORM.GALAXY.SHAPE.ERRORS   BOOL     FALSE

ZERO.POINT.BY.EXPOSURE	      	BOOL     TRUE
ZERO.POINT.USE.MEAN	      	BOOL     TRUE
ZERO.POINT.EDGE.FRACTION      	F32      0.9
ZERO.POINT.EDGE.SAMPLE        	S32      10
ZERO.POINT.EDGE.SAMPLE.FRACTION F32      0.1

ZPTEST METADATA
  ZERO.POINT.BY.EXPOSURE      BOOL     TRUE
  ZERO.POINT.USE.MEAN	      BOOL     FALSE
END

PSASTRO.2MASS                 METADATA
  PSASTRO.CATDIR              STR      2MASS
  DVO.GETSTAR.PHOTCODE        STR      2MASS_J
  DVO.GETSTAR.MIN.MAG         F32      10.0
END

PSASTRO.SYNTH                 METADATA
  PSASTRO.CATDIR              STR      SYNTH.GRIZY
  DVO.GETSTAR.PHOTCODE        STR      r
END

LOAD.REF.ASTROM               BOOL     FALSE
SAVE.REF.ASTROM               BOOL     FALSE

PSASTRO.MODEL.REF.CHIP        STR      NONE
PSASTRO.MODEL.REF.CHIP.ANGLE  F32      0.0
PSASTRO.MODEL.ROT.PARITY      S32      +1
PSASTRO.MODEL.FIT.BORESITE    BOOL     FALSE
PSASTRO.MODEL.SET.BORESITE    BOOL     FALSE
PSASTRO.MODEL.BORESITE.X      F32      0.0
PSASTRO.MODEL.BORESITE.Y      F32      0.0

PSASTRO.FIX.CHIPS             BOOL     FALSE
PSASTRO.USE.MODEL             BOOL     FALSE

# apply Koppenhoefer Correction to this camera?
KH.CORRECT.APPLY	      BOOL     FALSE
KH.CORRECT.ENDDATE	      STR      NONE

PSASTRO.PIXEL.TOLERANCE       F32      3.0
PSASTRO.ANGLE.TOLERANCE       F32      1.0

PSASTRO.FINE METADATA
END

PSASTRO_COARSE METADATA
END

PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
END

PSASTRO.EXTRACT METADATA
END

DEFAULT_RECIPE METADATA
END

PR_RECIPE METADATA
END

PS1_REFERENCE METADATA
END

MOPS.TEST	METADATA
END

SAS_REFERENCE METADATA
END

STS_DATASET METADATA
END

LAP_ASTRO METADATA 
END

CNP_DATASET METADATA
END

MD_ASTRO METADATA
END

SNIA_ASTRO METADATA
END

QUB_ASTRO METADATA
END

YSE_ASTRO METADATA
END

ENGI_ASTRO METADATA
END

CNP_ASTRO_PV3 METADATA
END

MD_ASTRO_PV3 METADATA
END

SYNTH_CAT METADATA
END

POLE_REFCAT METADATA
END

TEST_REFCAT METADATA
END

STATICSKY_CAL   METADATA
    PSASTRO.SAVE.CFF           BOOL TRUE  # save a cff file (input for psphotFullForce)
END

STATICSKY_POLE   METADATA
    PSASTRO.SAVE.CFF           BOOL TRUE  # save a cff file (input for psphotFullForce)
END

STATICSKY_TESTCAL   METADATA
END

STATICSKY_NIGHTCAL   METADATA
END

STATICSKY_DEEPCAL   METADATA
END

STATICSKY_MD_DEEPCAL   METADATA
END

STATICSKY_MD_PV3_DEEPCAL   METADATA
END

GLINT_TEST METADATA
END

M31_SHALLOW METADATA 
END

M31_DEEP METADATA 
END

SWEETSPOT_TEST METADATA
END

APTEST_V1 METADATA
  PSASTRO.SKIP.ASTROMETRY BOOL TRUE
END

