# pstamp.config
# List of data groups to use for bycoord and byskycell requests that
# do not specify a data_group.
# Notable for their absence are the data_groups for MD nightly science,
# M31, and STS. Due to the nature of those surveys too much data is
# returned.

DATA_GROUP  MULTI

DATA_GROUP  STR	 LAP.ThreePi.20%
DATA_GROUP  STR	 ThreePi.20%            # ThreePi nightly science

# this is SAS_v8
DATA_GROUP  STR	 czw.SAS2.20120718

DATA_GROUP  STR	 MD01.refstack.20120803

DATA_GROUP  STR	 MD02.refstack.20110907
DATA_GROUP  STR	 MD02.GR0%

DATA_GROUP  STR	 MD03.refstack.20111010
DATA_GROUP  STR	 MD03.GR0%

DATA_GROUP  STR	 MD04.refstack.20111012
DATA_GROUP  STR	 MD04.GR0%

DATA_GROUP  STR	 MD05.refstack.20111014
DATA_GROUP  STR	 MD05.GR0%

DATA_GROUP  STR	 MD06.refstack.20111122
DATA_GROUP  STR	 condor_MD06.V3_01_dg

DATA_GROUP  STR	 MD07.refstack.20111106
DATA_GROUP  STR	 condor_MD07.V3_01_dg

DATA_GROUP  STR	 MD08.refstack.20120422
DATA_GROUP  STR	 MD08.GR0%

DATA_GROUP  STR	 MD09.refstack.20120603
DATA_GROUP  STR	 MD09.GR0%

DATA_GROUP  STR	 MD10.refstack.20120705

DATA_GROUP  STR  %SS.20%                # Sweet Spot nightly science

