# Standard chip processing
CHIP_1               METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  REMNANCE         BOOL    FALSE           # Remnance masking
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    TRUE            # Mask bad pixels
  MASK.BUILD       BOOL    TRUE            # Build internal mask?
  MASK.BURNTOOL    BOOL    TRUE            # Mask potential burntool trails
  PATTERN.ROW      BOOL    TRUE            # Row pattern correction
  PATTERN.CELL     BOOL    TRUE            # Cell pattern correction
  FRINGE           BOOL    TRUE            # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BACKGROUND       BOOL    TRUE            # Subtract background?
  CROSSTALK.MEASURE  BOOL  TRUE            # Subtract model background?
END

# Photometry and astrometry only (for pre-reduced data)
PSVIDEOPHOT_1         METADATA
   # right now we don't have any options
    PHOTOM           BOOL    TRUE            # Source identification and photometry
END
