### Recipe for pswarp

GRID.NX			S32	128		# Iso-astrom grid size in x (pixels)
GRID.NY			S32	128		# Iso-astrom grid size in y (pixels)
INTERPOLATION.MODE	STR	LANCZOS3	# Interpolation mode to use
POOR.FRAC		F32	0.01		# Max fraction of bad flux for a "poor" warped pixel
ASTROM.SOURCE		STR	PSASTRO.OUTPUT	# Source file rule for astrometry, or NULL
ASTROM.ACCEPT		BOOL	FALSE		# Accept astrometric solution unconditionally?
ASTROM.DEPTH		STR	MEF             # Source file rule for astrometry, or NULL
ACCEPT.FRAC		F32	0.1		# Minimum fraction of good pixels to accept result
INTERPOLATION.NUM	S32	1000		# Number of interpolation kernels to pre-calculate
PSF			BOOL	TRUE		# Measure PSF for warped image?
SOURCES			BOOL	TRUE		# Write source list for warped image?
APPLY.PIXELNAN		BOOL	FALSE		# Apply NAN'ing of pixels underneath masks
DETECT.CTE              BOOL    FALSE           # perform object detections in the CTE regions

# as of r41891, dvoImageOverlaps compares the header keyword CERSTD to MAX.CERROR
MAX.CERROR		F32	0.15	        # Maximum allowed CERROR value (astrometric error in arcsec)

NO.COMPRESS             BOOL    FALSE           # turn off image compression (if enabled)

MASK.STATS         BOOL    TRUE            # calculate mask statistics.
MASKSTAT.STATIC     U32 0x01f
MASKSTAT.DYNAMIC    U32 0x060
MASKSTAT.MAGIC      U32 0x800
MASKSTAT.ADVISORY   U32 0x080

BACKGROUND.MODEL    BOOL   FALSE               # Construct a warped version of the chip stage background
BKG.XGRID              S32    4                # These need to be tuned
BKG.YGRID              S32    4

ADDITIONAL_WCS_ORDERS S32     3                # By default, use a bilevel astrometric model with 3 additional orders.

# Default recipe for warping
WARP	METADATA
END

WARP_NOCOMPRESS    METADATA
    NO.COMPRESS     BOOL    TRUE
END

#PR recipe for faster processing
PR METADATA
	PSF	BOOL	FALSE
END

# Background restoration
BACKGROUND	METADATA
	SOURCES		    BOOL	FALSE		# Write source list for warped image?
	PSF		    BOOL	FALSE		# Measure PSF for warped image?
        BACKGROUND.MODEL    BOOL        FALSE           # do not model background
END

WARP_GAUSS	METADATA
  INTERPOLATION.MODE	STR	GAUSS	# Interpolation mode to use
END

  
