ACTIVE     STR    LANL

LANL METADATA
     DMZ_HOST	STR	wtrw

     SEC_HOST MULTI
     SEC_HOST METADATA
       SEC_HOST1	STR	mu-fe1
       SEC_HOST2 	STR	mu-fe2
       SEC_HOST3	STR	mu-fe3
       SEC_HOST4	STR	mu-fe4
     END

     IPP_PATH        STR     /turquoise/usr/projects/cosmo/mswarren/ipp/
     REMOTE_ROOT     STR     /scratch3/watersc1/
     REMOTE_HOSTNAME STR     LANL/Mustang	

# This is used to decide if we bring back warp images, and if stack should ask for local copies.
     TRANSFER_WARP_IMAGES BOOL FALSE

     SCHEDULER       STR     MOAB

     PROC_PER_NODE   S32     24
     MIN_NODES	     S32     1
     MAX_NODES	     S32     1000
     MIN_TIME	     S32     1
     MAX_TIME	     S32     8
END

UHCRAY METADATA
     DMZ_HOST	STR	128.171.123.18

     SEC_HOST MULTI
     SEC_HOST METADATA
     END

     IPP_PATH	     STR     /home/watersc/src/
     REMOTE_ROOT     STR     /lus/scratch/watersc/
     REMOTE_HOSTNAME STR     UH/Cray

     TRANSFER_WARP_IMAGES BOOL FALSE

     SCHEDULER       STR     SLURM

     PROC_PER_NODE   S32     20
     MIN_NODES	     S32     1
     MAX_NODES	     S32     10
     MIN_TIME	     S32     1
     MAX_TIME	     S32     8
END     
