AM_CFLAGS = @[% pkg_name %]_CFLAGS@

include_HEADERS = [% pkg_name %].h
lib_LTLIBRARIES = lib[% pkg_name %].la
lib[% pkg_name %]_la_CFLAGS  = $(PSLIB_CFLAGS) $(AM_CFLAGS)
lib[% pkg_name %]_la_LIBS    = $(PSLIB_LIBS) $(AM_LIBS)
lib[% pkg_name %]_la_LDFLAGS = -release $(PACKAGE_VERSION)
lib[% pkg_name %]_la_SOURCES = \
    [% pkg_name %].h \
    [% pkg_name %].c
