
# binned output image options
BIN1.XBIN               S32      16
BIN1.YBIN               S32      16
BIN2.XBIN               S32     150
BIN2.YBIN               S32     150

OVERSCAN.SINGLE         BOOL    FALSE            # Reduce overscan to a single value?
OVERSCAN.STAT           STR     MEDIAN
OVERSCAN.BOXCAR         S32     3

# Normalization class
NORM.CLASS              STR     CHIP             # How to find the per-class normalizations

OLDDARK                 BOOL    FALSE

# use the deburned image instead of the raw, if it exists
USE.DEBURNED.IMAGE      BOOL    TRUE           # use burntool-repaired image?

# crosstalk measurements : only valid for GPC1 for now
CROSSTALK.MEASURE  BOOL    FALSE          # Subtract model background?
CROSSTALK.CORRECT  BOOL    FALSE           # Subtract model background?

## XXX use these local variations until we are building real detrend images

DETREND.CONSTRAINTS  METADATA
  BIAS METADATA
  END
  DARK METADATA
    EXPTIME STR FPA.EXPOSURE
  END
  FLAT METADATA
    FILTER  STR FPA.FILTERID
  END
  FLATCORR METADATA
    FILTER   STR FPA.FILTERID
  END
  FRINGE METADATA
    FILTER   STR FPA.FILTERID
  END
  SHUTTER METADATA
  END
  MASK METADATA
  END	
  ASTROM METADATA
  END	
END


# Standard chip processing
CHIP               METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  REMNANCE         BOOL    FALSE           # Remnance masking
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BACKGROUND       BOOL    TRUE            # Subtract background?
  CROSSTALK.MEASURE  BOOL  TRUE            # Subtract model background?
END

# Standard chip processing for areas with high stellar density
# Turn remnance masking off --- it kills all the detector
CHIP_DENSE_STARS	METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  REMNANCE         BOOL    FALSE           # Remnance masking
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BACKGROUND       BOOL    TRUE            # Subtract background?
END


# Overscan, bias
PPIMAGE_OB         METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
END

# Overscan, bias, dark
PPIMAGE_OBD        METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL  TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL  FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
END

# Overscan, bias, dark -- search for DARK_PREMASK
PPIMAGE_DARKMASK_PROCESS METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL  TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL  FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?

  DETREND.CONSTRAINTS  METADATA
    DARK METADATA
      DETTYPE STR DARK_PREMASK
      EXPTIME STR FPA.EXPOSURE
    END
  END   
END

# Overscan, bias, dark, shutter
PPIMAGE_OBDS       METADATA
  BASE.FITS          BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS     BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS          BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    TRUE            # Overscan subtraction
  BIAS               BOOL    FALSE           # Bias subtraction
  DARK               BOOL    TRUE            # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    FALSE           # Flat-field normalisation
  MASK               BOOL    FALSE           # Mask bad pixels
  FRINGE             BOOL    FALSE           # Fringe subtraction
  PHOTOM             BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?
END

# Overscan, bias, dark, shutter
PPIMAGE_FLATPROC_PREMASK       METADATA
  BASE.FITS          BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS     BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS          BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS     BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN           BOOL    TRUE            # Overscan subtraction
  BIAS               BOOL    FALSE           # Bias subtraction
  DARK               BOOL    TRUE            # Dark subtraction
  SHUTTER            BOOL    FALSE           # Shutter correction
  FLAT               BOOL    FALSE           # Flat-field normalisation
  MASK               BOOL    FALSE           # Mask bad pixels
  FRINGE             BOOL    FALSE           # Fringe subtraction
  PHOTOM             BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP        BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC      BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS          BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS          BOOL    TRUE            # Save 2nd binned chip image?

  DETREND.CONSTRAINTS  METADATA
    DARK METADATA
      DETTYPE STR DARK_PREMASK
      EXPTIME STR FPA.EXPOSURE
    END
  END   
END

# Overscan, bias, dark, shutter
PPIMAGE_OBDSF      METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
END

# Overscan, bias, dark, shutter, flat-field -- use FLAT_PREMASK
PPIMAGE_FLATMASK_PROCESS      METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL  TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL  FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?

  DETREND.CONSTRAINTS  METADATA
    DARK METADATA
      DETTYPE STR DARK_PREMASK
      EXPTIME STR FPA.EXPOSURE
    END
    FLAT METADATA
      DETTYPE STR FLAT_PREMASK
      FILTER  STR FPA.FILTERID
    END
  END   
END

# Overscan, bias, dark, shutter, flat-field, fringe, photom, astrom
PPIMAGE_DET_ONLY   METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  FPA1.FITS        BOOL    TRUE            # Save 1st binned fpa image? 
  FPA2.FITS        BOOL    TRUE            # Save 2nd binned fpa image? 
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
END

# Overscan, bias, dark, shutter, flat-field, fringe
PPIMAGE_OBDSFR     METADATA
  BASE.FITS        BOOL    TRUE            # Save base detrended image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  BACKGROUND       BOOL    TRUE            # Subtract background?
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
END

# Overscan, bias, dark, shutter, flat-field, fringe, photom, astrom
PPIMAGE_OBDSFRP    METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  BACKGROUND       BOOL    TRUE            # Subtract background?
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
END

# Overscan, bias, dark, shutter, flat-field, fringe, photom, astrom
PPIMAGE_OBDSFRA    METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  BACKGROUND       BOOL    TRUE            # Subtract background?
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
END

# Overscan, bias, dark, shutter, flat-field, fringe, photom
PPIMAGE_FLATCORR    METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?

  DETREND.CONSTRAINTS  METADATA
    BIAS METADATA
    END
    DARK METADATA
      DETTYPE STR DARK_PREMASK
      EXPTIME STR FPA.EXPOSURE
    END
    FLAT METADATA
      DETTYPE STR FLAT_PREMASK
      FILTER  STR FPA.FILTERID
    END
    FLATCORR METADATA
      FILTER  STR FPA.FILTERID
    END
    FRINGE METADATA
      FILTER   STR FPA.FILTERID
    END
    SHUTTER METADATA
    END
    MASK METADATA
    END	
    ASTROM METADATA
    END	
  END
END

# Overscan, bias, dark, shutter, flat-field, fringe, photom
PPIMAGE_FLATTEST    METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    TRUE            # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    TRUE            # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE	# Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?

  DETREND.CONSTRAINTS  METADATA
    BIAS METADATA
    END
    DARK METADATA
      EXPTIME STR FPA.EXPOSURE
    END
    FLAT METADATA
      DETTYPE STR FLATTEST
      FILTER  STR FPA.FILTERID
    END
    FRINGE METADATA
      FILTER   STR FPA.FILTERID
    END
    SHUTTER METADATA
    END
    MASK METADATA
    END	
    ASTROM METADATA
    END	
  END
END

# Photometry and astrometry only (for pre-reduced data)
PPIMAGE_PA         METADATA
  BASE.FITS        BOOL    FALSE           # Save base detrended image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  BIN1.JPEG        BOOL    TRUE            # Save 1st binned jpeg?
  BIN2.JPEG        BOOL    TRUE            # Save 2nd binned jpeg?
  PHOTOM           BOOL    TRUE            # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
END

# JPEG images for different types of residual images
# Save JPEG from BIN1 for bias
PPIMAGE_J1_RESID_B      METADATA
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BASE.FITS        BOOL    FALSE           # Save base image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  BIN1.FITS        BOOL    FALSE           # Save 1st binned chip image?
  BIN2.FITS        BOOL    FALSE           # Save 2nd binned chip image?
  BIN1.JPEG        BOOL    TRUE            # Save 1st binned jpeg?
  BIN2.JPEG        BOOL    FALSE           # Save 2nd binned jpeg?
  BIN1.XBIN        S32     1               # Image is already binned
  BIN1.YBIN        S32     1               # Image is already binned
  BIN2.XBIN        S32     1               # Image is already binned
  BIN2.YBIN        S32     1               # Image is already binned

  # GPC1 has significant dark structures: use a wide greyscale range
  PPIMAGE.JPEG1    METADATA
    COLORMAP       STR     -greyscale
    SCALE.MODE     STR     VALUE
    SCALE.MIN      F32     -50.0
    SCALE.MAX      F32     +50.0
  END
END

# Save JPEG from BIN2 for bias
PPIMAGE_J2_RESID_B        METADATA
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BASE.FITS        BOOL    FALSE           # Save base image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  BIN1.FITS        BOOL    FALSE           # Save 1st binned chip image?
  BIN2.FITS        BOOL    FALSE           # Save 2nd binned chip image?
  BIN1.JPEG        BOOL    FALSE           # Save 1st binned jpeg?
  BIN2.JPEG        BOOL    TRUE            # Save 2nd binned jpeg?
  BIN1.XBIN        S32     1               # Image is already binned
  BIN1.YBIN        S32     1               # Image is already binned
  BIN2.XBIN        S32     1               # Image is already binned
  BIN2.YBIN        S32     1               # Image is already binned

  # GPC1 has significant dark structures: use a wide greyscale range
  PPIMAGE.JPEG2    METADATA
    COLORMAP       STR     -greyscale
    SCALE.MODE     STR     VALUE
    SCALE.MIN      F32     -50.0
    SCALE.MAX      F32     +50.0
  END
END

# Save JPEG from BIN1 for flat
PPIMAGE_J1_RESID_F      METADATA
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BASE.FITS        BOOL    FALSE           # Save base image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  BIN1.FITS        BOOL    FALSE           # Save 1st binned chip image?
  BIN2.FITS        BOOL    FALSE           # Save 2nd binned chip image?
  BIN1.JPEG        BOOL    TRUE            # Save 1st binned jpeg?
  BIN2.JPEG        BOOL    FALSE           # Save 2nd binned jpeg?
  BIN1.XBIN        S32     1               # Image is already binned
  BIN1.YBIN        S32     1               # Image is already binned
  BIN2.XBIN        S32     1               # Image is already binned
  BIN2.YBIN        S32     1               # Image is already binned

  PPIMAGE.JPEG1    METADATA
    COLORMAP       STR     -greyscale
    SCALE.MODE     STR     FRACTION
    SCALE.MIN      F32     0.98
    SCALE.MAX      F32     1.02
  END
END

# Save JPEG from BIN2 for flat
PPIMAGE_J2_RESID_F        METADATA
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    FALSE           # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    FALSE           # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BASE.FITS        BOOL    FALSE           # Save base image?
  BASE.MASK.FITS   BOOL    FALSE           # Save base detrended image?
  BASE.VARIANCE.FITS BOOL    FALSE           # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL    FALSE           # Save chip-mosaic-ed image? 
  BIN1.FITS        BOOL    FALSE           # Save 1st binned chip image?
  BIN2.FITS        BOOL    FALSE           # Save 2nd binned chip image?
  BIN1.JPEG        BOOL    FALSE           # Save 1st binned jpeg?
  BIN2.JPEG        BOOL    TRUE            # Save 2nd binned jpeg?
  BIN1.XBIN        S32     1               # Image is already binned
  BIN1.YBIN        S32     1               # Image is already binned
  BIN2.XBIN        S32     1               # Image is already binned
  BIN2.YBIN        S32     1               # Image is already binned
		   
  PPIMAGE.JPEG2    METADATA
    COLORMAP       STR     -greyscale
    SCALE.MODE     STR     FRACTION
    SCALE.MIN      F32     0.98
    SCALE.MAX      F32     1.02
  END
END

# generate CTE map image
PPIMAGE_CTEMAP     METADATA
  BASE.FITS        BOOL    TRUE            # Save base image?
  BASE.MASK.FITS   BOOL    TRUE            # Save base detrended image?
  BASE.VARIANCE.FITS BOOL  TRUE            # Save base detrended image?
  CHIP.FITS        BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.MASK.FITS   BOOL    FALSE           # Save chip-mosaic-ed image? 
  CHIP.VARIANCE.FITS BOOL  FALSE           # Save chip-mosaic-ed image? 
  OVERSCAN         BOOL    FALSE           # Overscan subtraction
  OVERSCAN         BOOL    TRUE            # Overscan subtraction
  BIAS             BOOL    FALSE           # Bias subtraction
  DARK             BOOL    TRUE            # Dark subtraction
  SHUTTER          BOOL    FALSE           # Shutter correction
  FLAT             BOOL    TRUE            # Flat-field normalisation
  MASK             BOOL    FALSE           # Mask bad pixels
  FRINGE           BOOL    FALSE           # Fringe subtraction
  PHOTOM           BOOL    FALSE           # Source identification and photometry
  ASTROM.CHIP      BOOL    FALSE           # Astrometry per chip?
  ASTROM.MOSAIC    BOOL    FALSE           # Astrometry for mosaic?
  BIN1.FITS        BOOL    TRUE            # Save 1st binned chip image?
  BIN2.FITS        BOOL    TRUE            # Save 2nd binned chip image?
  CHECK.CTE        BOOL    TRUE            # measure CTE errors?

  DETREND.CONSTRAINTS  METADATA
    DARK METADATA
      DETTYPE STR DARK_PREMASK
      EXPTIME STR FPA.EXPOSURE
    END
    FLAT METADATA
      DETTYPE STR FLAT_PREMASK
      FILTER  STR FPA.FILTERID
    END
  END   
END

