PSASTRO.PIXEL.SCALE    F32  1.0

PSASTRO.IGNORE         STR    CRLIMIT,SATURATED,DEFECT,BLEND

PSASTRO.CATDIR		STR	SYNTH.SIMTEST
DVO.GETSTAR.PHOTCODE	STR	r
PSASTRO.MAX.NSTAR	S32	50	# max stars accepted for fitting
DVO.GETSTAR.MAX.RHO     F32    10000.0
DVO.GETSTAR.MIN.MAG     F32      10.0

PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
  FILTER   STR g
  ZEROPT   F32 24.0
  PHOTCODE STR g_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR r
  ZEROPT   F32  25.15
  PHOTCODE STR r_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR i
  ZEROPT   F32  25.00
  PHOTCODE STR i_SYNTH
END
PHOTCODE.DATA METADATA
  FILTER   STR z
  ZEROPT   F32  24.50
  PHOTCODE STR z_SYNTH
END
