# Pan-STARRS Imaging Sky Probe

# How to identify this type
RULE	METADATA
	SIMPLE		BOOL	TRUE
	NAXIS		S32	0
	TELESCOP	STR	ISP-1 
	INSTRUME	STR	ISP-Apogee
	DETECTOR	STR	ISP-Apogee-01
	ISPCAMER	STR	Apogee U42
END

# How to read this data
FILE	METADATA
	PHU		STR	FPA	# The FITS file represents an entire FPA
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	SEQID	# A PHU keyword for unique identifier within the hierarchy level
END

# What's in the FITS file?
CONTENTS	STR	Chip:Cell:amplifier

# Specify the cell data
CELLS	METADATA
	amplifier	METADATA
		CELL.TRIMSEC.SOURCE	STR	HEADER
		CELL.BIASSEC.SOURCE	STR	HEADER
		CELL.TRIMSEC		STR	TRIMSEC
		CELL.BIASSEC		STR	BIASSEC
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	FPA.OBSTYPE	STR	OBSTYPE
	FPA.OBJECT	STR	OBSTYPE
	FPA.FILTER	STR	FILTNAME
	FPA.RA		STR	RA
	FPA.DEC		STR	DEC
	FPA.RADECSYS	STR	RADECSYS
	FPA.ALT		STR	ALT
	FPA.AZ		STR	AZ
	FPA.POSANGLE	STR	ROTANGLE
	FPA.AIRMASS	STR	AIRMASS
	FPA.TIME	STR	MJD-OBS
	CHIP.TEMP	STR	CCDTEMP
	CELL.EXPOSURE	STR	EXPTIME
	CELL.DARKTIME	STR	DARKTIME
	CELL.TIME	STR	MJD-OBS
	CELL.GAIN	STR	GAIN
	CELL.READNOISE	STR	RDNOISE
	CELL.XBIN	STR	XBIN
	CELL.YBIN	STR	YBIN
#	CELL.SATURATION	STR	SATURATE	### Currently set to 0 ???
	CELL.BAD	STR	BADLEVEL
END

# Default PS concepts that may be specified by value
DEFAULTS	METADATA
	FPA.TIMESYS	STR	UTC
	CELL.SATURATION	F32	65535
	CELL.READDIR	S32	1
	CELL.TIMESYS	STR	UTC
	CHIP.XPARITY	S32	1
	CHIP.YPARITY	S32	1
	CHIP.X0		S32	0
	CHIP.Y0		S32	0
	CELL.XPARITY	S32	1
	CELL.YPARITY	S32	1
	CELL.X0		S32	0
	CELL.Y0		S32	0
END

FORMATS		METADATA
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
	FPA.TIME	STR	MJD
	CELL.TIME	STR	MJD
END

# PS Concepts to get from the database
DATABASE	METADATA
# None.
END
