
# location of DVO database tables
MOSAICNAME              SDSS

# keywords used by DVO to interpret the headers

# used by parse_time to find time-related keywords
MJD-KEYWORD		NONE
DATE-KEYWORD		DATE-OBS
DATE-MODE		YYYY-MM-DD
UT-KEYWORD		TAIHMS
JD-KEYWORD		NONE

# other keyword abstractions
EXPTIME-KEYWORD		EXPTIME
AIRMASS-KEYWORD		AIRMASS
CCDNUM-KEYWORD		EXTNAME
ST-KEYWORD		NONE
OBSERVATORY-LATITUDE	NONE
OBSERVATORY-LONGITUDE	NONE
SUBPIX_DATAFILE		NONE

# instrumental magnitude range for calibration mode 
CAL_INSTMAG_MAX		-7.0
CAL_INSTMAG_MIN		-9.5

# exclude overscan region from the dB image boundaries
XOVERSCAN		0
YOVERSCAN		0

# only upload stars within region; a value of 0 means ignore the limit
ADDSTAR_XMIN		0
ADDSTAR_XMAX		0
ADDSTAR_YMIN		0
ADDSTAR_YMAX		0

# exclude stars with SN > SNLIMIT (ADDSTAR_SNLIMIT overrides old name MIN_SN_FSTAT)
ADDSTAR_SNLIMIT		0

# allowed astrometry error (arcseconds)
ADDSTAR_MAX_CERROR	5.0

# correlation radius (arcseconds)
ADDSTAR_RADIUS		5.0

# scaled correlation radius 
ADDSTAR_NSIGMA		0
