
# astrometry matching parameters

# nominal plate scale (microns / pixel)
PSASTRO.PIXEL.SCALE    F32  10.0

# pmAstromGridMatch:
PSASTRO.GRID.MIN.ANGLE F32 -2.0
PSASTRO.GRID.MAX.ANGLE F32 +2.0
PSASTRO.GRID.DEL.ANGLE F32  0.25
PSASTRO.GRID.MIN.SIGMA F32  5.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32   10000.
PSASTRO.GRID.SCALE     F32     500

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32     75
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

# match radius in pixels for CHIP astrometry
PSASTRO.MATCH.RADIUS   F32    8

# pmAstromMatchFit
PSASTRO.CHIP.ORDER     S32      3  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas

PSASTRO.MAX.ERROR      F32      10.0 # max error in pixels
PSASTRO.MIN.NSTAR      S32      10   # min fitted stars in solution

MAG_MAX                F32      10
PSASTRO.CATDIR         STR      SYNTH.BRIGHT ## XXX this should probably be using SYNTH.GRIZY
PSASTRO.MATCH.LUMFUNC  BOOL     TRUE
