
# location of DVO database tables
CATDIR			/data/alala.0/eugene/isp/catdir

# keywords used by DVO to interpret the headers

# keyword abstractions:
DATE-KEYWORD		DATE
DATE-MODE		dd/mm/yy
UT-KEYWORD		NONE

# XXX MAJOR hack...
JD-KEYWORD		XBINNING 
MJD-KEYWORD		NONE

# other keyword abstractions
EXPTIME-KEYWORD		EXPTIME
AIRMASS-KEYWORD		AIRMASS
CCDNUM-KEYWORD		EXTNAME
ST-KEYWORD		NONE
OBSERVATORY-LATITUDE	NONE
OBSERVATORY-LONGITUDE	NONE
SUBPIX_DATAFILE		NONE

# instrumental magnitude range for calibration mode 
CAL_INSTMAG_MAX		0
CAL_INSTMAG_MIN		0

# exclude overscan region from the dB image boundaries
XOVERSCAN		0
YOVERSCAN		0

# only upload stars within region; a value of 0 means ignore the limit
ADDSTAR_XMIN		0
ADDSTAR_XMAX		0
ADDSTAR_YMIN		0
ADDSTAR_YMAX		0

# exclude stars with SN > SNLIMIT (ADDSTAR_SNLIMIT overrides old name MIN_SN_FSTAT)
ADDSTAR_SNLIMIT		0

# correlation radius (arcseconds)
ADDSTAR_RADIUS		1.0

# scaled correlation radius 
ADDSTAR_NSIGMA		0

MOSAICNAME              VYSOS5
IMAGE_SCATTER           0.075  # mark images POOR if stdev(Mcal) > IMAGE_SCATTER
STAR_SCATTER            0.005  # mark stars POOR if stdev(Mrel) > STAR_SCATTER
IMAGE_OFFSET            0.100  # mark images POOR if abs(delta(Mcal)) > IMAGE_OFFSET
STAR_CHISQ              10.0   # mark stars POOR if Xm > STAR_CHISQ
STAR_TOOFEW              3     # mark star FEW if N(good) < STAR_TOOFEW
IMAGE_TOOFEW            10     # mark image FEW if N(good) < IMAGE_TOOFEW
IMAGE_GOOD_FRACTION     0.05   # mark image FEW if N(good) < IMAGE_GOOD_FRACTION * Nstars

SCATTER_LIM             15.0
MAG_LIM                 20.0   # select stars brighter than this for relphot analysis
SIGMA_LIM               0.015  # select measurements with dM < SIGMA_LIM for relphot analysis
# INST_MAG_MIN         -17     # optional constraints on magnitude ranges
# INST_MAG_MAX         -13     # optional constraints on magnitude ranges

RELPHOT_GRID_BINNING    256
RELPHOT_GRID_X 6
RELPHOT_GRID_Y 14

PM_DT_MIN               0.25
PM_TOOFEW               4
POS_TOOFEW              1

