	
# astrometry matching parameters

# nominal plate scale (microns / pixel)
PSASTRO.PIXEL.SCALE    F32  1.0

# pmAstromGridAngle
# max grid offset in FP units (microns)
# use plate-scale to make this in pixels?
PSASTRO.GRID.OFFSET    F32     500.
PSASTRO.GRID.SCALE     F32      50
PSASTRO.GRID.NSTAR.MAX S32     800 # max stars accepted for fitting

PSASTRO.MAX.NRAW      S32      1000   # max stars accepted for fitting (0 for all)
PSASTRO.MAX.NREF      S32      2000   # max stars accepted for fitting (0 for all)

# extra field for ref stars:
PSASTRO.FIELD.PADDING  F32     0.1   # pad by this fraction of the full mosaic (may need to be larger for single chips)

# 
PSASTRO.MIN.INST.MAG.RAW       F32     -20.0   # min instrumental magnitude for stars accepted for fitting
PSASTRO.MAX.INST.MAG.RAW       F32     -8.0   # max instrumental magnitude for stars accepted for fitting

#
# PSASTRO.GRID.MIN.ANGLE F32 0.0 # start angle (degrees)
# PSASTRO.GRID.MAX.ANGLE F32 360.0
# PSASTRO.GRID.DEL.ANGLE F32  1.0

#PSASTRO.GRID.MIN.ANGLE F32  +178.0 # start angle (degrees)
#PSASTRO.GRID.MAX.ANGLE F32  +182.0
PSASTRO.GRID.MIN.ANGLE F32  -5.0 # start angle (degrees)
PSASTRO.GRID.MAX.ANGLE F32  +5.0
PSASTRO.GRID.DEL.ANGLE F32   0.5

#
PSASTRO.GRID.MIN.SCALE F32  0.990
PSASTRO.GRID.MAX.SCALE F32  1.011
PSASTRO.GRID.DEL.SCALE F32  0.010

# single-chip radius match in pixels
PSASTRO.MATCH.RADIUS.N0 F32    30
PSASTRO.MATCH.RADIUS.N1 F32    30
PSASTRO.MATCH.RADIUS.N2 F32    30
PSASTRO.MATCH.RADIUS.N3 F32    20
PSASTRO.MATCH.RADIUS.N4 F32    20
PSASTRO.MATCH.RADIUS.N5 F32    20
PSASTRO.MATCH.RADIUS.N6 F32    10
PSASTRO.MATCH.RADIUS.N7 F32    10
PSASTRO.MATCH.FIT.NITER S32     3

# pmAstromMatchFit
PSASTRO.CHIP.ORDER     S32      3  # fit order
PSASTRO.CHIP.NITER     S32      3  # fit clipping iterations
PSASTRO.CHIP.NSIGMA    F32      3  # fit clipping sigmas

# XXX Test for taurus
PSASTRO.GRID.MIN.SIGMA  F32  1.0
PSASTRO.IGNORE          STR  SATURATED,CRLIMIT,DEFECT,BLEND,FAIL

PSASTRO.MAX.ERROR      F32     1.25 # max allow error for valid solution (UNITS?)

# these tweak are in FP units (pixels, currently)
PSASTRO.TWEAK.SCALE     F32      1
PSASTRO.TWEAK.RANGE     F32    150
PSASTRO.TWEAK.SMOOTH    F32      2
PSASTRO.TWEAK.NSIGMA    F32      3

PSASTRO.USE.MODEL             BOOL     TRUE

# Mosaic Astrometry options
PSASTRO.MOSAIC.MODE         BOOL   FALSE

PSASTRO.CATDIR              STR      SYNTH.BRIGHT
DVO.GETSTAR.PHOTCODE        STR      r
DVO.GETSTAR.MAX.RHO         F32      1000.0

PHOTCODE.DATA MULTI
PHOTCODE.DATA METADATA
  FILTER   STR g
  ZEROPT   F32 15.0
  PHOTCODE STR g_SYNTH
  GHOST_MAX_MAG                   F32 -20.0
END
PHOTCODE.DATA METADATA
  FILTER   STR r
  ZEROPT   F32 21.5
  PHOTCODE STR r_SYNTH
  GHOST_MAX_MAG                   F32 -20.0
END
PHOTCODE.DATA METADATA
  FILTER   STR i
  ZEROPT   F32 20.5
  PHOTCODE STR i_SYNTH
  GHOST_MAX_MAG                   F32 -20.0
END
PHOTCODE.DATA METADATA
  FILTER   STR z
  ZEROPT   F32 19.0
  PHOTCODE STR z_SYNTH
  GHOST_MAX_MAG                   F32 -20.0
END
PHOTCODE.DATA METADATA
  FILTER   STR y
  ZEROPT   F32 19.0
  PHOTCODE STR y_SYNTH
  GHOST_MAX_MAG                   F32 -20.0
END

PSASTRO.PLOT.REF.MAG.MIN  F32 +5.0
PSASTRO.PLOT.REF.MAG.MAX  F32 +12.0
DVO.GETSTAR.MAX.RHO         F32      1000.0

# PSASTRO.MATCH.LUMFUNC  BOOL     TRUE

# DVO.GETSTAR.MAG.MAX         F32      20.0
# XXX need to be able to limit the density!

# XXX this does not really make sense -- a single chip model cannot be inconsistent in rotation with the model!
PSASTRO.ANGLE.TOLERANCE       F32      10.0
