
# XXX check on this value
PSF_CLUMP_NSIGMA                    F32   3.5             # region of Sx,Sy plane to use for selecting PSF stars

# do we want to do 2-pass analysis?
# BREAK_POINT                         STR   PASS1     

# keep these large since psfs are so undersampled
PSPHOT.CR.NSIGMA.LIMIT              F32   5.0  # sources with crNsigma greater that this get tagged as likely cosmic rays
PSPHOT.EXT.NSIGMA.LIMIT             F32   5.0  # sources with extNsigma greater that this get tagged as likely extended sources

# small psfs so small grow radius
FOOTPRINT_GROW_RADIUS               S32   1       	  # How much to grow bright footprints
FOOTPRINT_GROW_RADIUS_2             S32   2       	  # How much to grow faint footprints

PSF_MODEL                           STR   PS_MODEL_PGAUSS
PSF_CLUMP_NX                        S32   3               # subdivide image in to NX x NY regions for 
PSF_CLUMP_NY                        S32   3               # selecting PSF stars

PSF.TREND.MODE                      STR   MAP
PSF.TREND.NX                        S32   5
PSF.TREND.NY                        S32   5

PSF.RESIDUALS.SPATIAL_ORDER         S32   1               # fit spatial variations of the residuals at this order (0,1)
