# Simulation test camera with single chip with single cell

# How to identify this type
RULE	METADATA
	INSTRUME	STR	SIMTEST
	TELESCOP	STR	SimScope1
#	NAXIS		S32	2
END

# How to read this data
FILE	METADATA
	PHU		STR	FPA	# The FITS file represents an entire FPA
	EXTENSIONS	STR	NONE	# There are no extensions
	FPA.OBS		STR	OBJECT	# A PHU keyword for unique identifier within the hierarchy level
END

# What's in the FITS file?
CONTENTS	STR	Chip:Cell:amplifier

# Specify the cell data
CELLS	METADATA
	amplifier	METADATA
		CELL.TRIMSEC.SOURCE	STR	HEADER
		CELL.TRIMSEC		STR	TRIMSEC
		CELL.BIASSEC.SOURCE	STR	HEADER
		CELL.BIASSEC		STR	BIASSEC
	END
END

# How to translate PS concepts into FITS headers
TRANSLATION	METADATA
	FPA.TELESCOPE	STR	TELESCOP
	FPA.INSTRUMENT	STR	INSTRUME
#FPA.OBSTYPE	STR	OBSTYPE
	FPA.OBSTYPE	STR	OBS-TYPE
	FPA.AIRMASS	STR	AIRMASS
        FPA.FILTERID    STR     FILTER
	FPA.FILTER	STR	FILTER
	FPA.POSANGLE	STR	POSANGLE
	FPA.RA		STR	RA
	FPA.DEC		STR	DEC
	FPA.OBJECT	STR	OBJECT
        FPA.OBS.MODE    STR     OBS_MODE
#	FPA.TIME	STR	FOOBIRD			# keyword name does not imply format
#	FPA.TIME	STR	DATE-OBS UTC-OBS	# Date and time
	FPA.TIME	STR	MJD-OBS	 		# Date and time
	FPA.EXPOSURE	STR	EXPTIME
	FPA.TEMP	STR	DETTEMP
	FPA.ZP		STR	MAG_ZP
	CELL.EXPOSURE	STR	EXPTIME
	CELL.DARKTIME	STR	DARKTIME
#	CELL.TIME	STR	DATE-OBS UTC-OBS	# Date and time
	CELL.TIME	STR	MJD-OBS	 		# Date and time
	CELL.XBIN	STR	XBIN
	CELL.YBIN	STR	YBIN
END

# Default PS concepts that may be specified by value
DEFAULTS	METADATA
	FPA.TIMESYS	STR	TAI  # valid values: TAI, UTC, UT1, TT (JD, MJD require TAI)
#	FPA.TIMESYS	STR	UTC  # valid values: TAI, UTC, UT1, TT (JD, MJD require TAI)
	FPA.RADECSYS	STR	ICRS
	FPA.DETECTOR	STR	SIMTEST
        FPA.LONGITUDE   F64     10.4170608521 # West Longitude in Hours 
        FPA.LATITUDE    F64     20.7070999146 # North Latitude in Degrees 
        FPA.ELEVATION   F32     3048.0 # altitude in meters
	CELL.SATURATION	F32	1000000
	CELL.BAD	F32	0
	CELL.READDIR	S32	1
	CELL.TIMESYS	STR	TAI  # valid values: TAI, UTC, UT1, TT (JD, MJD require TAI)
#	CELL.TIMESYS	STR	UTC  # valid values: TAI, UTC, UT1, TT (JD, MJD require TAI)
	CELL.XPARITY	S32	1
	CELL.YPARITY	S32	1
	CHIP.XPARITY	S32	1
	CHIP.YPARITY	S32	1
	CELL.X0		S32	0
	CELL.Y0		S32	0
	CELL.XSIZE	S32	1000
	CELL.YSIZE	S32	1000
	CELL.XWINDOW	S32	0
	CELL.YWINDOW	S32	0
	CELL.GAIN	F32	1.0
	CELL.READNOISE	F32	10.0
END

FORMATS		METADATA
	FPA.LONGITUDE	STR	HOURS
	FPA.LATITUDE	STR	DEGREES
	FPA.RA		STR	HOURS
	FPA.DEC		STR	DEGREES
#FPA.TIME	STR	SEPARATE,YEAR.FIRST
#CELL.TIME	STR	SEPARATE,YEAR.FIRST
FPA.TIME	STR	MJD
CELL.TIME	STR	MJD
END

# note that the time keyword name and format must match that defined in dvo.config

# Notes on Time formats and related:

# TRANSLATION:FPA.TIME : this defines the keywords in the input and output headers which
#   store the time of observation.  Note: the name of the keywords do not imply anything about the format
#   Note: if the "separate" style of format is used, two keywords must be supplied (and vice versa)

# DEFAULTS:FPA.TIMESYS : this defines the time system (TAI, UTC, UT1, TT) that the header time represents

# FORMATS:FPA.TIME : this specifies the format in which the time information is written to the header
#   valid values are:
#      YYYYMMDD, MMDDYYYY, DDMMYYYY (these define the order of year, month, day in the output)
#          (note that the output formats have dashes between year, month, day; input formats may have
#           dashes or slashes)
#      ISO : e.g., 2010-09-01T00:00:00.000000
#      YEAR.FIRST (synonym for YYYYMMDD)
#      USA (synonmy for MMDDYYYY)
#      BACKWARDS (synonym for DDMMYYYY)
#      MJD
#      JD  
#   optional SEPARATE style: if the FPA.TIME value includes SEPARATE (comma-separated from the rest), then
#      the date and time will be written to two keywords (date keyword first)
#      WARNING: if SEPARATE is specified and only 1 keyword supplied, the output will silently ignore
#       the time output
#   options PRE2000 style: (comma-separated) : treats year as 2-digit year in 20th century (needed for old headers)

# If FPA.TIME & CELL.TIME are both specified, CELL.TIME will be used
# If only FPA.TIME is specified, it will be used
#
# Simtest output headers have information defined by 
