
# Ordinates for fitting dark current as function of darktime and fpa temp:
# Counts = C0 + (CT0 + CT1*Temp + CT2*Temp^2)*exptime
# the 0th order term is implied, right?
# DARK.ORDINATES	METADATA
# 	CELL.DARKTIME	S32	1
#  	FPA.TEMP	METADATA
#  		ORDER	S32	1
# 		RULE	STR	FPA.TEMP * CELL.DARKTIME
#  	END
#  	# FPA.TEMP2	METADATA
#  	# 	ORDER	S32	1
# 	# 	RULE	STR	FPA.TEMP * FPA.TEMP * CELL.DARKTIME
#  	# END
# END


# Ordinates for fitting dark current as function of darktime and fpa temp:
# Counts = C0 + (CT0 + CT1*Temp + CT2*Temp^2)*exptime
# the 0th order term is implied, right?
# DARK.ORDINATES	METADATA
# 	CELL.DARKTIME	S32	1
#  	FPA.TEMP	METADATA
#  		ORDER	S32	1
# 		RULE	STR	FPA.TEMP * CELL.DARKTIME
#  	END
#  	FPA.TEMP2	METADATA
#  		ORDER	S32	1
# 		RULE	STR	FPA.TEMP * FPA.TEMP * CELL.DARKTIME
#  	END
# END
