### Recipe values for ppSim, the Pan-STARRS data simulator

# for a quick test, we are going to skip shutter and dark corrections
TESTDATA  METADATA
 PSF.MODEL       STR     PS_MODEL_PGAUSS
 SHUTTER.TIME	 F32	 0.0
 DARK.RATE       F32     0.0         
 SCATTER.FRAC    F32     0.0
 BIAS            BOOL    FALSE
 FLAT            BOOL    FALSE
 BIAS.LEVEL	 F32	 1000.0		# Bias level (e)
 BIAS.RANGE	 F32	 20.0		# Range of bias values (e)
 BIAS.ORDER	 S32 	 7		# Order for overscan polynomial

 STARS.MAG	 F32	 10.0		# Brightest magnitude for fake stars
 STARS.DENSITY	 F32     100.0		# Stellar density (per square degree) at the brightest magnitude
 STARS.SIGMA.LIM F32     2.0            # significance of faintest sources
 STARS.LUM	 F32	 0.35		# Stellar luminosity function slope (magnitude slope)
END

# for a quick test, we are going to skip shutter and dark corrections
STACKTEST.MAKE  METADATA
 PSF.MODEL       STR     PS_MODEL_PGAUSS
 SHUTTER.TIME	 F32	 0.0
 DARK.RATE       F32     0.0         
 SCATTER.FRAC    F32     0.0
 BIAS            BOOL    FALSE
 FLAT            BOOL    FALSE
 BIAS.LEVEL	 F32	1000.0		# Bias level (e)
 BIAS.RANGE	 F32	20.0		# Range of bias values (e)
 BIAS.ORDER	 S32	7		# Order for overscan polynomial

 # generate a set of fake stars
 STARS.REAL	 BOOL	FALSE		# Add stars from a catalogue?
 STARS.FAKE      BOOL   TRUE		# Add fake stars, randomly distributed?
 MATCH.DENSITY   BOOL   TRUE            # significance of faintest sources

 # parameters of fake stars
 STARS.MAG	 F32	 10.0		# Brightest magnitude for fake stars
 STARS.DENSITY	 F32     100.0		# Stellar density (per square degree) at the brightest magnitude
 STARS.SIGMA.LIM F32     1.0            # significance of faintest sources
 STARS.LUM	 F32	 0.35		# Stellar luminosity function slope (magnitude slope)

 EXPTIME     	 F32    10.0
 RA          	 F32    5.0
 DEC         	 F32    5.0
 PA          	 F32    0.0
 SEEING      	 F32    1.0
 SCALE       	 F32    0.25
 ZEROPOINT   	 F32    25.0            # if this value is not NAN, it overrides the per-filter zero points
 		 			# set in the ZEROPTS metadata (see recipes/ppSim.config)
 SKY.MAGS    	 F32    22.0		# if SKY.RATE is set (not NAN), it overrides this value
END

# for a quick test, we are going to skip shutter and dark corrections
STACKTEST.RUN  METADATA
 PSF.MODEL       STR     PS_MODEL_GAUSS
 SHUTTER.TIME	 F32	 0.0
 DARK.RATE       F32     0.0         
 SCATTER.FRAC    F32     0.0
 BIAS            BOOL    FALSE
 FLAT            BOOL    FALSE
 BIAS.LEVEL	 F32	1000.0		# Bias level (e)
 BIAS.RANGE	 F32	20.0		# Range of bias values (e)
 BIAS.ORDER	 S32	7		# Order for overscan polynomial

 # generate a set of fake stars
 STARS.REAL	 BOOL	TRUE		# Add stars from a catalogue?
 STARS.FAKE      BOOL   FALSE		# Add fake stars, randomly distributed?
 MATCH.DENSITY   BOOL   TRUE            # significance of faintest sources

 # parameters of fake stars
 STARS.MAG	 F32	 10.0		# Brightest magnitude for fake stars
 STARS.DENSITY	 F32     1.0		# Stellar density (per square degree) at the brightest magnitude
 STARS.SIGMA.LIM F32     0.1            # significance of faintest sources
 STARS.LUM	 F32	 0.35		# Stellar luminosity function slope (magnitude slope)

 EXPTIME     	 F32    10.0
 RA          	 F32    5.0
 DEC         	 F32    5.0
 PA          	 F32    0.0
 SEEING      	 F32    1.0
 SCALE       	 F32    0.25
 ZEROPOINT   	 F32    25.0
 SKY.MAGS    	 F32    22.0
END

