
# same as ppSim.config (if YES, <apResid> should be 0.0)
# ppSim currently uses PS_MODEL_GAUSS
PSF_MODEL                           STR   PS_MODEL_GAUSS
PSF_CLUMP_GRID_SCALE                F32   1.0             # size of Sx,Sy image pixel

EXTENDED_TEST METADATA
  # Extended source fit parameters
  # these models are used for high-quality shape analysis after all sources have been removed
  EXTENDED_SOURCE_FITS                BOOL  TRUE  # perform the detailed extended sourc fits?
  EXT_MODEL                           STR   PS_MODEL_TRAIL

  # extended source models applied to sources
  EXTENDED_SOURCE_MODELS METADATA 
   TYPE      EXTENDED_SOURCE_MODEL  MODEL            SNLIM   PSF_CONVOLVED
   TRAIL_RAW EXTENDED_SOURCE_MODEL  PS_MODEL_TRAIL    10.0   FALSE
  END
END

GALAXY_TEST METADATA
  # Extended source fit parameters
  # these models are used for high-quality shape analysis after all sources have been removed
  SAVE.RESID BOOL T

  EXTENDED_SOURCE_FITS                BOOL  TRUE  # perform the detailed extended sourc fits?
  EXT_MODEL                           STR   PS_MODEL_QGAUSS
  PSF_MODEL                           STR   PS_MODEL_PS1_V1

  EXTENDED_SOURCE_SN_LIM              F32   5.0

  LMM_FIT_CHISQ_CONVERGENCE           BOOL  FALSE           # use the (old) chisq convergence or the new parameter one 
  LMM_FIT_GAIN_FACTOR_MODE            S32   2               # there are 3 options to determine the gain factor (0,1,2)
  EXT_FIT_MIN_TOL                     F32   0.1             # Fit tolerance for EXT

  # XXX these are only needed if we want to get perfect fits of the synthetic data
  PSF_FIT_RADIUS_SCALE         F32   3.75
  EXT_FIT_NSIGMA_CONV          F32   11
  PSF.RESIDUALS BOOL F

  # if this is defined, it gives a list of the model names to fit below (ALL or NONE are also valid)
  EXTENDED_SOURCE_MODELS_SELECTION    STR   NONE

  # extended source models applied to sources
  EXTENDED_SOURCE_MODELS METADATA 
    TYPE      EXTENDED_SOURCE_MODEL  MODEL            SNLIM   PSF_CONVOLVED
    EXP_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_EXP     3.0     TRUE
    DEV_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_DEV     3.0     TRUE
    SER_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_SERSIC  3.0     TRUE
    GAU_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_GAUSS   3.0     TRUE
    PGA_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_PGAUSS  3.0     TRUE
    QGA_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_QGAUSS  3.0     TRUE
    PS1_CONV  EXTENDED_SOURCE_MODEL  PS_MODEL_PS1_V1  3.0     TRUE

    EXP_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_EXP     10.0    FALSE
    DEV_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_DEV     10.0    FALSE
    SER_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_SERSIC  10.0    FALSE
    GAU_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_GAUSS   10.0    FALSE
    PGA_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_PGAUSS  10.0    FALSE
    QGA_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_QGAUSS  10.0    FALSE
    PS1_RAW   EXTENDED_SOURCE_MODEL  PS_MODEL_PS1_V1  10.0    FALSE
  END

  EXT.ANALYSIS.MAG.LIMITS METADATA
      TYPE  DATA FILTER.ID MAG.LIMIT.PETRO  MAG.LIMIT.EXTFIT
      gband DATA g         25               NAN
      rband DATA r         25       	    NAN 
      iband DATA i         25		    NAN
      zband DATA z         25		    NAN
      yband DATA y         25		    NAN
      wband DATA w         25		    NAN
      other DATA any       25		    NAN
  END
END

