## system-wide options : these are concepts not specific to any camera or recipe

### Setups for each camera system
CAMERAS		METADATA
 	MEGACAM			STR	megacam/camera.config		# CFHT MegaCam
	CFH12K			STR	cfh12k/camera.config		# CFHT 12K
	ISP-Apogee     		STR	isp/camera.config		# Pan-STARRS Imaging sky probe
	MOSAIC2 		STR	mosaic2/camera.config	        # CTIO MOSAIC2 camera, for ESSENCE
	SDSSmosaic		STR	sdssmosaic/camera.config	# SDSS, mosaic version
	SDSS			STR	sdss/camera.config		# Sloan Digital Sky Survey
 	GPC2			STR	gpc2/camera.config		# Pan-STARRS GPC2
	GPC1			STR	gpc1/camera.config		# Pan-STARRS GPC1
	GPC1-TDI		STR	gpc1-tdi/camera.config		# Pan-STARRS GPC1 with TDI guiding
	TC3			STR	tc3/camera.config		# Pan-STARRS Test Camera III
	ESOWFI			STR	esowfi/camera.config		# ESO Wide-Field Imager
	LBCRED                  STR     lbc_red/camera.config           # Large Binocular Camera Red
	LULIN			STR	lulin/camera.config		# Lulin Optical Telescope 1m
	UH8K			STR	uh8k/camera.config		# WFI/8k on UH88
	VYSOS5			STR	vysos5/camera.config		# VYSOS 5in
	VYSOS20			STR	vysos20/camera.config		# VYSOS 5in
	SSP			STR	ssp/camera.config		# Pan-STARRS spectroscopic sky probe
	HSC			STR	hsc/camera.config		# Subaru Hypersuprime cam
	SUPRIMECAM		STR	suprime/camera.config           # Subaru Suprimecam
	SIMMOSAIC		STR	simmosaic/camera.config		# Simulated mosaic, for testing
	SIMTEST			STR	simtest/camera.config		# Simulation test camera
	SIMPLE			STR	simple/camera.config		# If all else fails....
END

## directories exist for other camera, introduce if they are tested and working
#	UCAM			STR	ucam/camera.config
#	LRIS_BLUE		STR	lris_blue/camera.config
#	LRIS_RED		STR	lris_red/camera.config

# Header keywords for skycell concepts; required because DVO doesn't read HIERARCH
SKYCELLS	METADATA
	FPA.TIME	STR	MJD-OBS
	CELL.TIME	STR	MJD-OBS
	FPA.EXPOSURE	STR	EXPTIME
	CELL.EXPOSURE	STR	EXPTIME
	FPA.AIRMASS	STR	AIRMASS
END

RECIPES		METADATA		# Site-level recipes
 	MASKS		STR		recipes/masks.16bit.config	# Mask values
 	REJECTIONS	STR		recipes/rejections.config # Rejection for detrend creation
	PPIMAGE		STR		recipes/ppImage.config  # Image reduction
 	PPMERGE		STR		recipes/ppMerge.config	# Image combination
  	PPSTATS		STR		recipes/ppStats.config	# Image statistics
 	PSPHOT		STR     	recipes/psphot.config	# Photometry
 	PSASTRO		STR		recipes/psastro.config	# Astrometry
 	PPSTACK		STR		recipes/ppStack.config	# Combination
 	PSWARP		STR		recipes/pswarp.config   # Warping
 	PPSIM		STR		recipes/ppSim.config	# Simulations
 	PPSUB		STR		recipes/ppSub.config	# Subtraction
 	GDIFF		STR		recipes/gDiff.config	# Subtraction
 	ADDSTAR         STR             recipes/addstar.config  # addstar to dvodb
 	JPEG		STR		recipes/jpeg.mdc	# JPEG creation
  	PPSTATS_METADATA STR		recipes/ppStatsFromMetadata.config # Image statistics
 	DQSTATS         STR             recipes/dqStatsTool.config # data quality statistics
  	DVOCORR         STR		recipes/dvocorr.config # Image statistics
 	PPSKYCELL	STR		recipes/ppSkycell.config  # JPEGs of skycells
 	PPNOISEMAP	STR		recipes/ppNoiseMap.config # used to create the noise map
	CENSOR		STR		recipes/censor.config # used to create the noise map
	PPSMOOTH	STR		recipes/ppSmooth.config  # stand-alone image smoothing
	PPVIZPSF	STR		recipes/ppVizPSF.mdc # PSF visualisation
        NIGHTLY_SCIENCE STR             recipes/nightly_science.config # Nightly Science
	PPBACKGROUND	STR		recipes/ppBackground.mdc       # Background restoration
        PSVIDEOPHOT	STR		recipes/psvideophot.config # video cell photometry
        PSTAMP          STR             recipes/pstamp.config       # postage stamp server
        FPCAMERA        STR             recipes/fpcamera.config       # forced photometry on chip
#	REMOTE          STR             recipes/remote_hosts.config # Remote supercomputer processing
END
